/*--------------------------------

nike Web Font
Generated using nucleoapp.com

-------------------------------- */
@font-face {
  font-family: 'nike';
  src: url('../../fonts/nike.eot');
  src: url('../../fonts/nike.eot') format('embedded-opentype'), url('../../fonts/nike.woff2') format('woff2'), url('../../fonts/nike.woff') format('woff'), url('../../fonts/nike.ttf') format('truetype'), url('../../fonts/nike.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #333333;
  background: white;
}

a {
  color: #608CEE;
  text-decoration: none;
}

/* --------------------------------

Main components

-------------------------------- */
header {
  text-align: center;
  padding: 80px 0 48px;
}

header h1 {
  font-size: 2.8rem;
}

header p {
  font-size: 1.4rem;
  margin-top: 1em;
}

header a:hover {
  text-decoration: underline;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
  border-radius: .25em;
  transition: background 0.2s;
  user-select: none;
  overflow: hidden;
  text-align: center;
  padding: 1em;
}

ul li:hover {
  background: #f8f8f8;
}

ul p, ul em, ul input {
  display: block;
  font-size: 1.1rem;
  color: rgba(0,0,0,0.6);
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 11rem;
}

ul p {
  padding: 10px 0;
}

ul p::selection, ul em::selection {
  background: #608CEE;
  color: #fff;
}

ul p::-moz-selection, ul em::-moz-selection {
  background: #608CEE;
  color: #fff;
}

ul em {
  margin-bottom: 8px;
}

ul em::before {
  content: '[';
}
ul em::after {
  content: ']';
}

ul input {
  text-align: center;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

/* --------------------------------

icons

-------------------------------- */
.icon {
  display: inline-block;
  font: normal normal normal 32px/1 'nike';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  font icons
-------------------------*/

.icon-times::before {
    content: "\ea02";
}

.icon-facebook::before {
    content: "\ea03";
}

.icon-google::before {
    content: "\ea04";
}

.icon-pencil::before {
    content: "\ea05";
}

.icon-Placeholder::before {
    content: "\ea06";
}

.icon-search-solid-1::before {
    content: "\ea07";
}

.icon-running-solid-1::before {
    content: "\ea08";
}

.icon-jordan::before {
    content: "\ea09";
}

.icon-question-solid::before {
    content: "\ea0a";
}

.icon-nike::before {
    content: "\ea0b";
}

.icon-google-plus-1::before {
    content: "\ea0c";
}

.icon-music-solid-1::before {
    content: "\ea0d";
}

.icon-microchip-solid-1::before {
    content: "\ea0e";
}

.icon-basketball-ball-solid-1::before {
    content: "\ea0f";
}

.icon-information::before {
    content: "\ea10";
}

.icon-book::before {
    content: "\ea11";
}

.icon-futbol-1::before {
    content: "\ea12";
}

.icon-file-image::before {
    content: "\ea13";
}

.icon-female-solid-1::before {
    content: "\ea14";
}

.icon-facebook-f-1::before {
    content: "\ea15";
}

.icon-eye::before {
    content: "\ea16";
}

.icon-comment-1::before {
    content: "\ea17";
}

.icon-check-solid-1::before {
    content: "\ea18";
}

.icon-camera::before {
    content: "\ea19";
}

.icon-calendar::before {
    content: "\ea1a";
}

.icon-bookmark::before {
    content: "\ea1b";
}

.icon-vestuario::before {
    content: "\ea1c";
}

.icon-arrow-up::before {
    content: "\ea1d";
}

.icon-angle-down-solid::before {
    content: "\ea1e";
}

.icon-angle-up-solid::before {
    content: "\ea1f";
}

.icon-angle-right-solid::before {
    content: "\ea20";
}

.icon-angle-left-solid::before {
    content: "\ea21";
}

.icon-alert::before {
    content: "\ea22";
}

.icon-yoga::before {
    content: "\ea23";
}

.icon-team::before {
    content: "\ea24";
}

.icon-wear::before {
    content: "\ea25";
}

.icon-vert_dots::before {
    content: "\ea26";
}

.icon-thumbs-up-1::before {
    content: "\ea27";
}

.icon-user-1::before {
    content: "\ea28";
}

.icon-star-empty::before {
    content: "\ea29";
}

.icon-treino::before {
    content: "\ea2a";
}

.icon-share-square-1::before {
    content: "\ea2b";
}

.icon-times-solid-1::before {
    content: "\ea2c";
}

.icon-facebook-f-1-5::before {
    content: "\ea2d";
}

.icon-google-plus-1-5::before {
    content: "\ea2e";
}

.icon-email::before {
    content: "\ea2f";
}

.icon-telegram::before {
    content: "\ea30";
}

.icon-whatsapp::before {
    content: "\ea31";
}

.icon-share-variant::before {
    content: "\ea32";
}

.icon-pencil-2::before {
    content: "\ea33";
}

.icon-Placeholder-2::before {
    content: "\ea34";
}

.icon-search-solid-1-2::before {
    content: "\ea35";
}

.icon-running-solid-1-2::before {
    content: "\ea36";
}

.icon-jordan-2::before {
    content: "\ea37";
}

.icon-question-solid-2::before {
    content: "\ea38";
}

.icon-nike-2::before {
    content: "\ea39";
}

.icon-google-plus-1-2::before {
    content: "\ea3a";
}

.icon-music-solid-1-2::before {
    content: "\ea3b";
}

.icon-microchip-solid-1-2::before {
    content: "\ea3c";
}

.icon-basketball-ball-solid-1-2::before {
    content: "\ea3d";
}

.icon-information-2::before {
    content: "\ea3e";
}

.icon-book-2::before {
    content: "\ea3f";
}

.icon-futbol-1-2::before {
    content: "\ea40";
}

.icon-file-image-2::before {
    content: "\ea41";
}

.icon-female-solid-1-2::before {
    content: "\ea42";
}

.icon-facebook-f-1-2::before {
    content: "\ea43";
}

.icon-eye-2::before {
    content: "\ea44";
}

.icon-comment-1-2::before {
    content: "\ea45";
}

.icon-check-solid-1-2::before {
    content: "\ea46";
}

.icon-camera-2::before {
    content: "\ea47";
}

.icon-calendar-2::before {
    content: "\ea48";
}

.icon-bookmark-2::before {
    content: "\ea49";
}

.icon-vestuario-2::before {
    content: "\ea4a";
}

.icon-arrow-up-2::before {
    content: "\ea4b";
}

.icon-angle-down-solid-2::before {
    content: "\ea4c";
}

.icon-angle-up-solid-2::before {
    content: "\ea4d";
}

.icon-angle-right-solid-2::before {
    content: "\ea4e";
}

.icon-angle-left-solid-2::before {
    content: "\ea4f";
}

.icon-alert-2::before {
    content: "\ea50";
}

.icon-yoga-2::before {
    content: "\ea51";
}

.icon-team-2::before {
    content: "\ea52";
}

.icon-wear-2::before {
    content: "\ea53";
}

.icon-vert_dots-2::before {
    content: "\ea54";
}

.icon-thumbs-up-1-2::before {
    content: "\ea55";
}

.icon-user-1-2::before {
    content: "\ea56";
}

.icon-star-empty-2::before {
    content: "\ea57";
}

.icon-treino-2::before {
    content: "\ea58";
}

.icon-share-square-1-2::before {
    content: "\ea59";
}

.icon-times-solid-1-2::before {
    content: "\ea5a";
}

.icon-facebook-f-1-2-2::before {
    content: "\ea5b";
}

.icon-google-plus-1-2-2::before {
    content: "\ea5c";
}

.icon-send::before {
    content: "\ea5d";
}

.icon-email-2::before {
    content: "\ea5e";
}

.icon-telegram-2::before {
    content: "\ea5f";
}

.icon-whatsapp-2::before {
    content: "\ea60";
}

.icon-share-variant-2::before {
    content: "\ea61";
}

.icon-pencil-3::before {
    content: "\ea62";
}

.icon-Placeholder-3::before {
    content: "\ea63";
}

.icon-search-solid-1-3::before {
    content: "\ea64";
}

.icon-running-solid-1-3::before {
    content: "\ea65";
}

.icon-jordan-3::before {
    content: "\ea66";
}

.icon-question-solid-3::before {
    content: "\ea67";
}

.icon-nike-3::before {
    content: "\ea68";
}

.icon-google-plus-1-3::before {
    content: "\ea69";
}

.icon-music-solid-1-3::before {
    content: "\ea6a";
}

.icon-microchip-solid-1-3::before {
    content: "\ea6b";
}

.icon-basketball-ball-solid-1-3::before {
    content: "\ea6c";
}

.icon-information-3::before {
    content: "\ea6d";
}

.icon-book-3::before {
    content: "\ea6e";
}

.icon-futbol-1-3::before {
    content: "\ea6f";
}

.icon-file-image-3::before {
    content: "\ea70";
}

.icon-female-solid-1-3::before {
    content: "\ea71";
}

.icon-facebook-f-1-3::before {
    content: "\ea72";
}

.icon-eye-3::before {
    content: "\ea73";
}

.icon-comment-1-3::before {
    content: "\ea74";
}

.icon-check-solid-1-3::before {
    content: "\ea75";
}

.icon-camera-3::before {
    content: "\ea76";
}

.icon-calendar-3::before {
    content: "\ea77";
}

.icon-bookmark-3::before {
    content: "\ea78";
}

.icon-vestuario-3::before {
    content: "\ea79";
}

.icon-arrow-up-3::before {
    content: "\ea7a";
}

.icon-angle-down-solid-3::before {
    content: "\ea7b";
}

.icon-angle-up-solid-3::before {
    content: "\ea7c";
}

.icon-angle-right-solid-3::before {
    content: "\ea7d";
}

.icon-angle-left-solid-3::before {
    content: "\ea7e";
}

.icon-alert-3::before {
    content: "\ea7f";
}

.icon-yoga-3::before {
    content: "\ea80";
}

.icon-team-3::before {
    content: "\ea81";
}

.icon-wear-3::before {
    content: "\ea82";
}

.icon-vert_dots-3::before {
    content: "\ea83";
}

.icon-thumbs-up-1-3::before {
    content: "\ea84";
}

.icon-user-1-3::before {
    content: "\ea85";
}

.icon-star-empty-3::before {
    content: "\ea86";
}

.icon-treino-3::before {
    content: "\ea87";
}

.icon-share-square-1-3::before {
    content: "\ea88";
}

.icon-times-solid-1-3::before {
    content: "\ea89";
}

.icon-facebook-f-1-3-2::before {
    content: "\ea8a";
}

.icon-google-plus-1-3-2::before {
    content: "\ea8b";
}

.icon-book-4::before {
    content: "\ea8c";
}

.icon-basketball-ball-solid-1-5::before {
    content: "\ea8d";
}

.icon-arrow-up-5::before {
    content: "\ea8e";
}

.icon-angle-up-solid-5::before {
    content: "\ea8f";
}

.icon-angle-right-solid-4::before {
    content: "\ea90";
}

.icon-angle-left-solid-4::before {
    content: "\ea91";
}

.icon-angle-down-solid-4::before {
    content: "\ea92";
}

.icon-alert-4::before {
    content: "\ea93";
}

.icon-filter-remove::before {
    content: "\ea94";
}

.icon-yoga-4::before {
    content: "\ea95";
}

.icon-whatsapp-3::before {
    content: "\ea96";
}

.icon-wear-4::before {
    content: "\ea97";
}

.icon-vestuario-4::before {
    content: "\ea98";
}

.icon-vert_dots-4::before {
    content: "\ea99";
}

.icon-user-1-5::before {
    content: "\ea9a";
}

.icon-treino-4::before {
    content: "\ea9b";
}

.icon-times-solid-1-4::before {
    content: "\ea9c";
}

.icon-thumbs-up-1-5::before {
    content: "\ea9d";
}

.icon-telegram-3::before {
    content: "\ea9e";
}

.icon-team-4::before {
    content: "\ea9f";
}

.icon-star-filled::before {
    content: "\eaa0";
}

.icon-star-empty-4::before {
    content: "\eaa1";
}

.icon-share-variant-3::before {
    content: "\eaa2";
}

.icon-share-square-1-5::before {
    content: "\eaa3";
}

.icon-send-3::before {
    content: "\eaa4";
}

.icon-search-solid-1-5::before {
    content: "\eaa5";
}

.icon-running-solid-1-5::before {
    content: "\eaa6";
}

.icon-question-solid-4::before {
    content: "\eaa7";
}

.icon-Placeholder-4::before {
    content: "\eaa8";
}

.icon-pencil-4::before {
    content: "\eaa9";
}

.icon-nike-4::before {
    content: "\eaaa";
}

.icon-music-solid-1-5::before {
    content: "\eaab";
}

.icon-microchip-solid-1-5::before {
    content: "\eaac";
}

.icon-medal::before {
    content: "\eaad";
}

.icon-jordan-4::before {
    content: "\eaae";
}

.icon-information-4::before {
    content: "\eaaf";
}

.icon-image-plus::before {
    content: "\eab0";
}

.icon-google-plus-1-4-2::before {
    content: "\eab1";
}

.icon-futbol-1-5::before {
    content: "\eab2";
}

.icon-filter::before {
    content: "\eab3";
}

.icon-file-image-4::before {
    content: "\eab4";
}

.icon-female-solid-1-5::before {
    content: "\eab5";
}

.icon-facebook-f-1-4-2::before {
    content: "\eab6";
}

.icon-eye-4::before {
    content: "\eab7";
}

.icon-email-3::before {
    content: "\eab8";
}

.icon-delete::before {
    content: "\eab9";
}

.icon-comment-account::before {
    content: "\eaba";
}

.icon-comment-1-5::before {
    content: "\eabb";
}

.icon-chevron-right::before {
    content: "\eabc";
}

.icon-check-solid-1-5::before {
    content: "\eabd";
}

.icon-camera-plus::before {
    content: "\eabe";
}

.icon-camera-4::before {
    content: "\eabf";
}

.icon-calendar-4::before {
    content: "\eac0";
}

.icon-bookmark-4::before {
    content: "\eac1";
}

.icon-arrow-down::before {
    content: "\eac2";
}

.icon-send-2::before {
    content: "\eac3";
}

.icon-email-4::before {
    content: "\eac4";
}

.icon-telegram-4::before {
    content: "\eac5";
}

.icon-whatsapp-4::before {
    content: "\eac6";
}

.icon-share-variant-4::before {
    content: "\eac7";
}

.icon-pencil-5::before {
    content: "\eac8";
}

.icon-Placeholder-5::before {
    content: "\eac9";
}

.icon-search-solid-1-4::before {
    content: "\eaca";
}

.icon-running-solid-1-4::before {
    content: "\eacb";
}

.icon-jordan-5::before {
    content: "\eacc";
}

.icon-question-solid-5::before {
    content: "\eacd";
}

.icon-nike-5::before {
    content: "\eace";
}

.icon-google-plus-1-4::before {
    content: "\eacf";
}

.icon-music-solid-1-4::before {
    content: "\ead0";
}

.icon-microchip-solid-1-4::before {
    content: "\ead1";
}

.icon-basketball-ball-solid-1-4::before {
    content: "\ead2";
}

.icon-information-5::before {
    content: "\ead3";
}

.icon-book-5::before {
    content: "\ead4";
}

.icon-futbol-1-4::before {
    content: "\ead5";
}

.icon-file-image-5::before {
    content: "\ead6";
}

.icon-female-solid-1-4::before {
    content: "\ead7";
}

.icon-facebook-f-1-4::before {
    content: "\ead8";
}

.icon-eye-5::before {
    content: "\ead9";
}

.icon-comment-1-4::before {
    content: "\eada";
}

.icon-check-solid-1-4::before {
    content: "\eadb";
}

.icon-camera-5::before {
    content: "\eadc";
}

.icon-calendar-5::before {
    content: "\eadd";
}

.icon-bookmark-5::before {
    content: "\eade";
}

.icon-vestuario-5::before {
    content: "\eadf";
}

.icon-arrow-up-4::before {
    content: "\eae0";
}

.icon-angle-down-solid-5::before {
    content: "\eae1";
}

.icon-angle-up-solid-4::before {
    content: "\eae2";
}

.icon-angle-right-solid-5::before {
    content: "\eae3";
}

.icon-angle-left-solid-5::before {
    content: "\eae4";
}

.icon-alert-5::before {
    content: "\eae5";
}

.icon-yoga-5::before {
    content: "\eae6";
}

.icon-team-5::before {
    content: "\eae7";
}

.icon-wear-5::before {
    content: "\eae8";
}

.icon-vert_dots-5::before {
    content: "\eae9";
}

.icon-thumbs-up-1-4::before {
    content: "\eaea";
}

.icon-user-1-4::before {
    content: "\eaeb";
}

.icon-star-empty-5::before {
    content: "\eaec";
}

.icon-treino-5::before {
    content: "\eaed";
}

.icon-share-square-1-4::before {
    content: "\eaee";
}

.icon-times-solid-1-5::before {
    content: "\eaef";
}

.icon-facebook-f-1-5-2::before {
    content: "\eaf0";
}

.icon-google-plus-1-5-2::before {
    content: "\eaf1";
}

