/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-times: unicode(ea02);
$icon-facebook: unicode(ea03);
$icon-google: unicode(ea04);
$icon-pencil: unicode(ea05);
$icon-Placeholder: unicode(ea06);
$icon-search-solid-1: unicode(ea07);
$icon-running-solid-1: unicode(ea08);
$icon-jordan: unicode(ea09);
$icon-question-solid: unicode(ea0a);
$icon-nike: unicode(ea0b);
$icon-google-plus-1: unicode(ea0c);
$icon-music-solid-1: unicode(ea0d);
$icon-microchip-solid-1: unicode(ea0e);
$icon-basketball-ball-solid-1: unicode(ea0f);
$icon-information: unicode(ea10);
$icon-book: unicode(ea11);
$icon-futbol-1: unicode(ea12);
$icon-file-image: unicode(ea13);
$icon-female-solid-1: unicode(ea14);
$icon-facebook-f-1: unicode(ea15);
$icon-eye: unicode(ea16);
$icon-comment-1: unicode(ea17);
$icon-check-solid-1: unicode(ea18);
$icon-camera: unicode(ea19);
$icon-calendar: unicode(ea1a);
$icon-bookmark: unicode(ea1b);
$icon-vestuario: unicode(ea1c);
$icon-arrow-up: unicode(ea1d);
$icon-angle-down-solid: unicode(ea1e);
$icon-angle-up-solid: unicode(ea1f);
$icon-angle-right-solid: unicode(ea20);
$icon-angle-left-solid: unicode(ea21);
$icon-alert: unicode(ea22);
$icon-yoga: unicode(ea23);
$icon-team: unicode(ea24);
$icon-wear: unicode(ea25);
$icon-vert_dots: unicode(ea26);
$icon-thumbs-up-1: unicode(ea27);
$icon-user-1: unicode(ea28);
$icon-star-empty: unicode(ea29);
$icon-treino: unicode(ea2a);
$icon-share-square-1: unicode(ea2b);
$icon-times-solid-1: unicode(ea2c);
$icon-facebook-f-1-5: unicode(ea2d);
$icon-google-plus-1-5: unicode(ea2e);
$icon-email: unicode(ea2f);
$icon-telegram: unicode(ea30);
$icon-whatsapp: unicode(ea31);
$icon-share-variant: unicode(ea32);
$icon-pencil-2: unicode(ea33);
$icon-Placeholder-2: unicode(ea34);
$icon-search-solid-1-2: unicode(ea35);
$icon-running-solid-1-2: unicode(ea36);
$icon-jordan-2: unicode(ea37);
$icon-question-solid-2: unicode(ea38);
$icon-nike-2: unicode(ea39);
$icon-google-plus-1-2: unicode(ea3a);
$icon-music-solid-1-2: unicode(ea3b);
$icon-microchip-solid-1-2: unicode(ea3c);
$icon-basketball-ball-solid-1-2: unicode(ea3d);
$icon-information-2: unicode(ea3e);
$icon-book-2: unicode(ea3f);
$icon-futbol-1-2: unicode(ea40);
$icon-file-image-2: unicode(ea41);
$icon-female-solid-1-2: unicode(ea42);
$icon-facebook-f-1-2: unicode(ea43);
$icon-eye-2: unicode(ea44);
$icon-comment-1-2: unicode(ea45);
$icon-check-solid-1-2: unicode(ea46);
$icon-camera-2: unicode(ea47);
$icon-calendar-2: unicode(ea48);
$icon-bookmark-2: unicode(ea49);
$icon-vestuario-2: unicode(ea4a);
$icon-arrow-up-2: unicode(ea4b);
$icon-angle-down-solid-2: unicode(ea4c);
$icon-angle-up-solid-2: unicode(ea4d);
$icon-angle-right-solid-2: unicode(ea4e);
$icon-angle-left-solid-2: unicode(ea4f);
$icon-alert-2: unicode(ea50);
$icon-yoga-2: unicode(ea51);
$icon-team-2: unicode(ea52);
$icon-wear-2: unicode(ea53);
$icon-vert_dots-2: unicode(ea54);
$icon-thumbs-up-1-2: unicode(ea55);
$icon-user-1-2: unicode(ea56);
$icon-star-empty-2: unicode(ea57);
$icon-treino-2: unicode(ea58);
$icon-share-square-1-2: unicode(ea59);
$icon-times-solid-1-2: unicode(ea5a);
$icon-facebook-f-1-2-2: unicode(ea5b);
$icon-google-plus-1-2-2: unicode(ea5c);
$icon-send: unicode(ea5d);
$icon-email-2: unicode(ea5e);
$icon-telegram-2: unicode(ea5f);
$icon-whatsapp-2: unicode(ea60);
$icon-share-variant-2: unicode(ea61);
$icon-pencil-3: unicode(ea62);
$icon-Placeholder-3: unicode(ea63);
$icon-search-solid-1-3: unicode(ea64);
$icon-running-solid-1-3: unicode(ea65);
$icon-jordan-3: unicode(ea66);
$icon-question-solid-3: unicode(ea67);
$icon-nike-3: unicode(ea68);
$icon-google-plus-1-3: unicode(ea69);
$icon-music-solid-1-3: unicode(ea6a);
$icon-microchip-solid-1-3: unicode(ea6b);
$icon-basketball-ball-solid-1-3: unicode(ea6c);
$icon-information-3: unicode(ea6d);
$icon-book-3: unicode(ea6e);
$icon-futbol-1-3: unicode(ea6f);
$icon-file-image-3: unicode(ea70);
$icon-female-solid-1-3: unicode(ea71);
$icon-facebook-f-1-3: unicode(ea72);
$icon-eye-3: unicode(ea73);
$icon-comment-1-3: unicode(ea74);
$icon-check-solid-1-3: unicode(ea75);
$icon-camera-3: unicode(ea76);
$icon-calendar-3: unicode(ea77);
$icon-bookmark-3: unicode(ea78);
$icon-vestuario-3: unicode(ea79);
$icon-arrow-up-3: unicode(ea7a);
$icon-angle-down-solid-3: unicode(ea7b);
$icon-angle-up-solid-3: unicode(ea7c);
$icon-angle-right-solid-3: unicode(ea7d);
$icon-angle-left-solid-3: unicode(ea7e);
$icon-alert-3: unicode(ea7f);
$icon-yoga-3: unicode(ea80);
$icon-team-3: unicode(ea81);
$icon-wear-3: unicode(ea82);
$icon-vert_dots-3: unicode(ea83);
$icon-thumbs-up-1-3: unicode(ea84);
$icon-user-1-3: unicode(ea85);
$icon-star-empty-3: unicode(ea86);
$icon-treino-3: unicode(ea87);
$icon-share-square-1-3: unicode(ea88);
$icon-times-solid-1-3: unicode(ea89);
$icon-facebook-f-1-3-2: unicode(ea8a);
$icon-google-plus-1-3-2: unicode(ea8b);
$icon-book-4: unicode(ea8c);
$icon-basketball-ball-solid-1-5: unicode(ea8d);
$icon-arrow-up-5: unicode(ea8e);
$icon-angle-up-solid-5: unicode(ea8f);
$icon-angle-right-solid-4: unicode(ea90);
$icon-angle-left-solid-4: unicode(ea91);
$icon-angle-down-solid-4: unicode(ea92);
$icon-alert-4: unicode(ea93);
$icon-filter-remove: unicode(ea94);
$icon-yoga-4: unicode(ea95);
$icon-whatsapp-3: unicode(ea96);
$icon-wear-4: unicode(ea97);
$icon-vestuario-4: unicode(ea98);
$icon-vert_dots-4: unicode(ea99);
$icon-user-1-5: unicode(ea9a);
$icon-treino-4: unicode(ea9b);
$icon-times-solid-1-4: unicode(ea9c);
$icon-thumbs-up-1-5: unicode(ea9d);
$icon-telegram-3: unicode(ea9e);
$icon-team-4: unicode(ea9f);
$icon-star-filled: unicode(eaa0);
$icon-star-empty-4: unicode(eaa1);
$icon-share-variant-3: unicode(eaa2);
$icon-share-square-1-5: unicode(eaa3);
$icon-send-3: unicode(eaa4);
$icon-search-solid-1-5: unicode(eaa5);
$icon-running-solid-1-5: unicode(eaa6);
$icon-question-solid-4: unicode(eaa7);
$icon-Placeholder-4: unicode(eaa8);
$icon-pencil-4: unicode(eaa9);
$icon-nike-4: unicode(eaaa);
$icon-music-solid-1-5: unicode(eaab);
$icon-microchip-solid-1-5: unicode(eaac);
$icon-medal: unicode(eaad);
$icon-jordan-4: unicode(eaae);
$icon-information-4: unicode(eaaf);
$icon-image-plus: unicode(eab0);
$icon-google-plus-1-4-2: unicode(eab1);
$icon-futbol-1-5: unicode(eab2);
$icon-filter: unicode(eab3);
$icon-file-image-4: unicode(eab4);
$icon-female-solid-1-5: unicode(eab5);
$icon-facebook-f-1-4-2: unicode(eab6);
$icon-eye-4: unicode(eab7);
$icon-email-3: unicode(eab8);
$icon-delete: unicode(eab9);
$icon-comment-account: unicode(eaba);
$icon-comment-1-5: unicode(eabb);
$icon-chevron-right: unicode(eabc);
$icon-check-solid-1-5: unicode(eabd);
$icon-camera-plus: unicode(eabe);
$icon-camera-4: unicode(eabf);
$icon-calendar-4: unicode(eac0);
$icon-bookmark-4: unicode(eac1);
$icon-arrow-down: unicode(eac2);
$icon-send-2: unicode(eac3);
$icon-email-4: unicode(eac4);
$icon-telegram-4: unicode(eac5);
$icon-whatsapp-4: unicode(eac6);
$icon-share-variant-4: unicode(eac7);
$icon-pencil-5: unicode(eac8);
$icon-Placeholder-5: unicode(eac9);
$icon-search-solid-1-4: unicode(eaca);
$icon-running-solid-1-4: unicode(eacb);
$icon-jordan-5: unicode(eacc);
$icon-question-solid-5: unicode(eacd);
$icon-nike-5: unicode(eace);
$icon-google-plus-1-4: unicode(eacf);
$icon-music-solid-1-4: unicode(ead0);
$icon-microchip-solid-1-4: unicode(ead1);
$icon-basketball-ball-solid-1-4: unicode(ead2);
$icon-information-5: unicode(ead3);
$icon-book-5: unicode(ead4);
$icon-futbol-1-4: unicode(ead5);
$icon-file-image-5: unicode(ead6);
$icon-female-solid-1-4: unicode(ead7);
$icon-facebook-f-1-4: unicode(ead8);
$icon-eye-5: unicode(ead9);
$icon-comment-1-4: unicode(eada);
$icon-check-solid-1-4: unicode(eadb);
$icon-camera-5: unicode(eadc);
$icon-calendar-5: unicode(eadd);
$icon-bookmark-5: unicode(eade);
$icon-vestuario-5: unicode(eadf);
$icon-arrow-up-4: unicode(eae0);
$icon-angle-down-solid-5: unicode(eae1);
$icon-angle-up-solid-4: unicode(eae2);
$icon-angle-right-solid-5: unicode(eae3);
$icon-angle-left-solid-5: unicode(eae4);
$icon-alert-5: unicode(eae5);
$icon-yoga-5: unicode(eae6);
$icon-team-5: unicode(eae7);
$icon-wear-5: unicode(eae8);
$icon-vert_dots-5: unicode(eae9);
$icon-thumbs-up-1-4: unicode(eaea);
$icon-user-1-4: unicode(eaeb);
$icon-star-empty-5: unicode(eaec);
$icon-treino-5: unicode(eaed);
$icon-share-square-1-4: unicode(eaee);
$icon-times-solid-1-5: unicode(eaef);
$icon-facebook-f-1-5-2: unicode(eaf0);
$icon-google-plus-1-5-2: unicode(eaf1);

.icon-times::before {
  content: $icon-times;
}

.icon-facebook::before {
  content: $icon-facebook;
}

.icon-google::before {
  content: $icon-google;
}

.icon-pencil::before {
  content: $icon-pencil;
}

.icon-Placeholder::before {
  content: $icon-Placeholder;
}

.icon-search-solid-1::before {
  content: $icon-search-solid-1;
}

.icon-running-solid-1::before {
  content: $icon-running-solid-1;
}

.icon-jordan::before {
  content: $icon-jordan;
}

.icon-question-solid::before {
  content: $icon-question-solid;
}

.icon-nike::before {
  content: $icon-nike;
}

.icon-google-plus-1::before {
  content: $icon-google-plus-1;
}

.icon-music-solid-1::before {
  content: $icon-music-solid-1;
}

.icon-microchip-solid-1::before {
  content: $icon-microchip-solid-1;
}

.icon-basketball-ball-solid-1::before {
  content: $icon-basketball-ball-solid-1;
}

.icon-information::before {
  content: $icon-information;
}

.icon-book::before {
  content: $icon-book;
}

.icon-futbol-1::before {
  content: $icon-futbol-1;
}

.icon-file-image::before {
  content: $icon-file-image;
}

.icon-female-solid-1::before {
  content: $icon-female-solid-1;
}

.icon-facebook-f-1::before {
  content: $icon-facebook-f-1;
}

.icon-eye::before {
  content: $icon-eye;
}

.icon-comment-1::before {
  content: $icon-comment-1;
}

.icon-check-solid-1::before {
  content: $icon-check-solid-1;
}

.icon-camera::before {
  content: $icon-camera;
}

.icon-calendar::before {
  content: $icon-calendar;
}

.icon-bookmark::before {
  content: $icon-bookmark;
}

.icon-vestuario::before {
  content: $icon-vestuario;
}

.icon-arrow-up::before {
  content: $icon-arrow-up;
}

.icon-angle-down-solid::before {
  content: $icon-angle-down-solid;
}

.icon-angle-up-solid::before {
  content: $icon-angle-up-solid;
}

.icon-angle-right-solid::before {
  content: $icon-angle-right-solid;
}

.icon-angle-left-solid::before {
  content: $icon-angle-left-solid;
}

.icon-alert::before {
  content: $icon-alert;
}

.icon-yoga::before {
  content: $icon-yoga;
}

.icon-team::before {
  content: $icon-team;
}

.icon-wear::before {
  content: $icon-wear;
}

.icon-vert_dots::before {
  content: $icon-vert_dots;
}

.icon-thumbs-up-1::before {
  content: $icon-thumbs-up-1;
}

.icon-user-1::before {
  content: $icon-user-1;
}

.icon-star-empty::before {
  content: $icon-star-empty;
}

.icon-treino::before {
  content: $icon-treino;
}

.icon-share-square-1::before {
  content: $icon-share-square-1;
}

.icon-times-solid-1::before {
  content: $icon-times-solid-1;
}

.icon-facebook-f-1-5::before {
  content: $icon-facebook-f-1-5;
}

.icon-google-plus-1-5::before {
  content: $icon-google-plus-1-5;
}

.icon-email::before {
  content: $icon-email;
}

.icon-telegram::before {
  content: $icon-telegram;
}

.icon-whatsapp::before {
  content: $icon-whatsapp;
}

.icon-share-variant::before {
  content: $icon-share-variant;
}

.icon-pencil-2::before {
  content: $icon-pencil-2;
}

.icon-Placeholder-2::before {
  content: $icon-Placeholder-2;
}

.icon-search-solid-1-2::before {
  content: $icon-search-solid-1-2;
}

.icon-running-solid-1-2::before {
  content: $icon-running-solid-1-2;
}

.icon-jordan-2::before {
  content: $icon-jordan-2;
}

.icon-question-solid-2::before {
  content: $icon-question-solid-2;
}

.icon-nike-2::before {
  content: $icon-nike-2;
}

.icon-google-plus-1-2::before {
  content: $icon-google-plus-1-2;
}

.icon-music-solid-1-2::before {
  content: $icon-music-solid-1-2;
}

.icon-microchip-solid-1-2::before {
  content: $icon-microchip-solid-1-2;
}

.icon-basketball-ball-solid-1-2::before {
  content: $icon-basketball-ball-solid-1-2;
}

.icon-information-2::before {
  content: $icon-information-2;
}

.icon-book-2::before {
  content: $icon-book-2;
}

.icon-futbol-1-2::before {
  content: $icon-futbol-1-2;
}

.icon-file-image-2::before {
  content: $icon-file-image-2;
}

.icon-female-solid-1-2::before {
  content: $icon-female-solid-1-2;
}

.icon-facebook-f-1-2::before {
  content: $icon-facebook-f-1-2;
}

.icon-eye-2::before {
  content: $icon-eye-2;
}

.icon-comment-1-2::before {
  content: $icon-comment-1-2;
}

.icon-check-solid-1-2::before {
  content: $icon-check-solid-1-2;
}

.icon-camera-2::before {
  content: $icon-camera-2;
}

.icon-calendar-2::before {
  content: $icon-calendar-2;
}

.icon-bookmark-2::before {
  content: $icon-bookmark-2;
}

.icon-vestuario-2::before {
  content: $icon-vestuario-2;
}

.icon-arrow-up-2::before {
  content: $icon-arrow-up-2;
}

.icon-angle-down-solid-2::before {
  content: $icon-angle-down-solid-2;
}

.icon-angle-up-solid-2::before {
  content: $icon-angle-up-solid-2;
}

.icon-angle-right-solid-2::before {
  content: $icon-angle-right-solid-2;
}

.icon-angle-left-solid-2::before {
  content: $icon-angle-left-solid-2;
}

.icon-alert-2::before {
  content: $icon-alert-2;
}

.icon-yoga-2::before {
  content: $icon-yoga-2;
}

.icon-team-2::before {
  content: $icon-team-2;
}

.icon-wear-2::before {
  content: $icon-wear-2;
}

.icon-vert_dots-2::before {
  content: $icon-vert_dots-2;
}

.icon-thumbs-up-1-2::before {
  content: $icon-thumbs-up-1-2;
}

.icon-user-1-2::before {
  content: $icon-user-1-2;
}

.icon-star-empty-2::before {
  content: $icon-star-empty-2;
}

.icon-treino-2::before {
  content: $icon-treino-2;
}

.icon-share-square-1-2::before {
  content: $icon-share-square-1-2;
}

.icon-times-solid-1-2::before {
  content: $icon-times-solid-1-2;
}

.icon-facebook-f-1-2-2::before {
  content: $icon-facebook-f-1-2-2;
}

.icon-google-plus-1-2-2::before {
  content: $icon-google-plus-1-2-2;
}

.icon-send::before {
  content: $icon-send;
}

.icon-email-2::before {
  content: $icon-email-2;
}

.icon-telegram-2::before {
  content: $icon-telegram-2;
}

.icon-whatsapp-2::before {
  content: $icon-whatsapp-2;
}

.icon-share-variant-2::before {
  content: $icon-share-variant-2;
}

.icon-pencil-3::before {
  content: $icon-pencil-3;
}

.icon-Placeholder-3::before {
  content: $icon-Placeholder-3;
}

.icon-search-solid-1-3::before {
  content: $icon-search-solid-1-3;
}

.icon-running-solid-1-3::before {
  content: $icon-running-solid-1-3;
}

.icon-jordan-3::before {
  content: $icon-jordan-3;
}

.icon-question-solid-3::before {
  content: $icon-question-solid-3;
}

.icon-nike-3::before {
  content: $icon-nike-3;
}

.icon-google-plus-1-3::before {
  content: $icon-google-plus-1-3;
}

.icon-music-solid-1-3::before {
  content: $icon-music-solid-1-3;
}

.icon-microchip-solid-1-3::before {
  content: $icon-microchip-solid-1-3;
}

.icon-basketball-ball-solid-1-3::before {
  content: $icon-basketball-ball-solid-1-3;
}

.icon-information-3::before {
  content: $icon-information-3;
}

.icon-book-3::before {
  content: $icon-book-3;
}

.icon-futbol-1-3::before {
  content: $icon-futbol-1-3;
}

.icon-file-image-3::before {
  content: $icon-file-image-3;
}

.icon-female-solid-1-3::before {
  content: $icon-female-solid-1-3;
}

.icon-facebook-f-1-3::before {
  content: $icon-facebook-f-1-3;
}

.icon-eye-3::before {
  content: $icon-eye-3;
}

.icon-comment-1-3::before {
  content: $icon-comment-1-3;
}

.icon-check-solid-1-3::before {
  content: $icon-check-solid-1-3;
}

.icon-camera-3::before {
  content: $icon-camera-3;
}

.icon-calendar-3::before {
  content: $icon-calendar-3;
}

.icon-bookmark-3::before {
  content: $icon-bookmark-3;
}

.icon-vestuario-3::before {
  content: $icon-vestuario-3;
}

.icon-arrow-up-3::before {
  content: $icon-arrow-up-3;
}

.icon-angle-down-solid-3::before {
  content: $icon-angle-down-solid-3;
}

.icon-angle-up-solid-3::before {
  content: $icon-angle-up-solid-3;
}

.icon-angle-right-solid-3::before {
  content: $icon-angle-right-solid-3;
}

.icon-angle-left-solid-3::before {
  content: $icon-angle-left-solid-3;
}

.icon-alert-3::before {
  content: $icon-alert-3;
}

.icon-yoga-3::before {
  content: $icon-yoga-3;
}

.icon-team-3::before {
  content: $icon-team-3;
}

.icon-wear-3::before {
  content: $icon-wear-3;
}

.icon-vert_dots-3::before {
  content: $icon-vert_dots-3;
}

.icon-thumbs-up-1-3::before {
  content: $icon-thumbs-up-1-3;
}

.icon-user-1-3::before {
  content: $icon-user-1-3;
}

.icon-star-empty-3::before {
  content: $icon-star-empty-3;
}

.icon-treino-3::before {
  content: $icon-treino-3;
}

.icon-share-square-1-3::before {
  content: $icon-share-square-1-3;
}

.icon-times-solid-1-3::before {
  content: $icon-times-solid-1-3;
}

.icon-facebook-f-1-3-2::before {
  content: $icon-facebook-f-1-3-2;
}

.icon-google-plus-1-3-2::before {
  content: $icon-google-plus-1-3-2;
}

.icon-book-4::before {
  content: $icon-book-4;
}

.icon-basketball-ball-solid-1-5::before {
  content: $icon-basketball-ball-solid-1-5;
}

.icon-arrow-up-5::before {
  content: $icon-arrow-up-5;
}

.icon-angle-up-solid-5::before {
  content: $icon-angle-up-solid-5;
}

.icon-angle-right-solid-4::before {
  content: $icon-angle-right-solid-4;
}

.icon-angle-left-solid-4::before {
  content: $icon-angle-left-solid-4;
}

.icon-angle-down-solid-4::before {
  content: $icon-angle-down-solid-4;
}

.icon-alert-4::before {
  content: $icon-alert-4;
}

.icon-filter-remove::before {
  content: $icon-filter-remove;
}

.icon-yoga-4::before {
  content: $icon-yoga-4;
}

.icon-whatsapp-3::before {
  content: $icon-whatsapp-3;
}

.icon-wear-4::before {
  content: $icon-wear-4;
}

.icon-vestuario-4::before {
  content: $icon-vestuario-4;
}

.icon-vert_dots-4::before {
  content: $icon-vert_dots-4;
}

.icon-user-1-5::before {
  content: $icon-user-1-5;
}

.icon-treino-4::before {
  content: $icon-treino-4;
}

.icon-times-solid-1-4::before {
  content: $icon-times-solid-1-4;
}

.icon-thumbs-up-1-5::before {
  content: $icon-thumbs-up-1-5;
}

.icon-telegram-3::before {
  content: $icon-telegram-3;
}

.icon-team-4::before {
  content: $icon-team-4;
}

.icon-star-filled::before {
  content: $icon-star-filled;
}

.icon-star-empty-4::before {
  content: $icon-star-empty-4;
}

.icon-share-variant-3::before {
  content: $icon-share-variant-3;
}

.icon-share-square-1-5::before {
  content: $icon-share-square-1-5;
}

.icon-send-3::before {
  content: $icon-send-3;
}

.icon-search-solid-1-5::before {
  content: $icon-search-solid-1-5;
}

.icon-running-solid-1-5::before {
  content: $icon-running-solid-1-5;
}

.icon-question-solid-4::before {
  content: $icon-question-solid-4;
}

.icon-Placeholder-4::before {
  content: $icon-Placeholder-4;
}

.icon-pencil-4::before {
  content: $icon-pencil-4;
}

.icon-nike-4::before {
  content: $icon-nike-4;
}

.icon-music-solid-1-5::before {
  content: $icon-music-solid-1-5;
}

.icon-microchip-solid-1-5::before {
  content: $icon-microchip-solid-1-5;
}

.icon-medal::before {
  content: $icon-medal;
}

.icon-jordan-4::before {
  content: $icon-jordan-4;
}

.icon-information-4::before {
  content: $icon-information-4;
}

.icon-image-plus::before {
  content: $icon-image-plus;
}

.icon-google-plus-1-4-2::before {
  content: $icon-google-plus-1-4-2;
}

.icon-futbol-1-5::before {
  content: $icon-futbol-1-5;
}

.icon-filter::before {
  content: $icon-filter;
}

.icon-file-image-4::before {
  content: $icon-file-image-4;
}

.icon-female-solid-1-5::before {
  content: $icon-female-solid-1-5;
}

.icon-facebook-f-1-4-2::before {
  content: $icon-facebook-f-1-4-2;
}

.icon-eye-4::before {
  content: $icon-eye-4;
}

.icon-email-3::before {
  content: $icon-email-3;
}

.icon-delete::before {
  content: $icon-delete;
}

.icon-comment-account::before {
  content: $icon-comment-account;
}

.icon-comment-1-5::before {
  content: $icon-comment-1-5;
}

.icon-chevron-right::before {
  content: $icon-chevron-right;
}

.icon-check-solid-1-5::before {
  content: $icon-check-solid-1-5;
}

.icon-camera-plus::before {
  content: $icon-camera-plus;
}

.icon-camera-4::before {
  content: $icon-camera-4;
}

.icon-calendar-4::before {
  content: $icon-calendar-4;
}

.icon-bookmark-4::before {
  content: $icon-bookmark-4;
}

.icon-arrow-down::before {
  content: $icon-arrow-down;
}

.icon-send-2::before {
  content: $icon-send-2;
}

.icon-email-4::before {
  content: $icon-email-4;
}

.icon-telegram-4::before {
  content: $icon-telegram-4;
}

.icon-whatsapp-4::before {
  content: $icon-whatsapp-4;
}

.icon-share-variant-4::before {
  content: $icon-share-variant-4;
}

.icon-pencil-5::before {
  content: $icon-pencil-5;
}

.icon-Placeholder-5::before {
  content: $icon-Placeholder-5;
}

.icon-search-solid-1-4::before {
  content: $icon-search-solid-1-4;
}

.icon-running-solid-1-4::before {
  content: $icon-running-solid-1-4;
}

.icon-jordan-5::before {
  content: $icon-jordan-5;
}

.icon-question-solid-5::before {
  content: $icon-question-solid-5;
}

.icon-nike-5::before {
  content: $icon-nike-5;
}

.icon-google-plus-1-4::before {
  content: $icon-google-plus-1-4;
}

.icon-music-solid-1-4::before {
  content: $icon-music-solid-1-4;
}

.icon-microchip-solid-1-4::before {
  content: $icon-microchip-solid-1-4;
}

.icon-basketball-ball-solid-1-4::before {
  content: $icon-basketball-ball-solid-1-4;
}

.icon-information-5::before {
  content: $icon-information-5;
}

.icon-book-5::before {
  content: $icon-book-5;
}

.icon-futbol-1-4::before {
  content: $icon-futbol-1-4;
}

.icon-file-image-5::before {
  content: $icon-file-image-5;
}

.icon-female-solid-1-4::before {
  content: $icon-female-solid-1-4;
}

.icon-facebook-f-1-4::before {
  content: $icon-facebook-f-1-4;
}

.icon-eye-5::before {
  content: $icon-eye-5;
}

.icon-comment-1-4::before {
  content: $icon-comment-1-4;
}

.icon-check-solid-1-4::before {
  content: $icon-check-solid-1-4;
}

.icon-camera-5::before {
  content: $icon-camera-5;
}

.icon-calendar-5::before {
  content: $icon-calendar-5;
}

.icon-bookmark-5::before {
  content: $icon-bookmark-5;
}

.icon-vestuario-5::before {
  content: $icon-vestuario-5;
}

.icon-arrow-up-4::before {
  content: $icon-arrow-up-4;
}

.icon-angle-down-solid-5::before {
  content: $icon-angle-down-solid-5;
}

.icon-angle-up-solid-4::before {
  content: $icon-angle-up-solid-4;
}

.icon-angle-right-solid-5::before {
  content: $icon-angle-right-solid-5;
}

.icon-angle-left-solid-5::before {
  content: $icon-angle-left-solid-5;
}

.icon-alert-5::before {
  content: $icon-alert-5;
}

.icon-yoga-5::before {
  content: $icon-yoga-5;
}

.icon-team-5::before {
  content: $icon-team-5;
}

.icon-wear-5::before {
  content: $icon-wear-5;
}

.icon-vert_dots-5::before {
  content: $icon-vert_dots-5;
}

.icon-thumbs-up-1-4::before {
  content: $icon-thumbs-up-1-4;
}

.icon-user-1-4::before {
  content: $icon-user-1-4;
}

.icon-star-empty-5::before {
  content: $icon-star-empty-5;
}

.icon-treino-5::before {
  content: $icon-treino-5;
}

.icon-share-square-1-4::before {
  content: $icon-share-square-1-4;
}

.icon-times-solid-1-5::before {
  content: $icon-times-solid-1-5;
}

.icon-facebook-f-1-5-2::before {
  content: $icon-facebook-f-1-5-2;
}

.icon-google-plus-1-5-2::before {
  content: $icon-google-plus-1-5-2;
}

