<template>
    <nk-modal-container :title="`Colaborador Exemplo`" from="/feed" id="colaboratorFeed" >
        <div class="mb-56">
            <img class="profile-img-heading mt-24 mb-12" src="img/profile-example.png" alt="">
            <div class="text-orange d-flex justify-content-center">
                <i class="icon icon-medal me-2" aria-hidden="true"></i>
                <nk-p class="text-orange pb-12">16 pontos</nk-p>
            </div>
            <nk-h5 class="text-gray2 pb-1">Cidade</nk-h5>
            <nk-h3 class="pb-1">João Pessoa</nk-h3>
            <nk-h4 class="pb-16">Paraíba</nk-h4>
            <nk-h5 class="text-gray2 pb-1">Loja</nk-h5>
            <nk-h3 class="pb-1">Lorem Ipsum Dolor</nk-h3>
            <nk-h4>Rede Lorem Ipsum</nk-h4>
        </div>

        <nk-feed :posts="posts" />
        <nk-footer-copy></nk-footer-copy>
    </nk-modal-container>
</template>

<script lang="ts">
import { useStore } from "@/store";
import NkButton from "@/components/atoms/NkButton.vue";
import NkHeading2 from "@/components/atoms/NkHeading2.vue";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";
import NkFeed from "@/components/organisms/NkFeed.vue";
import { defineComponent, ref } from "vue";
import authService from "@/services/modules/authService";
import NkFooterCopy from "@/components/molecules/NkFooterCopy.vue";
import NkModalContainerVue from "@/components/molecules/NkModalContainer.vue";
import NkUserCardVue from "@/components/molecules/NkUserCard.vue";
import NkParagraph from "@/components/atoms/NkParagraph.vue";
import NkHeading5 from "@/components/atoms/NkHeading5.vue";

export default defineComponent({
    setup() {
        const store = useStore();
        const appdata = ref(store.state);
        authService.auth();

        return {
            appdata,
        };
    },
    components: {
        "nk-modal-container": NkModalContainerVue,
        "nk-footer-copy": NkFooterCopy,
        "nk-feed": NkFeed,
        "nk-p": NkParagraph,
        "nk-h3": NkHeading3,
        "nk-h4": NkHeading4,
        "nk-h5": NkHeading5,
    },
    methods:{
        getUserImage(id: any): string{
            return authService.getUserImage(id);
        },
    },
    data(){
        return {
            posts:[
                /* eslint-disable */
                {
                    /* eslint-disable */
                    categories: ["Corrida", "Mulheres"],
                    comments: 0,
                    content: "EKIN",
                    date_publish: "19/03/2021",
                    date_readable: "há 1 dia",
                    favorites: 0,
                    highlight: false,
                    id: 31,
                    img: "http://nike.ufcode.com.br/storage/posts/1616183910.jpg",
                    keywords: ["Pegasus", "Pegasos", "peg 37", "Peg 37", "tênis de corrida", "tênis de treino de corrida", "tênis de corrida dia a dia", "fast", "familia zoom", "zoom air", "37"],
                    likes: 0,
                    local_id: 1,
                    news: false,
                    slug: "pegasus-37",
                    stars: 5,
                    station: "SP21",
                    title: "Air Zoom Pegasus 37",
                    user_comment: false,
                    user_favorite: false,
                    user_like: false,
                    user_star: 0,
                    video: false,
                    views: 5,
                    author: {
                        name: "Colaborador Exemplo",
                        picture: "img/profile-example.png",
                        id: 41,/* mine is 40 */
                        city: "João Pessoa",
                        state: "PB",
                    }
                },
                                {
                    categories: ["Corrida", "Mulheres"],
                    comments: 0,
                    content: "EKIN",
                    date_publish: "19/03/2021",
                    date_readable: "há 1 dia",
                    favorites: 0,
                    highlight: false,
                    id: 33,
                    img: "http://nike.ufcode.com.br/storage/posts/1616183910.jpg",
                    keywords: ["Pegasus", "Pegasos", "peg 37", "Peg 37", "tênis de corrida", "tênis de treino de corrida", "tênis de corrida dia a dia", "fast", "familia zoom", "zoom air", "37"],
                    likes: 0,
                    local_id: 2,
                    news: false,
                    slug: "pegasus-39",
                    stars: 0,
                    station: "SP21",
                    title: "Air Zoom Pegasus 37",
                    user_comment: false,
                    user_favorite: false,
                    user_like: false,
                    user_star: 0,
                    video: false,
                    views: 5,
                    likedBy: {
                        author: {
                            date_publish: "19/03/2021",
                            name: "Colaborador Exemplo",
                            picture: "img/profile-example.png",
                            id: 41,/* mine is 40 */
                            city: "João Pessoa",
                            state: "PB",
                        }
                    }
                },

                /* eslint-enable */
            ],
        }
    }
})
</script>
<style lang="scss" scoped>
.profile-img-heading{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 120px;
}
.user-img-feed{
    width: 32px !important;
    height: 32px !important;
    margin-left: 12px;
    object-fit: cover;
    border-radius: 32px;
}
.user-notification-feed{
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px;
    top: 0;
    right: 0;
    position: absolute;
    background: #FF4301;
}
</style>