<template>
    <nk-container>
        <div class="d-flex justify-content-between">
            <nk-h2>Feed</nk-h2>
            <router-link style="text-decoration: none;" to="/my-feed">
                <div class="d-flex">
                    <nk-h3 class="text-capitalize text-dark">{{appdata.user.name}}</nk-h3>
                    <div class="position-relative">
                        <img class="user-img-feed" :src="getUserImage(appdata.user.avatar_id)" alt="">
                        <span class="user-notification-feed"></span>
                    </div>
                </div>
            </router-link>
        </div>
        <nk-feed-post-form :hashtags="['#lorem','#lorem','#lorem','#lorem','#lorem','#lorem','#lorem','#lorem','#lorem']"/>
        <div class="row mt-64 mb-32">
            <div class="col-6">
                <nk-button
                    class="d-flex align-items-center justify-content-center"
                    styling="white"
                    :round="true"
                    size="sm"
                    :position="'end'"
                    @click="() => {}"
                    >
                    <nk-h4>Filtrar</nk-h4><i class="icon icon-filter mt-0 ms-2"></i>
                </nk-button>
            </div>
            <div class="col-6">
                <nk-button
                    class="d-flex align-items-center justify-content-center"
                    styling="white"
                    :round="true"
                    size="sm"
                    :position="'start'"
                    @click="() => {}"
                    >
                    <nk-h4>Ordenar</nk-h4><i class="icon icon-arrow-down mt-0 ms-2"></i>
                </nk-button>

            </div>
        </div>
        <nk-feed :posts="posts" />
        <nk-footer-copy></nk-footer-copy>
    </nk-container>
</template>

<script lang="ts">
import ContainerSmallVue from "@/components/atoms/ContainerSmall.vue";
import { useStore } from "@/store";
import NkButton from "@/components/atoms/NkButton.vue";
import NkHeading2 from "@/components/atoms/NkHeading2.vue";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";
import NkFeed from "@/components/organisms/NkFeed.vue";
import NkFeedPostFormVue from "@/components/organisms/NkFeedPostForm.vue";
import { defineComponent, ref } from "vue";
import authService from "@/services/modules/authService";
import NkFooterCopy from "@/components/molecules/NkFooterCopy.vue";

export default defineComponent({
    setup() {
        const store = useStore();
        const appdata = ref(store.state);
        authService.auth();

        return {
            appdata,
        };
    },
    components: {
        "nk-container": ContainerSmallVue,
        "nk-feed-post-form": NkFeedPostFormVue,
        "nk-footer-copy": NkFooterCopy,
        "nk-feed": NkFeed,
        "nk-button": NkButton,
        "nk-h2": NkHeading2,
        "nk-h3": NkHeading3,
        "nk-h4": NkHeading4,
    },
    methods:{
        getUserImage(id: any): string{
            return authService.getUserImage(id);
        },
    },
    mounted() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    },
    data(){
        return {
            posts:[
                {
                    /* eslint-disable */
                    categories: ["Corrida", "Mulheres"],
                    comments: 0,
                    content: "EKIN",
                    date_publish: "19/03/2021",
                    date_readable: "há 1 dia",
                    favorites: 0,
                    highlight: false,
                    id: 31,
                    img: "http://nike.ufcode.com.br/storage/posts/1616183910.jpg",
                    keywords: ["Pegasus", "Pegasos", "peg 37", "Peg 37", "tênis de corrida", "tênis de treino de corrida", "tênis de corrida dia a dia", "fast", "familia zoom", "zoom air", "37"],
                    likes: 0,
                    local_id: 1,
                    news: false,
                    slug: "pegasus-37",
                    stars: 5,
                    station: "SP21",
                    title: "Air Zoom Pegasus 37",
                    user_comment: false,
                    user_favorite: false,
                    user_like: false,
                    user_star: 0,
                    video: false,
                    views: 5,
                    author: {
                        name: "Fulano de Tal",
                        picture: "img/profile-example.png",
                        id: 41,/* mine is 40 */
                        city: "João Pessoa",
                        state: "PB",
                    }
                },
                {
                    categories: ["Corrida", "Mulheres"],
                    comments: 0,
                    content: "EKIN",
                    date_publish: "19/03/2021",
                    date_readable: "há 1 dia",
                    favorites: 0,
                    highlight: false,
                    id: 32,
                    img: "http://nike.ufcode.com.br/storage/posts/1616183910.jpg",
                    keywords: ["Pegasus", "Pegasos", "peg 37", "Peg 37", "tênis de corrida", "tênis de treino de corrida", "tênis de corrida dia a dia", "fast", "familia zoom", "zoom air", "37"],
                    likes: 0,
                    local_id: 1,
                    news: false,
                    slug: "pegasus-38",
                    stars: 3,
                    station: "SP21",
                    title: "Air Zoom Pegasus 37",
                    user_comment: false,
                    user_favorite: false,
                    user_like: false,
                    user_star: 0,
                    video: false,
                    views: 5,
                    author: {
                        name: "Fulano de Tal",
                        picture: "img/profile-example.png",
                        id: 40,/* mine is 40 */
                        city: "João Pessoa",
                        state: "PB",
                    },
                    commentsList: [
                        {
                            id: 123123131,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                        {
                            id: 745674,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                        {
                            id: 96756,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                        {
                            id: 189089,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                        {
                            id: 193954039,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                    ]
                },
                {
                    categories: ["Corrida", "Mulheres"],
                    comments: 0,
                    content: "EKIN",
                    date_publish: "19/03/2021",
                    date_readable: "há 1 dia",
                    favorites: 0,
                    highlight: false,
                    id: 33,
                    img: "http://nike.ufcode.com.br/storage/posts/1616183910.jpg",
                    keywords: ["Pegasus", "Pegasos", "peg 37", "Peg 37", "tênis de corrida", "tênis de treino de corrida", "tênis de corrida dia a dia", "fast", "familia zoom", "zoom air", "37"],
                    likes: 0,
                    local_id: 2,
                    news: false,
                    slug: "pegasus-39",
                    stars: 0,
                    station: "SP21",
                    title: "Air Zoom Pegasus 37",
                    user_comment: false,
                    user_favorite: false,
                    user_like: false,
                    user_star: 0,
                    video: false,
                    views: 5,
                    likedBy: {
                        author: {
                            date_publish: "19/03/2021",
                            name: "Fulano de Tal",
                            picture: "img/profile-example.png",
                            id: 41,/* mine is 40 */
                            city: "João Pessoa",
                            state: "PB",
                        }
                    }
                },
                /* eslint-enable */
            ],
        }
    }
})
</script>
<style lang="scss" scoped>
.user-img-feed{
    width: 32px !important;
    height: 32px !important;
    margin-left: 12px;
    object-fit: cover;
    border-radius: 32px;
}
.user-notification-feed{
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px;
    top: 0;
    right: 0;
    position: absolute;
    background: #FF4301;
}
</style>