<template>
  <teleport v-if="showingMeta" to="head">
    <title> Nikepedia - Posts {{metaTitle}}</title>
    <meta name="description" :content="metaDescription">
    <meta name="keywords" content="Nike, nike, Ekins, Ekin, ekin, nike ekin, treinamento,  notícias, loja, calçados, franquias">
  </teleport>
  <nk-container>
      <div class="d-flex mt-26 justify-content-between">
        <nk-btn-radio 
          formId="homeFilter"  
          styling="light" 
          @input="(e) => {filters.content= e; filters.subcategory= ''; filters.category=''; getNewTypeContent()}" 
          :value="(appdata.filters.content)?appdata.filters.content:appdata.user.content_id" 
          :round="true"
          fontStyle="h4"
          class="m-0"
          :btns="[{title:'EKIN', value: 1}, {title:'VM&S', value: 2}]">
        </nk-btn-radio>

        <div class="dropdown dropdown-feed">
          <button
            class="btn btn-feed dropdown-toggle d-flex"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <nk-h4 class="text-dark" v-if="currentSelectedDropdown == ''">Mais Recentes</nk-h4>
            <nk-h4 class="text-dark" v-if="currentSelectedDropdown != ''">{{currentSelectedDropdown}}</nk-h4><i class="icon icon-sm ms-2 icon-angle-down-solid"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item px-24 py-12 my-10" @click="setOrderFilter('', 'Mais Recentes')" >
              <nk-p>Mais Recentes</nk-p>
            </button>
            <button class="dropdown-item px-24 py-12 my-10" @click="setOrderFilter('likes', 'Mais curtidos')" >
              <nk-p>Mais curtidos</nk-p>
            </button>
            <button class="dropdown-item px-24 py-12 my-10" @click="setOrderFilter('views', 'Mais visualizados')" >
              <nk-p>Mais visualizados</nk-p>
            </button>
            <button class="dropdown-item px-24 py-12 my-10 d-flex justify-content-between" @click="setOrderFilter('favorites', 'Favoritos')" > 
              <nk-p>Favoritos</nk-p>
              <i class="icon icon-bookmark"></i>
            </button>
          </div>
        </div>
      </div>
      <nk-tip v-if="getTipStatus('tip1') && tip1" :onClick="()=>{hideTip1()}" class="mt-24 animate__animated animate__fadeInUp" verticalPosition="up" horizontalPosition="start">
        <nk-h4 class="text-white text-start">Alterne entre as áreas para visualizar diferentes tipos de conteúdo.</nk-h4>
      </nk-tip>
      <nk-tip v-if="getTipStatus('tip2') && tip2" :onClick="()=>{hideTip2()}" class="mt-24 animate__animated animate__fadeInUp" position="end" verticalPosition="up" horizontalPosition="end">
        <nk-h4 class="text-white text-start">Selecione a forma como os posts serão ordenados ou exiba seus Favoritos.</nk-h4>
      </nk-tip>

      <nk-category 
        v-if="appdata.categories.length > 0" 
        class="animate__animated animate__fadeIn" 
        :theme="getCategoryTheme()" 
        :categories="appdata.categories" 
        :selectSubcategoryEvent="setSubcategoryFilter" 
        :selectedSubcategory="+filters.subcategory"  
        :selectCategoryEvent="setCategoryFilter" 
      />
      <nk-h3 v-if="!hasFilters()" class=" text-dark mt-32 font-weight-800 font-size-title text-start d-block">Destaques</nk-h3>

      <div  v-if="!hasFilters()" class="mt-24 d-flex justify-content-center">
        <nk-feed :featured="appdata.featured" />
      </div>

      <nk-tip v-if="getTipStatus('tip3') && tip3" :onClick="()=>{hideTip3()}" class="mt-24 animate__animated animate__fadeInUp" verticalPosition="down" horizontalPosition="start">
        <nk-h4 class="text-white text-start">Selecione diferentes coleções caso deseje visualizar posts mais antigos.</nk-h4>
      </nk-tip>

      <div class="mt-2 mb-24 d-flex justify-content-start">
        <div class="dropdown dropdown-feed">
          <button
            class="btn btn-feed btn-dropdown-sm dropdown-toggle d-flex"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <nk-h3 class="text-dark" v-if="currentSelectedStation == ''">Coleções </nk-h3>
            <nk-h3 class="text-dark" v-if="currentSelectedStation != ''">{{currentSelectedStation}} </nk-h3><i class="icon icon-angle-down-solid ms-14"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button
              class="dropdown-item py-12  my-10 px-24"
              @click="setStationFilter('', '')"
            >
              <nk-p class="text-dark">
                Coleções
              </nk-p>
            </button>
            <button
              v-for="(item, index) in appdata.stations"
              :key="index"
              class="dropdown-item py-12  my-10 px-24"
              @click="setStationFilter(item.id, item.name)"
            >
              <nk-p class="text-dark">
                {{ item.name }}
              </nk-p>
            </button>
          </div>
        </div> 
      </div>

      <nk-feed :posts="appdata.posts" />

      <div v-if="currentSharedPost !== null" >
        <nk-feed-item
          :directPostLink="true"
          :post="currentSharedPost"
        />
      </div>

      <!--footer-->
      <nk-footer-copy></nk-footer-copy>
  </nk-container>
</template>

<script lang="ts">
import { defineComponent, ref, computed, reactive } from "vue";
import { useHead } from '@vueuse/head'

import { useStore } from "../store";
import api from "@/services/api";

import NkHeading5 from "@/components/atoms/NkHeading5.vue";
import ContainerSmall from "@/components/atoms/ContainerSmall.vue";

import NkCategory from "@/components/molecules/NkCategory.vue";
import NkFeed from "@/components/organisms/NkFeed.vue";
import NkCardPost from "@/components/molecules/NkCardPost.vue";
import authService from "@/services/modules/authService";
import postsService from "@/services/modules/postsService";
import tipsService from "@/services/modules/tipsService";
import router from "@/router";
import NkRadioButtonVue from "@/components/molecules/NkRadioButton.vue";
import NkFeedItem from "@/components/organisms/NkFeedItem.vue";
import NkFooterCopy from "@/components/molecules/NkFooterCopy.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";
import NkTip from "@/components/molecules/NkTip.vue";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkParagraph from "@/components/atoms/NkParagraph.vue";

export default defineComponent({
  setup() {
    const store = useStore();
    const appdata = ref(store.state);
    authService.auth();

    return {
      appdata,
    };
  },
  data() {
    return {
      currentSelectedDropdown: "",
      currentSelectedStation: "",
      currentSharedPost: null,
      showingMeta: false,
      metaTitle: '',
      metaDescription: 'As mais variadas notícias sobre Nikepedia',
      tip1: true,
      tip2: false,
      tip3: true,
      filters: {
        content: "",
        category: "",
        subcategory: "",
        search: "",
        sort: "",
        station: "",
      }
    };
  },
  name: "GeneralFeed",
  components: {
    "nk-container": ContainerSmall,
    "nk-category": NkCategory,
    "nk-feed": NkFeed,
    "nk-footer-copy": NkFooterCopy,
    "nk-feed-item": NkFeedItem,
    "nk-tip": NkTip,
    "nk-h4": NkHeading4,
    "nk-h3": NkHeading3,
    "nk-p": NkParagraph,
    "nk-btn-radio": NkRadioButtonVue,
  },
  
  async mounted() {
    console.log("checking current value for filters");
    console.log(this.appdata.filters);
    if(!this.getTipStatus('tip1')){
      this.tip1=false; 
      this.tip2=true; 

    }
    /* check if profile is approved to use platform */
    if(this.appdata.user.status === "aguardando aprovação"){
      router.push('/perfil')
    }


    /* reset all filters after entering this screen */
    this.resetFilters();
    await postsService.getPosts();
    const local = window.location.href.split('#');
    if(local[1]){
      document.querySelector('#'+local[1])?.scrollIntoView({behavior: 'smooth'});
      router.replace('/inicio')

    }
    /* if(router.currentRoute.value.params.slug){
    } */
    await postsService.getFeatured();
    await postsService.getStations();
    await postsService.getCats();
    

    /* get and show the current post if the slug is on the url */
    /* if(router.currentRoute.value.name === "Post"){
      const p = await postsService.showPost(""+router.currentRoute.value.params.slug);
      this.currentSharedPost = p;
      this.metaTitle = p.title;
      this.metaDescription = p.text.substring(0, 10);
    } */
    this.showingMeta = true;

  },
  methods: {
    getTipStatus(id: string) {
      /* checking for tips */
      const status = tipsService.getTipsStatus(id);
      return status 
    },
    hideTip1(){
      this.tip1=false; 
      this.tip2=true; 
      tipsService.hideTips('tip1');
    },
    hideTip2(){
      this.tip1=false; 
      this.tip2=false; 
      tipsService.hideTips('tip2')
    },
    hideTip3(){
      this.tip3=false;
      tipsService.hideTips('tip3')
    },
    resetFilters(){
      this.filters.content = this.appdata.filters.content;
      this.filters.category = "";
      this.filters.subcategory = "";
      this.filters.search = "";
      this.filters.sort = "";
      this.filters.station = "";
      postsService.setFilters(this.filters);
    },
    hasFilters(): boolean{
      let hasFilter = false;
      for (const [key, value] of Object.entries(this.filters)) {
        if(value != "" && key != "content" && key != "station"){
          hasFilter = true;
        }
      }
      return hasFilter;
    },
    setSubcategoryFilter(payload: any){
      if(payload == this.filters.subcategory)
        this.filters.subcategory = ""
      else
        this.filters.subcategory = payload;

      this.getPostsWFilter();
      console.log("setSubcategoryFilter being called");
    },
    setCategoryFilter(payload: any){
      this.filters.subcategory = ""
      if(payload == this.filters.category)
        this.filters.category = ""
      else
        this.filters.category = payload;

      this.getPostsWFilter();
      console.log("setCategoryFilter being called");
    },
    setOrderFilter(payload: any, currentSort: string){
      if(payload == this.filters.sort){
        this.filters.sort = ""
        this.currentSelectedDropdown = "";

      }
      else{
        this.filters.sort = payload;
        this.currentSelectedDropdown = currentSort;

      }
      this.getPostsWFilter();
    },
    setStationFilter(payload: any, currentStation: string){
      if(payload == this.filters.station){
        this.filters.station = ""
        this.currentSelectedStation = "";
      }
      else{
        this.filters.station = payload;
        this.currentSelectedStation = currentStation;
      }
      this.getPostsWFilter();
    },
    async getNewTypeContent(){
      postsService.resetCats();
      await this.getPostsWFilter(); 
      postsService.getCats();
    },
    async getPostsWFilter(){
      console.log(this.filters);
      await postsService.setFilters(this.filters);
      await postsService.getPosts();
      await postsService.getFeatured();
    },

    /* ******* */
    /* styling */
    getCategoryTheme(): string{
      let theme = "black";
      if(this.filters.content !== ""){
        if(this.filters.content === "1")
          theme = "black";
        else if(this.filters.content === "2")
          theme = "light";

      }else {
        if(this.appdata.user.content_id === 1)
          theme = "black";
        else
          theme = "light";
      }
      return theme;

    }
  },
});
</script>

<style lang="scss" scoped>
.icon-sm{
      height: 16px;
    transform: translateY(-10%);
}
.card-feed{
  width: 100%;
}

.btn-top-left {
  label {
    font-size: 15px;
    font-weight: 400;
    box-shadow: 0 2.5px 7px rgba(0, 0, 0, 0.02), 0 3px 20px rgba(0, 0, 0, 0.08);
  }

  input[type="radio"]:focus {
    box-shadow: none !important;
  }
}

.btn-check:checked + .btn-outline-primary {
  box-shadow: none;
}

.font-size-title {
  font-size: 20px !important;
}
.dropdown-toggle::after {
    display: none;
}
.btn-dropdown-sm{
  padding: 12px 24px;
}

.dropdown-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: flex-end;
    // padding: 7px 12px 7px 16px;
    
    // position: static;
    // left: 213px;
    // top: 0px;
    
    background: #FFFFFF;
    
    box-shadow: 0px 2.5px 7px rgba(0, 0, 0, 0.02), 0px 3px 20px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    // z-index:-9999;
    // margin: 92px 0px;

  button:focus {
    color: #b3b3b3;
    box-shadow: none;
  }

  .dropdown-menu {
    border-radius: 10px;
    border: none;
    box-shadow: 0 2.5px 7px rgba(0, 0, 0, 0.02), 0 3px 20px rgba(0, 0, 0, 0.08);
  }

  .dropdown-menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Helvetica Neue";
    font-weight: normal;
    font-size: 18px;

    padding-left: 24px;
    padding-right: 16px;
    margin-bottom: 8px;
  }
}
</style>