<template>
  <teleport to="head">
    <title> Nikepedia - Ajuda</title>
    <meta name="description" content="Aplicativo de treinamento e compartilhamento de notícias Nike">
    <meta name="keywords" content="Nike, nike, Ekins, Ekin, ekin, nike ekin, treinamento,  notícias, loja, calçados, franquias">
  </teleport>

  <nk-container>
    <div class="container d-flex mt-24 justify-content-between px-0">
      <div class="">
        <div class="text-start me-2">
          <h5 class="heading-text mt-1">Ajuda</h5>
        </div>
      </div>

      <div>

      <nk-button @click="()=>showTips()" :styling="'white'" :round="true" :size="'sm'" :position="'end'">
        <nk-h4>Rever dicas</nk-h4>
      </nk-button>
      </div>
    </div>

    <div class="d-flex text-start mt-24 text-help">Selecione para que área deseja enviar sua pergunta e escreva a mensagem abaixo. O time responderá em até 48 horas úteis.</div>
    <form class="text-start" @submit.prevent="onSubmit(form)">
      <div class="mt-32">
        <nk-select
          label="Assunto"
          id="assunto"
          name="assunto"
          placeholder="Assunto"
          :value="form.subject"
          v-if="!onPostHelp"
          @input="(e) => (form.subject = e)"
        >
          <option value=""></option>
          <option v-for="(item, index) in appdata.settingsHelp" :key="'help_optins_'+index" :value="item.key">{{item.key}}</option>
        </nk-select>
        <nk-select
          label="Assunto"
          id="assunto"
          name="assunto"
          placeholder="Assunto"
          :value="'Dúvidas sobre a notícia'"
          :disabled="true"
          v-if="onPostHelp"
          @input="(e) => (form.subject = e)"
        >
          <option value="Dúvidas sobre a notícia">Dúvidas sobre a notícia</option>
          <option v-for="(item, index) in appdata.settingsHelp" :key="'help_optins_'+index" :value="item.key">{{item.key}}</option>
        </nk-select>
      </div>
      <div>
        <nk-textarea
          label="Digite aqui sua mensagem"
          id="text"
          name="text"
          placeholder=" "
          rows="6"
          :value="form.text"
          @input="(e) => (form.text = e)"
        />
        <!-- <div class="container form-floating mt-24">
            <textarea class="form-control text-area" placeholder="Digite aqui sua mensagem" style="height: 150px"></textarea>
        </div> -->
      </div>
      <div>
        <nk-button
          class="mt-16"
          styling="dark"
          :round="true"
          :disabled="form.text==''"
          type="submit"
          href="#"
        >
          <nk-h3>Enviar</nk-h3>
        </nk-button>
      </div>
    </form>

    <!--footer-->
    <nk-footer-copy />
    <!--footer-end-->
  </nk-container>

</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore } from "../store";
/* import NkHeading5 from "@/components/atoms/NkHeading5.vue"; */
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import ContainerSmall from "@/components/atoms/ContainerSmall.vue";
import NkButton from "@/components/atoms/NkButton.vue";
import NkSelect from "@/components/atoms/NkSelect.vue";
import NkTextarea from "@/components/atoms/NkTextarea.vue";
/* import NkInput from "@/components/atoms/NkInput.vue"; */
import NkFooterCopy from "@/components/molecules/NkFooterCopy.vue";
import authService from "@/services/modules/authService";
import sacService from "@/services/modules/sacService";
import router from "@/router";
import settingsService from "@/services/modules/settingsService";
import tipsService from "@/services/modules/tipsService";
import notificationsService from "@/services/modules/notificationsService";

export default defineComponent({
  setup() {
    const store = useStore();
    const appdata = ref(store.state);
    authService.auth();



    return {
      appdata,
    };
  },

  components: {
    /* "nk-input": NkInput, */
    /* "nk-h1": NkHeading1, */
    /* "nk-h5": NkHeading5, */
    "nk-h3": NkHeading3,
    "nk-container": ContainerSmall,
    "nk-button": NkButton,
    "nk-select": NkSelect,
    "nk-textarea": NkTextarea,
    "nk-footer-copy": NkFooterCopy,
  },
  data() {
    return {
      modalSuccess: false,
      onPostHelp: false,
      form: {
        subject: "",
        text: "",
        src: "Ajuda",
        // eslint-disable-next-line
        post_id: ""
      },
    };
  },
  mounted(){
    settingsService.settingsHelp();

    if(this.appdata.user.status === "aguardando aprovação"){
      router.push('/perfil')
    }
    if(router.currentRoute.value.params.src){
      this.form.subject = "Dúvidas sobre a notícia";
      this.form.src = ""+router.currentRoute.value.params.src;
      // eslint-disable-next-line
      this.form.post_id = ""+router.currentRoute.value.params.id;
      this.onPostHelp = true;
    }
  },
  methods: {
    onSubmit(payload: any): void {
      sacService.helpRequest(payload, ()=>{
        this.form.text = '';
        notificationsService.add({type: "success", message: "Mensagem enviada com sucesso! Em breve entraremos em contato com você."})
      });
    },
    showTips(){
      tipsService.showTips();
      router.push('/inicio');

    }
  },
});
</script>
<style lang="scss">
.home-background {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("/img/nike-just-do-id.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.heading-text {
  font-family: 'Helvetica Neue';
  font-size: 26px;
  font-weight: 700;
}
.text-help {
  font-family: "Helvetica Neue";
  font-size: 18px;
  color: #000;
}
.btn-feed {
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-weight: normal;
}
</style>