
<template>
  <teleport to="head">
    <title> Nikepedia</title>
    <meta name="description" content="Aplicativo de treinamento e compartilhamento de notícias Nike">
    <meta name="keywords" content="Nike, nike, Ekins, Ekin, ekin, nike ekin, treinamento,  notícias, loja, calçados, franquias">
  </teleport>

  <!--Login page start-->
  <div :style="'background-image: url('+settings.backgroundImg+');'" class="container-fluid home-background p-0">
    <nk-container :addW="20">
      <div class="text-start pt-123">
        <img height="80" width="140" class="image" src="/img/logo.png" />
      </div>
      <nk-h1 class="my-24 text-start text-white none-capitalize">
        A comunidade dos atletas.
      </nk-h1>
      <div class="button-group">
        <!-- <nk-button
          class="mt-16"
          styling="facebook"
          @click="facebookLoginModal()"
          :round="true"
        >
          <i class="icon icon-facebook  me-2"></i>
          <nk-h3>Continuar com Facebook</nk-h3>
        </nk-button> -->
        <!-- <nk-button
          class="mt-16"
          styling="google"
          @click="googleLoginModal()"
          :round="true"
        >
          <i class="icon icon-google  me-2"></i>
          <nk-h3>Continuar com Google</nk-h3>
        </nk-button> -->
        <nk-button
          class="mt-16"
          styling="white"
          :round="true"
          @click="loginModal = true"
        >
          <nk-h3>Entrar com Email</nk-h3>
        </nk-button>
        <nk-h2 class="text-white mt-16">ou</nk-h2>
        <nk-button
          class="mt-16"
          styling="white"
          :round="true"
          v-on:click="regModal = true"
        >
          <nk-h3>Cadastre-se com Email</nk-h3>
        </nk-button>
      </div>
      <!-- <nk-h4 class="mt-24 text-white">Ao prosseguir, você automaticamente concorda com nossos termos</nk-h4> -->
      <nk-h4 class="mt-24 text-white">Para mais informações visite nossa página 
        <a class="text-white " href="#termsmodal" data-bs-toggle="modal">Politica de Privacidade e Termos de Uso</a></nk-h4>
      <!-- <nk-h5
        class="mt-16 text-gray2 text-link"
        data-bs-toggle="modal"
        data-bs-target="#termsmodal"
        >Política de Privacidade. Termos de Uso.</nk-h5
      > -->
      <nk-h5 class="mt-8 text-gray2"
        >© 2020 Fisia, Ltda. All Rights Reserved.</nk-h5
      >
    </nk-container>
  </div>
  <!--Login page end-->

  <!--Email register start-->
  <nk-modal
    id="registermodal"
    :onClose="
      () => {
        regModal = false;
      }
    "
    :open="regModal"
    title="Cadastro com email"
    subTitle="Informe a seguir os seus dados para se cadastrar em nossa plataforma. Seu cadastro será enviado para aprovação."
  >
    <nk-user-form :errors="errors" formId="homeform" :submit="register"></nk-user-form>
  </nk-modal>
  <!--Email register End-->

  <!--Facebook/Google to complete start-->
  <nk-modal id="completemodal" title="Completar perfil">
    <nk-profile-form :onSubmit="() => {}"></nk-profile-form>
  </nk-modal>
  <!--Facebook/Google to complete end-->

  <!-- Modal email start -->
  <nk-modal
    id="emailmodal"
    :onClose="
      () => {
        loginModal = false;
      }
    "
    :open="loginModal"
    title="Entrar com email"
  >
    <nk-login-form :onSubmit="authUser"></nk-login-form>
  </nk-modal>
  <!--Modal email end-->

  <!-- password recover start -->
  <nk-popup id="recoverpassmodal" title="Resetar senha" :subTitle="'Para cadastrar uma nova senha, informe abaixo seu email cadastrado e enviaremos instruções para recuperar acesso ao nosso app'" :onClose="()=>{}">
    <nk-password-reset-form :onSubmit="forgotPassword"></nk-password-reset-form>
  </nk-popup>
  <nk-popup id="recoverpassmodal" :open="forgotPasswordModal" title="Resetar senha" subTitle="Digite abaixo sua nova senha" :onClose="()=>{forgotPasswordModal=false}">
    <nk-password-form :hasEmail="true" :onSubmit="resetPassword"></nk-password-form>
  </nk-popup>
  <!--password recover end-->
  <!-- facebook login -->
  <nk-popup id="facebookLogin" :fullScreen="true" :onClose="() => {}" title="">
    <iframe
      width="100%"
      height="415"
      :src="facebookRegisterLink"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </nk-popup>
  <!-- facebook end -->

  <!--register request start-->
  <nk-popup id="regRequest" :open="modalSuccess" :subTitle="popupActiveUser" title="Cadastro Realizado">
    <nk-button
      type="submit"
      class="btn-modal txt mt-23"
      v-on:click="
        modalSuccess = false;
        regModal = false;
      "
    >
      <nk-h3>Voltar ao inicio</nk-h3>
    </nk-button>
  </nk-popup>
  <!--register request end-->
  <!--register request start-->
  <nk-popup id="popupGeneral" :open="popupGeneral" :subTitle="popupGeneralMessage" :title="popupGeneralTitle">
    <nk-button
      styling="dark"
      v-on:click="()=>{popupGeneral = !popupGeneral}"
      type="submit"
      class="btn-modal txt mt-23"
      data-dismiss="modal"
    >
      <nk-h3>Voltar</nk-h3>
    </nk-button>
  </nk-popup>
  <nk-popup id="popupSuccessfullPassword" :open="popupSuccessfullPassword" :subTitle="popupGeneralMessage" :title="popupGeneralTitle">
    <nk-button
      styling="dark"
      v-on:click="()=>{popupSuccessfullPassword = !popupSuccessfullPassword; registerPasswordModal = false}"
      type="submit"
      class="btn-modal txt mt-23"
      data-dismiss="modal"
    >
      <nk-h3>Voltar</nk-h3>
    </nk-button>
  </nk-popup>
  <!--register request end-->

  <!-- password recover ok start -->
  <nk-modal id="resetok" title="Resetar senha">
    <div>
      <p class="recoverpass text-left">
        <span
          >Se seu email estiver cadastrado em nosso sistema, você receberá as
          instruções nos próximos minutos. Se demorar a recebê-lo, verifique sua
          caixa de spams.</span
        >
      </p>
    </div>
    <button type="submit" class="btn-modal txt mt-44" data-dismiss="modal">
      Voltar ao início
    </button>
  </nk-modal>
  <!--password recover ok end-->

  <!--Modal politics start-->
  <nk-modal id="termsmodal" title="Atenção!">
    <nk-terms-form></nk-terms-form>
  </nk-modal>
  <!--Modal politics end-->
  <nk-modal
    id="reset"
    :onClose="
      () => {
        registerPasswordModal = false;
      }
    "
    :open="registerPasswordModal"
    title="Registrar senha"
  >
    <nk-password-form :onSubmit="registerPassword"></nk-password-form>
  </nk-modal>

</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore, MutationTypes, ActionTypes } from "../store";

import NkHeading1 from "@/components/atoms/NkHeading1.vue";
import NkHeading2 from "@/components/atoms/NkHeading2.vue";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";
import NkHeading5 from "@/components/atoms/NkHeading5.vue";
import ContainerSmall from "@/components/atoms/ContainerSmall.vue";
import NkButton from "@/components/atoms/NkButton.vue";
import NkModal from "@/components/molecules/NkModal.vue";
import NkLoginForm from "@/components/organisms/NkLoginForm.vue";
import NkUserForm from "@/components/organisms/NkUserForm.vue";
import NkTermsForm from "@/components/organisms/NkTermsForm.vue";
import NkProfileForm from "@/components/organisms/NkProfileForm.vue";
import NkPopup from "@/components/molecules/NkPopup.vue";
import NkPasswordResetForm from "@/components/organisms/NkPasswordResetForm.vue";
import appService from "@/services/api";
import router from "@/router";
import NkPasswordRegisterFormVue from "@/components/organisms/NkPasswordRegisterForm.vue";
import authService from "@/services/modules/authService";
import settingsService from "@/services/modules/settingsService";
import notificationsService from "@/services/modules/notificationsService";

export default defineComponent({
  components: {
    "nk-h1": NkHeading1,
    "nk-h2": NkHeading2,
    "nk-h3": NkHeading3,
    "nk-h4": NkHeading4,
    "nk-h5": NkHeading5,
    "nk-container": ContainerSmall,
    "nk-button": NkButton,
    "nk-modal": NkModal,
    "nk-popup": NkPopup,
    "nk-login-form": NkLoginForm,
    "nk-user-form": NkUserForm,
    "nk-password-reset-form": NkPasswordResetForm,
    "nk-terms-form": NkTermsForm,
    "nk-profile-form": NkProfileForm,
    "nk-password-form": NkPasswordRegisterFormVue,
  },
  setup() {
    const store = useStore();
    const appdata = ref(store.state);

    return {
      appdata,
    };
  },

  data() {
    return {
      errors: {},
      popupGeneral: false,
      popupActiveUser: "",
      forgotPasswordModal: false,
      popupSuccessfullPassword: false,
      popupGeneralTitle: "",
      popupGeneralMessage: "",
      modalSuccess: false,
      regModal: false,
      loginModal: false,
      registerPasswordModal: false,
      facebookRegisterLink: "",
      googleRegisterLink: "",
      settings: {
        backgroundImg: "",
      }
      
    };
  },
  name: "Home",
  async mounted(){
    await settingsService.settings();
    console.log("appdata after the mutation");
    this.appdata.settings.forEach(e => {
      if(e.key === "background"){
        this.settings.backgroundImg = e.value;
      }
    });
    /* console.log("APP COMPONENT DID MOUNT"); */
    /* console.log(router); */
    /* console.log(router.currentRoute.value.name); */
    /* console.log(router.currentRoute.value.name === "Reset"); */
    if (router.currentRoute.value.name === "Reset") {
      this.registerPasswordModal = true;
    }
    if (router.currentRoute.value.name === "newPassword") {
      this.forgotPasswordModal = true;
    }

  },
  methods: {
    resetPassword(payload: any): void {
      payload.token = router.currentRoute.value.params.token;
      authService.resetPassword(payload, ()=>{
        this.popupGeneral = true;
        this.popupGeneralTitle = "Sucesso!";
        this.popupGeneralMessage = "Senha resetada com sucesso!";

      }, (err: string) => {
        /* this.popupGeneral = true;
        this.popupGeneralTitle = "Erro";
        this.popupGeneralMessage = err; */
        notificationsService.add({type: "danger", message: err})
        
      });

    },
    registerPassword(payload: any): void {
      authService.registerPassword(payload, router.currentRoute.value.params.token, ()=>{
        this.popupSuccessfullPassword = true;
        this.popupGeneralTitle = "Sucesso!";
        this.popupGeneralMessage = "Senha cadastrada com sucesso!";

      }, (err: string) => {
        notificationsService.add({type: "danger", message: err})

      });

    },

    register(payload: any): void {
      
      authService.register(payload, (response: any)=>{
        this.modalSuccess = true;
        this.popupActiveUser = "Obrigado pelo seu interesse. Vamos validar o seu cadastro e muito em breve você receberá um e-mail validando o seu acesso a nossa plataforma.";
        if(response.data.data == "Usuário ativo"){
          this.popupActiveUser = "Obrigado por se cadastrar. Você receberá um e-mail para criação da sua senha e ficar por dentro de todas as novidades!";
        }
      }, (err: any)=> {
        this.errors = err.response.data.errors;
        console.log('this is the error: =>', err.response)
        const response = (err.response.data.error)?err.response.data.error:"erro durante o cadastro"
        notificationsService.add({type: "danger", message: response})

      });
    },
    async facebookLoginModal() {
      this.facebookRegisterLink = await authService.getFacebookRegisterLink();
      window.location.href = this.facebookRegisterLink;
    },
    async googleLoginModal() {
      this.googleRegisterLink = await authService.getGoogleRegisterLink();
      window.location.href = this.googleRegisterLink;
    },
    authUser(payload: any): void {
      console.log("auth user being called");
      authService.login(payload, ()=>{
        authService.auth(()=>{
          if(this.appdata.user.status === "ativo"){
            if(this.appdata.sharedPost) {
              router.push({path: `/post/${this.appdata.sharedPost}`});
            }else {
              router.push({path: "/inicio"});
            }
          }else {
            router.push({path: "/perfil"});
          }
        }, (err: string)=>{
          this.popupGeneral = true;
          this.popupGeneralTitle = "Erro";
          this.popupGeneralMessage = err;
        });
      }, (err: any)=>{
        if(err.response.data.error == "Unauthorized"){
          notificationsService.add({type: "danger", message: "E-mail ou senha inválido"})
        }
        if(err.response.data.error == "Inactive"){
          this.popupGeneral = true;
          this.popupGeneralTitle = "Atenção";
          this.popupGeneralMessage = "Seu login foi desativado porque você não consta em nossa base de dados. Entre em contato com o RH da sua loja para tirar suas dúvidas.";
        }
      });
    },
    updateProfile(payload: any): void {
      console.log(payload);
    },
    async forgotPassword(payload: any){
      console.log("reset password with email");
      console.log(payload);
      authService.forgotPassword(payload, ()=>{
        /* this.popupGeneral = true;
        this.popupGeneralTitle = "Sucesso!";
        this.popupGeneralMessage = "um e-mail foi enviado com o passo a passo para resetar sua senha..."; */
        notificationsService.add({type: "success", message: "um e-mail foi enviado com o passo a passo para resetar sua senha..."})

      }, ()=>{
        notificationsService.add({type: "danger", message: "E-mail inválido"})
      });
    }
  },
});
</script>
<style lang="scss">
.none-capitalize{
  text-transform: none !important;
}
.image{
  object-fit: contain;
}
.home-background {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
</style>