<template>
    <nk-modal-container :title="`${appdata.user.name} ${appdata.user.last_name}`" from="/feed" id="myfeed" >
        <nk-h3 class="text-start py-24">Notificações</nk-h3>
        <nk-user-card :onClick="()=>{goToUser(0)}" picture="img/profile-example.png" date_publish="20/12/2020 12h34" notification="compartilhou um post com você" username="Fulano notificação"></nk-user-card>
        <nk-h3 class="text-start py-16">Meus posts</nk-h3>
        <nk-button
            class="d-flex align-items-center justify-content-center mb-24"
            styling="white"
            :round="true"
            size="sm"
            :position="'center'"
            @click="() => {}"
        >
            <nk-h4>Mais comentados</nk-h4><i class="icon icon-arrow-down mt-0 ms-2"></i>
        </nk-button>
        <nk-feed :posts="posts" />
        <nk-footer-copy></nk-footer-copy>
    </nk-modal-container>
</template>

<script lang="ts">
import { useStore } from "@/store";
import NkButton from "@/components/atoms/NkButton.vue";
import NkHeading2 from "@/components/atoms/NkHeading2.vue";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";
import NkFeed from "@/components/organisms/NkFeed.vue";
import { defineComponent, ref } from "vue";
import authService from "@/services/modules/authService";
import NkFooterCopy from "@/components/molecules/NkFooterCopy.vue";
import NkModalContainerVue from "@/components/molecules/NkModalContainer.vue";
import NkUserCardVue from "@/components/molecules/NkUserCard.vue";
import router from "@/router";

export default defineComponent({
    setup() {
        const store = useStore();
        const appdata = ref(store.state);
        authService.auth();

        return {
            appdata,
        };
    },
    components: {
        "nk-modal-container": NkModalContainerVue,
        "nk-footer-copy": NkFooterCopy,
        "nk-user-card": NkUserCardVue,
        "nk-feed": NkFeed,
        "nk-button": NkButton,
        "nk-h4": NkHeading4,
        "nk-h3": NkHeading3,
    },
    methods:{
        getUserImage(id: any): string{
            return authService.getUserImage(id);
        },
        goToUser(id: string): void{
            router.push('/colaborator')
        }
    },
    mounted() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    },
    data(){
        return {
            posts:[
                /* eslint-disable */
                {
                    categories: ["Corrida", "Mulheres"],
                    comments: 0,
                    content: "EKIN",
                    date_publish: "19/03/2021",
                    date_readable: "há 1 dia",
                    favorites: 0,
                    highlight: false,
                    id: 32,
                    img: "http://nike.ufcode.com.br/storage/posts/1616183910.jpg",
                    keywords: ["Pegasus", "Pegasos", "peg 37", "Peg 37", "tênis de corrida", "tênis de treino de corrida", "tênis de corrida dia a dia", "fast", "familia zoom", "zoom air", "37"],
                    likes: 0,
                    local_id: 1,
                    news: false,
                    slug: "pegasus-38",
                    stars: 3,
                    station: "SP21",
                    title: "Air Zoom Pegasus 37",
                    user_comment: false,
                    user_favorite: false,
                    user_like: false,
                    user_star: 0,
                    video: false,
                    views: 5,
                    author: {
                        name: "Fulano de Tal",
                        picture: "img/profile-example.png",
                        id: 40,/* mine is 40 */
                        city: "João Pessoa",
                        state: "PB",
                    },
                    commentsList: [
                        {
                            id: 123123131,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                        {
                            id: 745674,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                        {
                            id: 96756,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                        {
                            id: 189089,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                        {
                            id: 193954039,
                            authorName: "fulaninho",
                            authorImg: "img/profile-example.png",
                            authorCity: "João Pessoa",
                            authorState: "PB",
                            comment: "Elit sit quis arcu nibh dolor rutrum tincidunt amet. Est elementum sit ultrices tempus eget egestas sed. Morbi a eget fringilla convallis.",
                            date_publish: "15/02/2021",
                        },
                    ]
                },
                /* eslint-enable */
            ],
        }
    }
})
</script>
<style lang="scss" scoped>
.user-img-feed{
    width: 32px !important;
    height: 32px !important;
    margin-left: 12px;
    object-fit: cover;
    border-radius: 32px;
}
.user-notification-feed{
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px;
    top: 0;
    right: 0;
    position: absolute;
    background: #FF4301;
}
</style>