<template>
  <teleport to="head">
    <title> Nikepedia - 404</title>
    <meta name="description" content="Aplicativo de treinamento e compartilhamento de notícias Nike">
    <meta name="keywords" content="Nike, nike, Ekins, Ekin, ekin, nike ekin, treinamento,  notícias, loja, calçados, franquias">
  </teleport>

<div class="container-fluid bg-dark notfound h-100">
  <nk-container>
    <div class="text-center pt-123">
        <img class="image" src="/img/logo.svg" />
    </div>

    <div>
        <nk-h1 class="text-white mt-80">404</nk-h1>
    </div>

    <div>
        <nk-h4 class="text-start mt-32 text-white">
            <span>
                Esta é uma página de erro. Fique tranquilo, acontece! <br>
                Provavelmente você chegou até aqui por ter clicado em um link que não existe mais ou digitado o endereço errado.
            </span>
        </nk-h4>
    </div>
    <div class="link-home">
      <router-link class="mt-32" to="/inicio">
        <nk-h4>Ir para o inicio</nk-h4>
      </router-link>

    </div>
    <!--footer-->
    <nk-h5
      class="mt-158 text-gray2 text-link"
      data-bs-toggle="modal"
      data-bs-target="#termsmodal"
      >Política de Privacidade. Termos de Uso.</nk-h5
    >
    <nk-h5 class="mt-8 text-gray2"
      >© 2020 Fisia, Ltda. All Rights Reserved.</nk-h5
    >
    <!--footer-end-->
  </nk-container>
</div>

<!-- <div class="navbar menu d-flex justify-content-between">
  <a href="#/inicio"><i class="icon icon-nike"></i><p><span>Feed</span></p></a>
  <a href="#/pesquisar"><i class="icon icon-search-solid-1"></i><p><span>Pesquisar</span></p></a>
  <a href="#/ajuda"><i class="icon icon-question-solid"></i><p><span>Ajuda</span></p></a>
  <a href="#/perfil"><i class="icon icon-user-1"></i><p><span>Perfil</span></p></a>
</div> -->


    
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import NkHeading1 from "@/components/atoms/NkHeading1.vue";
import NkHeading2 from "@/components/atoms/NkHeading2.vue";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";
import NkHeading5 from "@/components/atoms/NkHeading5.vue";
import ContainerSmall from "@/components/atoms/ContainerSmall.vue";
import NkButton from "@/components/atoms/NkButton.vue";
import NkModal from "@/components/molecules/NkModal.vue";
import NkLoginForm from "@/components/organisms/NkLoginForm.vue";
import NkProfileForm from "@/components/organisms/NkProfileForm.vue";
import NkInput from "@/components/atoms/NkInput.vue";

@Options({
  components: {
    "nk-input": NkInput,
    "nk-h1": NkHeading1,
    "nk-h2": NkHeading2,
    "nk-h3": NkHeading3,
    "nk-h4": NkHeading4,
    "nk-h5": NkHeading5,
    "nk-container": ContainerSmall,
    "nk-button": NkButton,
    "nk-modal": NkModal,
    "nk-login-form": NkLoginForm,
    "nk-profile-form": NkProfileForm,
  },
})
export default class NotFound extends Vue {
    authUser(payload: any): void{
      console.log(payload);
    }
    updateProfile(payload: any): void{
      console.log(payload);
    }

}
</script>
<style lang="scss" scoped>
.bg-dark{
  background-color: #000000 !important;
}
.link-home{
  a{

    display: inline-block !important;
    text-align: center;
    padding: 7px 16px;
        border-radius: 32px;
    
    border: none;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
    color: #000;
    background: #fff;
    display: flex;
    justify-content: center;
    text-decoration: none !important;
  }
  a:focus{
    outline: none;
    box-shadow: none;
    color: #B3B3B3;
    background: #F2F2F2;
  }
  a:hover{
    color: #7D7D7D;
    background: #F2F2F2;
  }

}
.notfound{
      position: absolute;
    top: 0;
    z-index: 9000;
    width: 100vw;
}
.h-100{
  height: 100vh !important;
}
.home-background {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("/img/nike-just-do-id.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
</style>