<template>
  <teleport to="head">
    <title> Nikepedia - Perfil</title>
    <meta name="description" content="Aplicativo de treinamento e compartilhamento de notícias Nike">
    <meta name="keywords" content="Nike, nike, Ekins, Ekin, ekin, nike ekin, treinamento,  notícias, loja, calçados, franquias">
  </teleport>

  <div class="footer">
    <nk-container>
      <div class="d-flex mt-24 justify-content-between">
        <div class="">
          <div class="text-start ms-10 me-2">
            <nk-h2>Perfil</nk-h2>
          </div>
        </div>

        <div class="d-flex">
          <div>

          <nk-button
            class="me-4 d-flex align-items-center justify-content-center"
            styling="white"
            :round="true"
            size="sm"
            @click="logOut()"
          >
            <nk-h4>Sair</nk-h4>
          </nk-button>
          </div>
          <div>
          <nk-button
            class="d-flex align-items-center justify-content-center"
            styling="white"
            :round="true"
            size="sm"
            data-bs-toggle="modal"
            data-bs-target="#profileEdit"
          >
            <nk-h4>Editar</nk-h4>
          </nk-button>
          </div>
        </div>
      </div>

      <div class="profile mt-24">
       <!-- <img class="profile-pic" :src="getAvatarSrc(appdata.user.avatar_id, appdata.avatars)" alt="" /> -->
       <img class="profile-pic" :src="getUserImage(appdata.user.avatar_id)" alt="" />
        <div class="d-flex justify-content-center flex-column mt-24">
          <nk-h2>{{ appdata.user.name }} {{ appdata.user.last_name }}</nk-h2>
        </div>
        <div class="mt-16">
          <nk-h5 class="text-title"><span>Cidade</span></nk-h5>
          <nk-h3 class="text-capitalize">{{appdata.user.store?.city}}</nk-h3>
          <nk-h3 v-if="!appdata.user.store" class="text-capitalize">Sem Cidade</nk-h3>
        </div>

        <div class="mt-16">
          <nk-h5 class="text-title">Loja</nk-h5>
          <nk-h3>{{appdata.user.store?.name}}</nk-h3>
          <nk-h3 v-if="!appdata.user.store" class="text-capitalize">Sem Loja</nk-h3>
          <nk-h4>{{appdata.user.local?.name}}</nk-h4>

        </div>

        <div class="mt-16 mb-24">
          <nk-h5 class="text-title">Conteudo Preferencial</nk-h5>
          <nk-h3 v-if="appdata.user.content_id === 1">EKIN</nk-h3>
          <nk-h3 v-if="appdata.user.content_id === 2">VM&S</nk-h3>
        </div>
        <!-- <nk-button
          class="mb-56"
          styling="dark"
          :round="true"
          size="sm"
          @click="()=>{goToMyPosts()}"
        >
          <nk-h4>Ir para meus posts</nk-h4>
        </nk-button> -->
        <!-- <div class="not-holder">
          <nk-p class="text-gray1 ">Por onde você quer receber notificações?</nk-p>
          <div class="d-flex justify-content-between mb-32 mt-32">
            <nk-p>Notificações pelo sistema</nk-p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="systemNot" checked>
            </div>
          </div>
          <div class="d-flex justify-content-between mb-32">
            <nk-p>Notificações pelo WhatsApp</nk-p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="whatsNot" checked>
            </div>
          </div>
          <div class="d-flex justify-content-between mb-32">
            <nk-p>Newsletters por email</nk-p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="newsletter" checked>
            </div>
          </div>
        </div> -->

      </div>

      <!--footer-->
      <nk-footer-copy />
      <!--footer-end-->
    </nk-container>
  </div>

  <!--MODAL START-->
  <nk-modal id="profileEdit" title="Editar Perfil">
    <div class="position-relative">
      <div class="profile-modal">
        <!-- <img class="profile-pic" :src="getAvatarSrc(appdata.user.avatar_id, appdata.avatars)" alt=""> -->
        <img class="profile-pic" :src="getUserImage(appdata.user.avatar_id)" alt="">
          <nk-button
            class="mini-img"
            styling="white"
            :round="true"
            size="sm"
            data-bs-dismiss="modal"
            data-bs-toggle="modal" 
            data-bs-target="#profilepic">
            <i class="icon icon-pencil"></i>
          </nk-button>
      </div>
    </div>

      <div class="mt-24 d-flex justify-content-center">
          <nk-h2 class="">{{appdata.user.name}} {{appdata.user.last_name}}</nk-h2>
      </div>

    <nk-user-form formId="updateRegForm" :submit="updateUser" :disableEmail="true" :values="appdata.user">
        <nk-button  styling="none" data-bs-dismiss="modal"  data-bs-toggle="modal" data-bs-target="#recoverpassmodal" >
            <nk-h3 class="text-dark">Alterar senha</nk-h3>
        </nk-button>
    </nk-user-form>
  </nk-modal>

  <nk-popup id="recoverpassmodal" title="Alterar senha" subTitle="Cadastre aqui a sua nova senha" :onClose="()=>{}">
    <nk-password-register-form :onSubmit="updatePassword"></nk-password-register-form>
  </nk-popup>
  
  <nk-modal 
    id="compleateRegister" 
    :open="compleateRegisterModal" 
    :onClose="
      () => {
        compleateRegisterModal = false;
      }
    "
    :blockClose="true"
    v-if="appdata.user.email"
    title="Completar Cadastro">
    <nk-user-form :submit="updateUser" formId="compleateRegForm" :hideNameAndEmail="true" :values="appdata.user"></nk-user-form>
  </nk-modal>
  <!--MODAL END-->

  <!--MODAL PROFILE PIC START-->
  <nk-modal id="profilepic" title="Selecione avatar"> 
    <nk-profile-pic  :avatars="appdata.avatars" :onUpdate="updateAvatar"></nk-profile-pic>
  </nk-modal>
  <!--MODAL PROFILE PIC END-->
  
  <nk-popup id="popupGeneral" :onClose="()=>{popupGeneral = false}" :open="popupGeneral" :subTitle="popupGeneralMessage" :title="popupGeneralTitle">
  </nk-popup>
</template>

<script lang="ts">
/* eslint-disable */
import { defineComponent, ref } from "vue";
import { useStore, MutationTypes, ActionTypes } from "../store";

import NkHeading2 from "@/components/atoms/NkHeading2.vue";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";
import NkHeading5 from "@/components/atoms/NkHeading5.vue";
import ContainerSmall from "@/components/atoms/ContainerSmall.vue";
import NkButton from "@/components/atoms/NkButton.vue";
import NkModal from "@/components/molecules/NkModal.vue";
import NkProfileEdit from "@/components/organisms/NkProfileEdit.vue";
import NkProfilePic from "@/components/organisms/NkProfilePic.vue";
import NkFooterCopy from "@/components/molecules/NkFooterCopy.vue";
import appService from "@/services/api";
import router from "@/router";
import api from "@/services/api";
import authService from "@/services/modules/authService";
import NkUserFormVue from "@/components/organisms/NkUserForm.vue";
import NkPopup from "@/components/molecules/NkPopup.vue";
import NkPasswordRegisterForm from "@/components/organisms/NkPasswordRegisterForm.vue";
import notificationsService from "@/services/modules/notificationsService";
import postsService from "@/services/modules/postsService";

export default defineComponent({
  setup() {
    const store = useStore();
    const appdata = ref(store.state);
    if(router.currentRoute.value.name !== "Reset" && router.currentRoute.value.name !== "CompletarRegistro"){
      authService.auth();
    }
    authService.avatars();

    return {
      appdata,
    };
  },
  name: "Profile",
  data() {
    return {
      registerPasswordModal: false,
      compleateRegisterModal: false,
      popupGeneral: false,
      popupGeneralTitle: '',
      popupGeneralMessage: '',
      modalSuccess: false,
      modalSuccessMessage: '',
      modalError: false,
      modalErrorMessage: '',
    };
  },

  components: {
    "nk-h2": NkHeading2,
    "nk-h3": NkHeading3,
    "nk-h4": NkHeading4,
    "nk-h5": NkHeading5,
    "nk-container": ContainerSmall,
    "nk-button": NkButton,
    "nk-modal": NkModal,
    "nk-popup": NkPopup,
    /* "nk-profile-edit": NkProfileEdit, */
    "nk-profile-pic": NkProfilePic,
    "nk-footer-copy": NkFooterCopy,
    "nk-user-form": NkUserFormVue,
    "nk-password-register-form": NkPasswordRegisterForm,
  },
  mounted() {
    if (router.currentRoute.value.name === "Reset") {
      this.registerPasswordModal = true;
    }
    if (router.currentRoute.value.name === "CompletarRegistro") {
      authService.authWithToken(router.currentRoute.value.params.token, ()=> {
        console.log("after the auth being called");
        if(!this.appdata.user.store_id){
          this.compleateRegisterModal = true;
        }else {
          if(this.appdata.user.status === "ativo"){
            router.push({path: "/inicio"});
          }else {
            router.push({path: "/perfil"});
          }
        }
      });
    }
    if(router.currentRoute.value.name === "Profile"){
      if(this.appdata.user.status === "aguardando aprovação"){
        this.popupGeneral = true;
        this.popupGeneralTitle = "Aguardando aprovação!";
        this.popupGeneralMessage = "Aguarde a aprovasão do gerente para utilizar a plataforma";
      }
    }
  },
  methods: {
    goToMyPosts(): void{
      router.push("/my-feed")
    },
    getUserImage(id: any): string{
      return authService.getUserImage(id);
    },
    /* getAvatarSrc(id: any, avatars: any[]): string{ 
      let src = "";
      if(!id){
        src = "/img/default.png";
      }
      avatars.forEach(e => {
        if(e.id == id){
          src = e.url;
        }
      });
      return src;
    }, */
    authUser(payload: any): void {
      console.log(payload);
    },
    updateProfile(payload: any): void {
      console.log(payload);
    },
    logOut(): void {
      postsService.unsetSharedPost();
      authService.logOut();
      router.push({ path: "/home" });
      console.log("loggin user out");
    },
    triggerSuccess(success: string) {
      console.log("success func being called")
      this.modalSuccess = true;
      this.modalSuccessMessage = success;
    },
    triggerError(error: string) {
      this.modalError = true;
      this.modalErrorMessage = error;
    },
    updateUser(payload: any){
      payload.cpf = (payload.cpf+'').replace('.', '')
      payload.cpf = (payload.cpf+'').replace('.', '')
      payload.cpf = (payload.cpf+'').replace('-', '')

      if(!payload.name || !payload.email || !payload.store_id || !payload.content_id || !payload.birthday){
        notificationsService.add({type: "danger", message: "preencha todos os dados necessarios"})
        
        return;

      }
      authService.update(payload, ()=>{
        /* this.popupGeneral = true;
        this.popupGeneralTitle = "Sucesso!";
        this.popupGeneralMessage = "Perfil atualizado com sucesso, aguarde a aprovasão do gerente"; */
        this.compleateRegisterModal = false;
        notificationsService.add({type: "success", message: "Perfil atualizado com sucesso, aguarde a aprovasão do gerente"})

      }, (err: any)=>{
        /* this.popupGeneral = true;
        this.popupGeneralTitle = "Erro!";
        this.popupGeneralMessage = err; */
        notificationsService.add({type: "danger", message: err})
        

      })
    },
    updatePassword(payload: any){
      authService.updatePassword(payload, ()=>{
        this.popupGeneral = true;
        this.popupGeneralTitle = "Sucesso!";
        this.popupGeneralMessage = "Senha atualizada com sucesso";
      }, (err: any)=>{
        this.popupGeneral = true;
        this.popupGeneralTitle = "Erro!";
        this.popupGeneralMessage = err;
      })
    },
    updateAvatar(){
      console.log("updateAvatar being called");
      authService.auth();
    }
  },
});
</script>
<style lang="scss" scoped>
.not-holder{
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.profile-pic{
      border-radius: 100%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.home-background {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("/img/nike-just-do-id.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.modal-content {
  min-height: 100vh;
}

.text-title {
  font-family: "Helvetica Neue";
  font-size: 13px;
  font-weight: 400;
  color: #B3B3B3;
}

</style>