<template>
  <teleport to="head">
    <title>Nikepedia - Pesquisa</title>
    <meta name="description" content="Aplicativo de treinamento e compartilhamento de notícias Nike">
    <meta name="keywords" content="Nike, nike, Ekins, Ekin, ekin, nike ekin, treinamento,  notícias, loja, calçados, franquias">
  </teleport>

<div class="search">
  <nk-container>
    <!-- <input type="text" class="form-control search-box" placeholder="Buscar">
    <button class="btn-search d-flex align-items-center justify-content-center"><i class="icon icon-search-solid-1"></i></button> -->
    <form class="text-start " id="searchForm" @submit.prevent="onSubmit(form)">
      <nk-search-input
        type="text"
        id="search"
        name="search"
        placeholder="Buscar"
        :clearFunction="()=> {form.search = ''}"
        :handleBlur="searchPosts"
        :value="form.search"
        @input="e => form.search = e"
      />

    </form>
    <div class="text-gray1 mt-48" v-if="!searching">
      <nk-h3>Use a busca acima para encontrar conteúdos postados pela Ekin/VM&S</nk-h3>
    </div>
    <div class="text-gray1 mt-48" v-if="searching && appdata.posts.length === 0">
      <nk-h3>Nenhum resultado encontrato, use a busca acima para encontrar conteúdos postados pela Ekin/VM&S</nk-h3>
    </div>
    <div v-if="searching">
      <div class="mt-48">
        <!-- <div class="d-flex justify-content-between pb-24">
          <nk-h3 class=" text-start">Colaboradores</nk-h3>
          <div>
            <nk-button
              class="d-flex align-items-center justify-content-center"
              styling="white"
              :round="true"
              size="sm"
              :position="'end'"
              data-bs-toggle="modal"
              data-bs-target="#userSearchFilter"
              >
                <nk-h4>Filtrar</nk-h4><i class="icon icon-filter mt-0 ms-2"></i>
            </nk-button>
          </div>
        </div> -->
        <!-- <div v-if="filteredUsers != ''">
          <nk-h5 class="text-gray2 pb-2">Filtrado por:</nk-h5>
          <nk-h5 class=" pb-2">{{filteredUsers}}</nk-h5>
          <nk-h5 class=" pb-24">Apenas da minha rede</nk-h5>

        </div> -->
        <!-- <nk-user-card  class="mb-16" v-for="user in users" :key="`sharing_card_${user.id}`" 
            :picture="user.picture" 
            :group="user.group" 
            :points="user.points" 
            :city="user.city" 
            :state="user.state" 
            :username="user.name"
            :goToIcon="true" 
            :onClick="()=>gotoUser(user)"
            :styling="'title'"
        ></nk-user-card> -->


        <!-- <nk-h3 class="pb-24 text-start">Posts</nk-h3> -->
        <nk-feed :posts="appdata.posts" />
      </div>
    </div>


    <!--footer-->
    <nk-footer-copy />
    <!--footer-end-->
    <nk-modal id="userSearchFilter" title="Filtrar colaboradores">
      <nk-p class="mt-24 text-gray1">Use o campo abaixo para exibir apenas os atletas de determinada loja ou região</nk-p>
      <div class="position: relative">
        <form class="text-start mt-16 mb-40" id="filterSearchForm" @submit.prevent="onSubmitFilterSearch(form)">
          <nk-search-input
            type="text"
            id="search"
            name="search"
            placeholder="Cidade, estado ou loja"
            :clearFunction="()=> {form.searchFilter = ''}"
            :handleBlur="()=>{searchingFilter = true}"
            :value="form.searchFilter"
            @input="e => form.searchFilter = e"
          />
        </form>
        <div v-if="!searchingFilter">
          <div class="d-flex justify-content-between mb-32">
            <nk-p>Apenas da minha rede</nk-p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="minhaRedeCheck" checked>
            </div>
          </div>
          <div class="d-flex justify-content-between mb-40">
            <nk-p>Apenas da minha loja</nk-p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="minhaLojaCheck" checked>
            </div>
          </div>
          <nk-button
            class="mb-32"
            styling="transparent"
            @click="()=>{form.searchFilter = ''}"
            :round="true"
          >
            <nk-h3>Limpar filtro</nk-h3>
          </nk-button>
          <nk-button
            class=""
            styling="dark"
            @click="()=>{filteredUsers = form.searchFilter}"
            data-bs-dismiss="modal"
            :round="true"
          >
            <nk-h3>Aplicar</nk-h3>
          </nk-button>
        </div>
        <div v-if="searchingFilter">
          <div v-for="(auto, index) in autoCompleateResults" :key="index">
            <nk-button class="justify-content-start mb-10" 
              styling="transparent"
              @click="()=>{form.searchFilter = auto; searchingFilter = false}"
            >
              <nk-h3 >{{auto}}</nk-h3>
            </nk-button>
            <hr style="height: 2px" class="bg-gray3">
          </div>
        </div>

      </div>
    </nk-modal>
  </nk-container>
</div> 
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore } from "../store";

import NkFooterCopy from "@/components/molecules/NkFooterCopy.vue";
import authService from "@/services/modules/authService";
import router from "@/router";
import NkCardPost from "@/components/molecules/NkCardPost.vue";
import ContainerSmall from "@/components/atoms/ContainerSmall.vue";
import NkInput from "@/components/atoms/NkInput.vue";
import postsService from "@/services/modules/postsService";
import NkCardPostVue from "@/components/molecules/NkCardPost.vue";
import NkFeed from "@/components/organisms/NkFeed.vue";
import NkSearchInput from "@/components/atoms/NkSearchInput.vue";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkButton from "@/components/atoms/NkButton.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";
import NkUserCardVue from "@/components/molecules/NkUserCard.vue";
import NkModalVue from "@/components/molecules/NkModal.vue";
import NkParagraph from "@/components/atoms/NkParagraph.vue";
import NkHeading5 from "@/components/atoms/NkHeading5.vue";

export default defineComponent({
  setup() {
    const store = useStore();
    const appdata = ref(store.state);
    authService.auth();
    return {
      appdata,
    };
  },
  data() {
      return {
          searching: false,
          searchingFilter: false,
          filteredUsers: "",
          autoCompleateResults: ["São Paulo", "São Paulo SP", "São Miguel do Gostoso RN", "São Luís MA", "São Bento PB"],
          users: [
            {id: 123,  picture:"img/profile-example.png", name: "Andressa Brito 1", city: "João Pessoa", state: "PB", points: 16, group: "Rede Lorem Ipsum"},
            {id: 124,  picture:"img/profile-example.png", name: "Andressa Brito 2", city: "João Pessoa", state: "PB", points: 16, group: "Rede Lorem Ipsum"},
            {id: 125,  picture:"img/profile-example.png", name: "Andressa Brito 3", city: "João Pessoa", state: "PB", points: 16, group: "Rede Lorem Ipsum"},
          ],
          form:{
              // eslint-disable-next-line
              content: "",
              category: "",
              subcategory: "",
              search: "",
              sort: "",
              station: "",
              searchFilter: ""
          }
      }
  },
  components: {
    "nk-footer-copy": NkFooterCopy,
    "nk-search-input": NkSearchInput,
    /* "nk-user-card": NkUserCardVue, */
    "nk-button": NkButton,
    "nk-modal": NkModalVue,
    "nk-feed": NkFeed,
    /* "nk-h5": NkHeading5, */
    /* "nk-h4": NkHeading4, */
    "nk-h3": NkHeading3,
    "nk-p": NkParagraph,
    "nk-container": ContainerSmall
  },
  mounted(){
    if(this.appdata.user.status === "aguardando aprovação"){
      router.push('/perfil')
    }
    this.resetFilters();


    console.log("mounted being called");
    this.searching = false;
  },
  methods: {
    resetFilters(){
      this.form.content = this.appdata.filters.content;
      this.form.category = "";
      this.form.subcategory = "";
      this.form.search = "";
      this.form.sort = "";
      this.form.station = "";
      postsService.setFilters(this.form);
    },
    authUser(payload: any): void{
      console.log(payload);
    },
    updateProfile(payload: any): void{
      console.log(payload);
    },
    gotoUser(user: any): void{
      router.push('/colaborator')
    },
    onSubmitFilterSearch(payload: any): void{
      console.log("searching filters");
    },
    onSubmit(payload: any): void{
      if(this.form.search && this.form.search.length >= 3){
        /* console.log("searching form");
        console.log(this.form); */
        this.setFilter();
      }
    },
    searchPosts(): void{
      if(this.form.search && this.form.search.length >= 3){
        /* console.log("searching form");
        console.log(this.form); */
        this.setFilter();
      }
    },
    async setFilter(){
      postsService.setFilters(this.form);
      await postsService.getPostsFromBothCategories();
      this.searching = true;
    }
  }
})

</script>
<style lang="scss">
.home-background {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("/img/nike-just-do-id.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.search-box {
  height: 56px;
  &:focus {
    box-shadow: none;
    border-color: #B3B3B3;
  }
  border-radius: 10px !important;
}
.btn-search {
  background-color: #fff;
  border: none;
  margin: 0 !important;
  padding: 1px 5px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
  z-index: 111;
  i {
    font-size: 20px;
    &:focus {
      box-shadow: none;
      background-color: red;
    }
  }
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

.search {
  position: relative;
}
</style>