<template>
    <nk-modal-container :title="`Compartilhar`" from="/feed" id="colaboratorFeed" >
        <div class="mt-24">
            <nk-p class="text-gray1 text-start pb-16">Use o campo abaixo para buscar o colaborador com quem você deseja compartilhar o post</nk-p>
            <form class="text-start " id="searchForm" @submit.prevent="onSubmit(form)">
                <nk-search-input
                    type="text"
                    id="search"
                    name="search"
                    placeholder="Colaborador"
                    :clearFunction="()=> {form.search = ''}"
                    :handleBlur="searchUsers"
                    :value="form.search"
                    @input="e => {form.search = e}"
                />

            </form>
            <div class="mt-32" v-if="form.search !== ''">
                <nk-p class="text-gray1 text-start pb-16">ou clique no botão abaixo para compartilhar o post no seu próprio feed</nk-p>
                <nk-button
                    class="mt-16"
                    styling="white"
                    @click="()=>{}"
                    :round="true"
                >
                    <nk-h3>Meu Feed</nk-h3>
                    <i class="icon icon-comment-account  me-2 ms-2"></i>
                </nk-button>
            </div>
            <div v-if="form.search === ''">
                <div class="row mt-24 mb-32">
                    <div class="col-6">
                        <nk-button
                            class="d-flex align-items-center justify-content-center"
                            styling="white"
                            :round="true"
                            size="sm"
                            :position="'end'"
                            @click="() => {}"
                            >
                            <nk-h4>Filtrar</nk-h4><i class="icon icon-filter mt-0 ms-2"></i>
                        </nk-button>
                    </div>
                    <div class="col-6">
                        <nk-button
                            class="d-flex align-items-center justify-content-center"
                            styling="white"
                            :round="true"
                            size="sm"
                            :position="'start'"
                            @click="() => {}"
                            >
                            <nk-h4>Minha Rede</nk-h4><i class="icon icon-arrow-down mt-0 ms-2"></i>
                        </nk-button>
                    </div>
                </div>

                <nk-user-card class="mb-16" v-for="user in users" :key="`sharing_card_${user.id}`" 
                    :picture="user.picture" 
                    :group="user.group" 
                    :points="user.points" 
                    :city="user.city" 
                    :state="user.state" 
                    :username="user.name"
                    :styling="'title'"
                    :onClick="()=> {selectUser(user)}"
                    data-bs-toggle="modal"
                    data-bs-target="#sharingModal"
                ></nk-user-card>

            </div>
        </div>

        <nk-footer-copy></nk-footer-copy>
        <nk-modal id="sharingModal" title="Compartilhar">
            <nk-user-card  class="mb-16"
                :picture="selectedUser.picture" 
                :group="selectedUser.group" 
                :points="selectedUser.points" 
                :city="selectedUser.city" 
                :state="selectedUser.state" 
                :username="selectedUser.name"
                :selected="true"
                :styling="'title'"
            ></nk-user-card>
            <nk-button
                class="mt-24"
                styling="dark"
                @click="()=>{}"
                :round="true"
            >
                <nk-h3>Compartilhar</nk-h3>
                <i class="icon icon-share-variant  me-2 ms-2"></i>
            </nk-button>
        </nk-modal>
    </nk-modal-container>
</template>

<script lang="ts">
import { useStore } from "@/store";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";
import NkFeed from "@/components/organisms/NkFeed.vue";
import { defineComponent, ref } from "vue";
import authService from "@/services/modules/authService";
import NkFooterCopy from "@/components/molecules/NkFooterCopy.vue";
import NkModalContainerVue from "@/components/molecules/NkModalContainer.vue";
import NkParagraph from "@/components/atoms/NkParagraph.vue";
import NkHeading5 from "@/components/atoms/NkHeading5.vue";
import NkSearchInput from "@/components/atoms/NkSearchInput.vue";
import NkButton from "@/components/atoms/NkButton.vue";
import NkUserCardVue from "@/components/molecules/NkUserCard.vue";
import NkModalVue from "@/components/molecules/NkModal.vue";

export default defineComponent({
    setup() {
        const store = useStore();
        const appdata = ref(store.state);
        authService.auth();

        return {
            appdata,
        };
    },
    components: {
        "nk-modal-container": NkModalContainerVue,
        "nk-modal": NkModalVue,
        "nk-search-input": NkSearchInput,
        "nk-user-card": NkUserCardVue,
        "nk-footer-copy": NkFooterCopy,
        "nk-p": NkParagraph,
        "nk-h3": NkHeading3,
        "nk-h4": NkHeading4,
        "nk-button": NkButton
    },
    methods:{
        selectUser(user: any): void{
            this.selectedUser = user;
            console.log('this.selectedUser');
            console.log(this.selectedUser);
            console.log(this.selectedUser.picture);
        },
        getUserImage(id: any): string{
            return authService.getUserImage(id);
        },
        searchUsers(): void {
            console.log("test");
        },
        onSubmit(payload: any): void{
            console.log("test")
        },
    },
    mounted() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    },
    data(){
        return {
            selectedUser: {id: null,  picture: null, name: null, city: null, state: null, points: null, group: null},
            users: [
                {id: 123,  picture:"img/profile-example.png", name: "Andressa Brito 1", city: "João Pessoa", state: "PB", points: 16, group: "Rede Lorem Ipsum"},
                {id: 124,  picture:"img/profile-example.png", name: "Andressa Brito 2", city: "João Pessoa", state: "PB", points: 16, group: "Rede Lorem Ipsum"},
                {id: 125,  picture:"img/profile-example.png", name: "Andressa Brito 3", city: "João Pessoa", state: "PB", points: 16, group: "Rede Lorem Ipsum"},
                {id: 126,  picture:"img/profile-example.png", name: "Andressa Brito 4", city: "João Pessoa", state: "PB", points: 16, group: "Rede Lorem Ipsum"},
            ],
            form: {
                search: ""
            }
        }
    }
})
</script>
<style lang="scss" scoped>
.profile-img-heading{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 120px;
}
.user-img-feed{
    width: 32px !important;
    height: 32px !important;
    margin-left: 12px;
    object-fit: cover;
    border-radius: 32px;
}
.user-notification-feed{
    width: 10px !important;
    height: 10px !important;
    border-radius: 10px;
    top: 0;
    right: 0;
    position: absolute;
    background: #FF4301;
}
</style>