<template>
    <nk-modal-container v-if="selectedPost" :title="`Post`" :from="'/inicio#'+selectedPost.slug" id="singlePost" >
    <teleport to="head">
        <title> Nikepedia - Posts - {{selectedPost.title}}</title>
        <meta property='og:title'  :content='selectedPost.title'>
        <meta name='twitter:title' :content='selectedPost.title'>

        <meta name="description" :content="selectedPost.title">
        <meta property='og:description'  :content='selectedPost.title'>
        <meta name='twitter:description' :content='selectedPost.title'>

        <meta name="keywords" content="Nike, nike, Ekins, Ekin, ekin, nike ekin, treinamento,  notícias, loja, calçados, franquias">
        <meta property="og:image"  :content="selectedPost.img">
        <meta name="twitter:image" :content="selectedPost.img">
    </teleport>

    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <nk-h5 class=" txt-top-card ">{{ formattedDate(selectedPost.date_publish) }}</nk-h5>
        <span class="vertical-divider"></span>
        <nk-h5 class="txt-top-card  d-inline-block">{{ selectedPost.station }}</nk-h5>
      </div>
      <div class="dropdown dropdown-feed-card">
        <button
          class="btn btn-feed dropdown-toggle p-0"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img src="/icons-svg/vert_dots.svg" alt="" />
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button
            @click="postBeingShare = selectedPost"
            data-bs-toggle="modal"
            :data-bs-target="'#share'+selectedPost.slug"
            class="dropdown-item d-flex justify-content-between"
          >
            Enviar <img src="/icons-svg/share-variant.svg" alt="Enviar" />
          </button>
          <router-link
            :to="'/ajuda/Dúvida/'+selectedPost.id"
            class="dropdown-item d-flex justify-content-between"
            active-class="active"
            @click="()=>{document.getElementById('closeBtn'+selectedPost.id).click()}"
          >
            Duvidas <img src="/icons-svg/question-solid.svg" alt="Dúvidas" />
          </router-link>
        </div>
      </div>
    </div>
    <div class=" text-start mb-16">
      <template v-for="(item, index) in selectedPost.categories" :key="index" >
        <span v-if="index != 0" class="vertical-divider-category d-inline-block"></span>
        <nk-h5 class="txt-top-card mt-0 d-inline-block" >
          {{ item }}
        </nk-h5>
      </template>
    </div>

    <nk-h2 class="text-start mb-32 text-dark">{{ selectedPost?.title }}</nk-h2>
    <a
      v-if="selectedPost?.video"
      style="cursor: pointer"
      @click="showingVideo = true"
    >
      <div class="d-flex justify-content-center position-relative">
        <img
          v-if="selectedPost.video[0].img"
          :src="selectedPost.video[0].img"
          class="card-img-top  img-fluid mb-32 rounded"
          height="auto"
          alt="..."
        /> 
        <img
          src="/img/play.png"
          class="img-fluid play-icon"
          alt="..."
        /> 
      </div>
    </a>

    <img 
      v-if="selectedPost.img"
      style="border-radius: 10px"
      :src="selectedPost.img"
      class="card-img-top img-fluid"
      height="auto"
      alt="..."
    />

    <div class="post-content">
      <div v-html="selectedPost?.text" class="content-html container mt-32 text-start"></div>
    </div>

    <nk-a v-if="selectedPost?.pdf" :href="selectedPost?.pdf" target="_blank" :round="true" :styling="'dark'" class="mt-2">
      <nk-h3 class="font-weight-700">Baixar arquivo pdf</nk-h3><i class="icon icon-arrow-down mt-0 ms-2"></i> 
    </nk-a>

    <div class="gallery-holder mt-32">
      <div class="row mx-0">
        <div v-for="(item, index) in selectedPost.gallery" :key="'gallery-post'+index" class="col-md-4 col-6 p-0 mb-3">
          <div class="gallery-img-container">
            <img :src="item.image" data-bs-toggle="modal" :data-bs-target="'#gallery'+item.id" class="gallery-img" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-32 d-flex justify-content-center post-buttons">
      <nk-icon-button
        styling="white"
        :round="true"
        @click="likePost(selectedPost.id, likes.liked)"
        v-bind:class="[likes.liked ? 'active' : '', 'mx-2']"
        size="sm"
        :position="'none'"
      >
        <i class="icon icon-thumbs-up-1"></i>
        <nk-h4 class="ms-2 mt-1">{{ likes.qtd }}</nk-h4>
      </nk-icon-button>
      <nk-icon-button
        styling="white"
        :round="true"
        size="sm"
        :position="'none'"
        v-bind:class="[hasComment ? 'active' : '', 'mx-2']"
      >
        <i class="icon icon-comment-1"></i>
        <nk-h4 class="ms-2 mt-1">{{ commentsQtd }}</nk-h4>
      </nk-icon-button>
      <nk-icon-button
        styling="white"
        :round="true"
        @click="favPost(selectedPost.id, favorited)"
        v-bind:class="[favorited ? 'active' : '', 'mx-2']"
        size="sm"
        :position="'none'"
      >
        <i class="icon icon-bookmark"></i>
      </nk-icon-button>

    </div>
    <div class="mt-26 rating pb-27 d-flex justify-content-center">
      <input @click="starPost(selectedPost.id, 0)" hidden type="radio" name="star" :id="'star0Modal'+selectedPost.id+selectedPost.slug" /><label hidden v-bind:class="[stars >= 5 ? 'active' : '']" :for="'star0Modal'+selectedPost.id+selectedPost.slug"></label>
      <input @click="starPost(selectedPost.id, 5)" type="radio" name="star" :id="'star1Modal'+selectedPost.id+selectedPost.slug" /><label v-bind:class="[stars >= 4 ? 'active' : '']" :for="'star1Modal'+selectedPost.id+selectedPost.slug"></label>
      <input @click="starPost(selectedPost.id, 4)" type="radio" name="star" :id="'star2Modal'+selectedPost.id+selectedPost.slug" /><label v-bind:class="[stars >= 3 ? 'active' : '']" :for="'star2Modal'+selectedPost.id+selectedPost.slug"></label>
      <input @click="starPost(selectedPost.id, 3)" type="radio" name="star" :id="'star3Modal'+selectedPost.id+selectedPost.slug" /><label v-bind:class="[stars >= 2 ? 'active' : '']" :for="'star3Modal'+selectedPost.id+selectedPost.slug"></label>
      <input @click="starPost(selectedPost.id, 2)" type="radio" name="star" :id="'star4Modal'+selectedPost.id+selectedPost.slug" /><label v-bind:class="[stars >= 1 ? 'active' : '']" :for="'star4Modal'+selectedPost.id+selectedPost.slug"></label>
      <input @click="starPost(selectedPost.id, 1)" type="radio" name="star" :id="'star5Modal'+selectedPost.id+selectedPost.slug" /><label v-bind:class="[stars >= 0 ? 'active' : '']" :for="'star5Modal'+selectedPost.id+selectedPost.slug"></label>
    </div>
    <form :id="'postComments'+selectedPost.id" class="text-start mb-3" @submit.prevent="onSubmitComment(form, selectedPost.id)">
      <nk-textarea
        label="Digite aqui seu comentário"
        id="text"
        name="text"
        placeholder=" "
        rows="6"
        :value="form.text"
        @input="(e) => (form.text = e)"
      />
      <nk-button :disabled="form.text == ''" :round="true" :styling="'dark'" class="mt-2" type="submit"><nk-h3 class="font-weight-700">Comentar</nk-h3><i class="icon icon-send mt-0 ms-2"></i> </nk-button>
    </form>
    <div class="comment-holder my-32">
      <div class="mb-32" v-for="(item, index) in comments" :key="'comment-key-'+index">
        <div class="comment-holder-title d-flex justify-content-between mb-2">
          <nk-p class="text-gray2">{{item?.username}} {{item?.last_name}}</nk-p>
          <div class="d-flex">

            <nk-p class="text-gray2">{{formattedCommentDate(item?.created_at)}}</nk-p>
            <div class="dropdown dropdown-feed-card">
                <button
                    class="btn btn-feed dropdown-toggle p-0"
                    type="button"
                    id="dropdownMenuButtonComment"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                <img src="/icons-svg/vert_dots.svg" alt="" />
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonComment">
                    <button @click="deleteComment(selectedPost.id, item.id)" class="dropdown-item d-flex justify-content-start mb-0" >
                        <i class="icon icon-delete me-3"></i> Excluir 
                    </button>
                </div>
            </div>
          </div>
        </div>
        <nk-p class="text-start font-weight-400 text-dark">{{item?.text}}</nk-p>
      </div>
    </div>

  <nk-popup :open="successModalOpen" title="Comentario postado com sucesso">
    <nk-button :round="true" :styling="'dark'" @click="()=>{successModalOpen = false}">Continuar</nk-button>
  </nk-popup>
  <nk-gallery-modal v-for="(item, index) in selectedPost.gallery" :key="'gallery-post'+index" :id="'gallery'+item.id">
    <img :src="item.image" data-bs-toggle="modal" :data-bs-target="'#gallery'+item.id" class="gallery-img-zoom" alt="">
  </nk-gallery-modal>
  <nk-video-modal 
    v-for="(item, index) in selectedPost.video" 
    :open="showingVideo"
    :onClose="()=>{showingVideo = false}"
    :video="item" 
    :key="'gallery-video'+index" 
    :id="'video'+selectedPost.slug">
  </nk-video-modal>

  <nk-popup
    :id="'share'+selectedPost.slug"
    title="Enviar"
    subTitle="Por qual aplicativo você deseja enviar a postagem?"
    :onClose="() => {}"
  >
    <nk-a
      target="_blank"
      :href="
        `whatsapp://send?text=Olha%20essa%20notícia,%20que%20legal!%20${currentPath()}`
      "
      class="mb-32"
      @click="sharePost(postBeingShare.id)"
      :round="true"
      :styling="'whatsapp'"
      ><nk-h3 class="font-weight-700">WhatsApp</nk-h3>
      <i class="icon ms-2 icon-whatsapp"></i
    ></nk-a>
    <nk-a
      target="_blank"
      :href="
        `https://t.me/share/url?url=${currentPath()}` +
        '&text=Olha%20essa%20notícia,%20que%20legal!'
      "
      @click="sharePost(postBeingShare.id)"
      class="mb-32"
      :round="true"
      :styling="'telegran'"
      ><nk-h3 class="font-weight-700">Telegram</nk-h3>
      <i class="icon ms-2 icon-telegram"></i
    ></nk-a>
    <nk-a
      :href="
        `mailto:?subject=Olha essa notícia, que legal!Notícias ekin&amp;body=Da uma olhada nesse post! ${currentPath()}`"
      @click="sharePost(postBeingShare.id)"
      class="mb-32"
      :round="true"
      :styling="'dark'"
      ><nk-h3 class="font-weight-700">Email</nk-h3>
      <i class="icon ms-2 icon-email"></i
    ></nk-a>
  </nk-popup>


    </nk-modal-container>
</template>

<script lang="ts">

import { defineComponent, ref } from "vue";
import NkModal from "../components/molecules/NkModal.vue";
import NkPopup from "../components/molecules/NkPopup.vue";
import NkButton from "../components/atoms/NkButton.vue";
import { useStore } from "../store";
import postsService from "@/services/modules/postsService";
/* import dayjs  from 'dayjs' */
import NkHeading2 from "../components/atoms/NkHeading2.vue";
import NkHeading3 from "../components/atoms/NkHeading3.vue";
import NkParagraph from "../components/atoms/NkParagraph.vue";
import NkTextarea from "../components/atoms/NkTextarea.vue";
import NkGalleryModal from "../components/molecules/NkGalleryModal.vue";
import NkA from "../components/atoms/NkA.vue";
import NkVideoModal from "../components/molecules/NkVideoModal.vue";
import notificationsService from "@/services/modules/notificationsService";
import NkHeading4 from "../components/atoms/NkHeading4.vue";
import NkIconButton from "../components/atoms/NkIconButton.vue";
import NkHeading5 from "../components/atoms/NkHeading5.vue";
import NkModalContainerVue from "@/components/molecules/NkModalContainer.vue";
import authService from "@/services/modules/authService";
import router from "@/router";

export default defineComponent({
  setup() {
    const store = useStore();
    const appdata = ref(store.state);
    postsService.setSharedPost(""+router.currentRoute.value.params.slug)
    authService.auth()

    return {
      appdata,
    };
  },
  components: {
    "nk-modal-container": NkModalContainerVue,
    "nk-button": NkButton,
    "nk-gallery-modal": NkGalleryModal,
    "nk-video-modal": NkVideoModal,
    "nk-popup": NkPopup,
    "nk-h2": NkHeading2,
    "nk-h3": NkHeading3,
    "nk-h4": NkHeading4,
    "nk-h5": NkHeading5,
    "nk-icon-button": NkIconButton,
    "nk-p": NkParagraph,
    "nk-a": NkA,
    "nk-textarea": NkTextarea,

  },
  data() {
    return {
      showingVideo: false,
      postBeingShare: null,
      likes:{
        liked: false,
        qtd: 0
      },
      favorited: false,
      comments: [],
      hasComment: false,
      commentsQtd: 0,
      stars: 0,
      successModalOpen: false,
      form: {
        thread: null,
        text: ""
      },
      selectedPost: null
    };
  },
  async mounted() {
        const post = await postsService.showPost(""+router.currentRoute.value.params.slug)
        this.selectedPost = post;
        await this.setComments(post?.id);

        this.likes.liked = post?.user_like;
        this.likes.qtd = post?.likes;
        this.favorited = post?.user_favorite;
        this.hasComment = post?.user_comment;
        this.commentsQtd = post?.comments;
        this.stars = +post?.user_star;
  },
  methods: {
    deleteComment(postId: number, commentId: number){
        postsService.deleteComments(postId, commentId, ()=> {
            this.setComments(postId);
        });
    },
    currentPath(){
        return window.location.href
    },
    /* LIKE METHODS */
    async likePost(postId: any, hasLiked: boolean) {
      if(!hasLiked)
        await postsService.likePost(postId);
      else
        await postsService.dislikePost(postId);

      this.setLikes(postId);
    },
    async setLikes(postId: any){
      const likes = await postsService.getLikes(postId);
      this.likes.liked = this.userHasAct(likes, this.appdata.user);
      this.likes.qtd = likes.length;
    },

    /* FAV METHODS */
    async favPost(postId: any, hasFav: boolean) {
      if(!hasFav)
        await postsService.favPost(postId);
      else
        await postsService.unfavPost(postId);

      this.setFavs(postId)
    },
    async setFavs(postId: any){
      const favs = await postsService.getFavs(postId);
      this.favorited = this.userHasAct(favs, this.appdata.user);
    },

    /* STAR METHODS */
    async starPost(postId: any, star: number) {
      await postsService.starsPost(postId, star);
      this.setStars(postId)
    },
    async setStars(postId: any){
      const stars = await postsService.getStars(postId);
      this.stars = this.getStars(stars, this.appdata.user);
    },
    getStars(stars: any, user: any): number{
      let starsQtd = 0;
      stars.forEach(function (e: any) {
        if(e.pivot.user_id == user.id){
          starsQtd = +e.pivot.stars;
        }
      });
      return starsQtd;
    },

    /* SHARE METHODS */
    sharePost(postId: any) {
      postsService.sharePost(postId);
    },

    /* *************** */
    /* COMMENT METHODS */
    onSubmitComment(payload: any, id: any) {
      /* postsService.commentPost */
      postsService.commentPost(payload, id, ()=>{
        /* this.form.text = "";
        this.successModalOpen = true; */
        this.setComments(id);
        this.form.text = "";
        notificationsService.add({type: "success", message:"Comentário postado com sucesso!"});
      }, (err: string)=>{
        this.setComments(id);
        this.form.text = "";
        notificationsService.add({type: "danger", message:err});
      })
    },
    async setComments(postId: any){
      this.comments = await postsService.getComments(postId);
      console.log("set comments");
      console.log(this.comments);
      this.commentsQtd = this.comments.length;
    },

    /* *************** */
    /* Utils functions for quantity */
    userHasAct(likes: any, user: any): boolean{
      
      let hasLiked = false;
      likes.forEach(function (e: any) {
        if(e.pivot.user_id == user.id){
          hasLiked = true;
        }
      });
      return hasLiked;
    },

    /* POST UTIL METHODS */
    formattedDate(date: Date){
      return date;
      /* return dayjs(date).format("DD/MM/YYYY"); */
    },
    formattedCommentDate(date: string){
      /* return dayjs(date).format("DD/MM/YYYY"); */
      const splittedDate = date.split(" ");
      const splittedTime = splittedDate[1].split(":");
      const formattedDate = splittedDate[0] + " " + splittedTime[0] + "h " + splittedTime[1];
      return formattedDate;
    },
  },

})


</script>
<style lang="scss" scoped>
.play-icon{
  width: 89px;
  height: 93px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btn-feed {
  box-shadow: none !important;
}
.gallery-img-zoom {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  top: 40vh;
  transform: translateY(-50%);
  position: relative;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));
}
.gallery-img {
  width: 174px;
  height: 174px;
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));
  cursor: pointer;
}
.post-content {
  p {
    text-align: left !important;
  }
}
.card-img-top {
  object-fit: cover;
  height: 400px;
}
.post-card,
.post-card .card {
  background-color: #fff;
  border-radius: 10px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
}

.post-card-title {
  margin: 20px 24px 16px 24px;
  font-family: "Helvetica Neue";
  font-size: 26px;
  line-height: 31px;
  color: #000;
}

.txt-top-card {
  /* font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 13px; */
  color: #7d7d7d;
  margin-bottom: 0;
}
.vertical-divider {
  width: 0px;
  height: 24px;
  border: 1px solid #f2f2f2;
  margin-left: 8px;
  margin-right: 8px;
}
.vertical-divider-category {
  width: 16px;
  height: 0px;
  border: 1px solid #f2f2f2;
  transform: rotate(90deg);
  top: -5px;
  position: relative;
}

.btn-feed{
  box-shadow: none !important;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-feed-card {
  box-shadow: none;
  border: 0;
  background-color: transparent;
  transform: translateY(-25%);
}

.dropdown-menu {
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 2.5px 7px rgba(0, 0, 0, 0.08);
  border: none;
}

.dropdown-item {
  margin-bottom: 25px;
  padding-left: 0;
  padding-right: 0;

  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.dropdown-item:nth-child(2) {
  margin-bottom: 0;
}


.gallery-img-zoom{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  top: 40vh;
  transform: translateY(-50%);
  position: relative;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));

}
.gallery-img{
  width: 174px;
  height: 174px;
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));
  cursor: pointer;

}
.post-content{
  *{
    color: #000000 !important;

  }

  p{
    text-align: left !important;
    margin-bottom: 10px !important;
  }
}
.post-buttons {
  font-family: "Helvetica Neue";
  font-size: 1.2rem;

  button {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 16px;
    width: 77px;
    height: 40px;

    i {
      font-size: 20px;
    }

    .badge {
      display: flex !important;
      align-items: center;
      justify-content: center;
      line-height: 18px;
      font-size: 1rem;
      color: inherit !important;
    }
  }

  button:nth-child(3) {
    width: 40px;
    height: 40px;
  }

}
.rating {
  position: relative;
  display: flex;
  justify-content: center;
  transform: rotateY(180deg);

  input {
    display: none;
  }
  label {
    display: block;
    cursor: pointer;
    margin-right: 28px;
  }
  label:last-child {
    margin-right: 0;
  }
  label::before {
    content: "\ea29";
    font-family: "Nike";
    position: relative;
    display: block;
    font-size: 25px;
    color: #b3b3b3;
  }
  label::after {
    content: "\ea29";
    font-family: "Nike";
    position: absolute;
    top: 0;
    display: block;
    color: #ff4301;
    opacity: 0;
    transition: 0.5s;
    font-size: 25px;
  }
  label:hover::after,
  label:hover ~ label::after,
  label.active ~ label::after,
  input:checked ~ label::after {
    opacity: 1;
  }
}

</style>