<template>
    <div class="container text-start">
        <nk-h1>Heading 1</nk-h1>
        <nk-h2>Heading 2</nk-h2>
        <nk-h3>Heading 3</nk-h3>
        <nk-h4>Heading 4</nk-h4>
        <nk-p>paragraph</nk-p>

    </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import NkParagraph from "@/components/atoms/NkParagraph.vue";
import NkHeading1 from "@/components/atoms/NkHeading1.vue";
import NkHeading2 from "@/components/atoms/NkHeading2.vue";
import NkHeading3 from "@/components/atoms/NkHeading3.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";

export default defineComponent({
  components: {
    "nk-h1": NkHeading1,
    "nk-h2": NkHeading2,
    "nk-h3": NkHeading3,
    "nk-h4": NkHeading4,
    "nk-p": NkParagraph,
  },
})

</script>
<style lang="scss">
</style>