<template>
    <div :style="`max-width: ${624 + addW}px`" class="m-container">
        <slot />
    </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
      props: {
          addW: Number
      }
})


</script>
<style lang="scss" scoped>
    .m-container{
        position: relative;
        max-width: 624px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
        min-height: calc(100vh - 120px) ;
    }
</style>