<template>
    <button v-bind:class="[round ? 'nbtn-round' : '', inline ? 'd-inline' : '', 'nbtn-'+styling, 'nbtn-size-'+size, 'nbtn-position-'+position, 'transition']" >
        <slot />
    </button>
</template>
<script lang="ts">
import {  Options, Vue } from 'vue-class-component';


@Options({
    props: {
        styling: String,
        round: Boolean,
        inline: Boolean,
        size: {
            type: String,
            default: "wide" 
        },
        position: {
            type: String,
            default: "center" 
        },
    }
})

export default class NkButton extends Vue {
    styling!: string;
    round!: boolean;
    size!: string;
    position!: string;
}
</script>
<style lang="scss" scoped>
    button{
        display: inline;
        text-align: center;
        padding: 15px;
        
        border: none;
        color: #FFFFFF;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
        background: #aaa;
        display: flex;
        justify-content: center;
    }
    button:focus{
        outline: none;
        box-shadow: none;
    }
    /* sizing */
    .nbtn-size-wide{
        width: 100%;
    }
    .nbtn-size-lg{
        width: 100%;
        @include md{
            width: initial;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    .nbtn-size-sm{
        padding: 7px 16px;
    }
    /* position */
    .nbtn-position-center{
        margin-left: auto;
        margin-right: auto;
    }
    .nbtn-position-center{
        margin-left: auto;
        margin-right: auto;
    }
    .nbtn-position-start{
        margin-right: auto;
    }
    .nbtn-position-end{
        margin-left: auto;
    }
    .nbtn-position-initial{
    }

    /* none */
    .nbtn-none{
        margin: auto;
        color: #000000;
        background: transparent;
        box-shadow: none;
        width: initial;
    }
    /* telegran */
    .nbtn-telegran{
        color: #FFFFFF;
        background: #1EACE9;
    }
    .nbtn-telegran:hover{
        color: #FFFFFF;
        background: #1688b9;
    }
    .nbtn-telegran:focus{
        color: #cea3a3;
        background: #1688b98f;
    }
    /* whatsapp */
    .nbtn-whatsapp{
        color: #FFFFFF;
        background: #2FC23D;
    }
    .nbtn-whatsapp:hover{
        color: #FFFFFF;
        background: #3fa749;
    }
    .nbtn-whatsapp:focus{
        color: #cea3a3;
        background: #3fa7498f;
    }
    /* dark */
    .nbtn-dark{
        color: #FFFFFF;
        background: #000000;
    }
    .nbtn-dark:hover{
        color: #FFFFFF;
        background: #7D7D7D;
    }
    .nbtn-dark:focus{
        color: #FFFFFF;
        background: #B3B3B3;
    }
    .nbtn-dark:disabled{
        color: #FFFFFF;
        background: #B3B3B3;
    }
    /* white */
    .nbtn-white{
        color: #000;
        background: #fff;
    }
    .nbtn-white:hover{
        color: #7D7D7D;
        background: #F2F2F2;
    }
    .nbtn-white:focus{
        color: #B3B3B3;
        background: #F2F2F2;
    }
    /* transparent */
    .nbtn-transparent{
        box-shadow: none;
        color: #000;
        background: #fff;
    }
    .nbtn-transparent:hover{
        color: #7D7D7D;
        background: #F2F2F2;
    }
    .nbtn-transparent:focus{
        color: #B3B3B3;
        background: #F2F2F2;
    }
    /* facebook */
    .nbtn-facebook{
        color: #FFFFFF;
        background: #446FC9;
    }
    .nbtn-facebook:hover{
        color: #FFFFFF;
        background: #39599c;
    }
    .nbtn-facebook:focus{
        color: #FFFFFF;
        background: #32497c;
    }
    /* google */
    .nbtn-google{
        color: #FFFFFF;
        background: #E64531;
    }
    .nbtn-google:hover{
        color: #FFFFFF;
        background: #b9402f;
    }
    .nbtn-google:focus{
        color: #FFFFFF;
        background: #83352b;
    }


    .nbtn-round{
        border-radius: 32px;
    }
    .active{
        background: #FF4301 !important;
        color: #FFFFFF !important;
    }

</style>