<template>
  <div class="form-check my-24">
    <input
      @input="updateValue($event.target.value)"
      :value="value"
      class="form-check-input"
      type="checkbox"
      :id="id"
      :required="required"
    />
    <label class="form-check-label" :for="id">
      {{ label }}
      <slot />
    </label>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    label: String,
    id: String,
    value: String,
    required: Boolean,
  },
  emits: ["input"],
  methods: {
    updateValue: function (value: any) {
      this.$emit("input", value);
    },
  },
})
export default class NkCheckbox extends Vue {
  label!: string;
  type!: string;
  id!: string;
  name!: string;
  placeholder!: string;
  value!: string;
  required!: boolean;
}
</script>
<style scoped lang="scss">
.form-check-input{
  border: 2px solid #000000;
}
.form-check-input:focus{
  border-color: #000000;
}
label {
  display: block;
  text-align: left;
  position: relative;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
  color: #000000;

  letter-spacing: 0.02em;
}
input{
  outline: none !important;
  box-shadow: none !important;
}
.form-check-input:checked{
  background-color: #FF4301;
  border-color: #000;
}
</style>