<template>
  <label class="mt-24" :for="id">
    <input
      @input="updateValue($event.target.files)"
      type="file"
      :id="id"
      :name="name"
      :value="value"
      v-on:blur="handleBlur"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
    />
    <span>{{ label }}</span>
  </label>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    handleBlur: {type: Function},
    label: String,
    type: String,
    id: String,
    name: String,
    placeholder: String,
    value: String,
    required: Boolean,
    disabled: Boolean,
  },
  emits: ["input"],
  methods: {
    updateValue: function (value: any) {
      this.$emit("input", value);
    },
  },
})
export default class NkInput extends Vue {
  label!: string;
  type!: string;
  id!: string;
  name!: string;
  placeholder!: string;
  value!: string;
  required!: boolean;
  disabled!: boolean;

}
</script>
<style scoped lang="scss">
label {
  display: block;
  text-align: left;
  position: relative;
}
input {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
  padding: 24px 16px 8px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  /* Black */

  color: #000000;
  + span {
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #7d7d7d;
    transition: all 200ms ease-out;
  }

  &:not(:focus):placeholder-shown {
    &::-webkit-input-placeholder {
      color: transparent;
    }

    + span {
      line-height: 24px;
      top: 20px;
      font-size: 20px;
      font-weight: 900;
    }
  }
}
input:focus {
  color: #000000;
  box-shadow: none !important;
  border: 2px solid #000 !important;
  outline: none;
  + span {
    color: #000000;
  }
}
input:focus ~ {
  box-shadow: none !important;
  outline: none;
}
</style>