<template >
    <h2>
        <slot />
    </h2>
</template>
<script lang="ts">
import {  Vue } from 'vue-class-component';

export default class NkHeading2 extends Vue{
    
}
</script>
<style scoped lang="scss">
    h2{
        font-family: 'Helvetica Neue' !important;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
    }
</style>