<template >
    <h3>
        <slot />
    </h3>
</template>
<script lang="ts">
import {  Vue } from 'vue-class-component';

export default class NkHeading3 extends Vue{
    
}
</script>
<style scoped lang="scss">
    h3{
        font-family: 'Helvetica Neue' !important;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
        color: inherit;
    }
</style>