<template >
    <h5>
        <slot />
    </h5>
</template>
<script lang="ts">
import {  Vue } from 'vue-class-component';

export default class NkHeading5 extends Vue{
    
}
</script>
<style scoped lang="scss">
    h5{
        font-family: 'Helvetica Neue' !important;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 0;
        letter-spacing: 0.04em;
    }
</style>