<template >
    <h1>
        <slot />
    </h1>
</template>
<script lang="ts">
import {  Vue } from 'vue-class-component';

export default class NkHeading1 extends Vue{
    
} 
</script>
<style scoped lang="scss">
    h1{
        font-family: 'Nike Futura ND' !important;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 122%;
        margin-bottom: 0;
        /* or 39px */

        letter-spacing: 0.01em;
        text-transform: uppercase;
    }
</style>