<template >
    <h4>
        <slot />
    </h4>
</template>
<script lang="ts">
import {  Vue } from 'vue-class-component';

export default class NkHeading4 extends Vue{
    
}
</script>
<style scoped lang="scss">
    h4{
        font-family: 'Helvetica Neue' !important;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 0;
        letter-spacing: 0.02em;
    }
</style>