<template>
  <label class="mt-24" :for="id">
    <input
      @input="updateValue($event.target.value)"
      :inputmode="inputmode"
      v-if="mask == 'phone'"
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      v-on:blur="handleBlur"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      v-maska="'## ##### ####'"
      v-bind:class="icon == 'calendar' ? 'calendar-icon' : ''"
    />
    <input
      @input="updateValue($event.target.value)"
      :inputmode="inputmode"
      v-if="mask == 'cpf'"
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      v-on:blur="handleBlur"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      v-maska="'###.###.###-##'"
      v-bind:class="[invalid && (value == '' || value == null) ? 'invalid' : '', icon == 'calendar' ? 'calendar-icon' : '']"
    />
    <input
      @input="updateValue($event.target.value)"
      :inputmode="inputmode"
      v-if="mask == 'date'"
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      v-on:blur="handleBlur"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      v-maska="'##/##/####'"
      v-bind:class="[invalid && (value == '' || value == null) ? 'invalid' : '', icon == 'calendar' ? 'calendar-icon' : '']"
    />
    <input
      @input="updateValue($event.target.value)"
      v-if="mask != 'phone' && mask != 'cpf' && mask != 'date'"
      :inputmode="inputmode"
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      v-on:blur="handleBlur"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      v-bind:class="[invalid && (value == '' || value == null) ? 'invalid' : '', danger ? 'invalid' : '', icon == 'calendar' ? 'calendar-icon' : '']"
    />
    <span>{{ label }}</span>
    <i :class="'icon icon-'+icon"></i>
  </label>
  <nk-p v-if="(invalid && (value == '' || value == null) || danger)" class="text-danger ms-3 mt-1">{{invalidReason[0]}}</nk-p>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import NkParagraph from "./NkParagraph.vue";

export default defineComponent({
  props: {
    handleBlur: {type: Function},
    inputmode: String,
    label: String,
    type: String,
    id: String,
    name: String,
    placeholder: String,
    value: String,
    icon: String,
    required: Boolean,
    disabled: Boolean,
    invalid: {
      type: Boolean,
      default: false
    },
    danger: {
      type: Boolean,
      default: false
    },
    invalidReason: {
      type: Array,
      default: () => ['Este campo é obrigatório']
    },
    mask: String
  },
  components: {
    "nk-p": NkParagraph
  },
  emits: ["input"],
  methods: {
    updateValue: function (value: any) {
      this.$emit("input", value);
    },
  },
})
</script>
<style scoped lang="scss">
/* .calendar-icon::-webkit-calendar-picker-indicator{
  opacity:0;//removes awful triangle indicator
} */

.calendar-icon::after{
  z-index:-1;//this unblock the click
  font-family: "Nike";
  content: "\ea1a";//your image or whateaver
  display: block;
  font-size:24px;
  color:#000;
  //background: url('') no-repeat;
  //background-size: 10%;
  width: 50px;
  height: 50px;
  position: absolute;
  top:18px;
  right:-13px;

}
.icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 90;
}
label {
  display: block;
  text-align: left;
  position: relative;
}
input {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
  padding: 24px 16px 8px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  /* Black */

  color: #000000;
  + span {
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 16px;
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #7d7d7d;
    transition: all 200ms ease-out;
  }

  &:not(:focus):placeholder-shown {
    &::-webkit-input-placeholder {
      color: transparent;
    }

    + span {
      line-height: 24px;
      top: 18px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
input:focus {
  color: #000000;
  box-shadow: none !important;
  border: 2px solid #000 !important;
  outline: none;
  + span {
    color: #000000;
  }
}
input:focus ~ {
  box-shadow: none !important;
  outline: none;
}
input:disabled {
  background: #F2F2F2;
  border: 2px solid #B3B3B3;
    color: #B3B3B3;
  + span{
    color: #B3B3B3;
    z-index: 1;
  }
}
input.invalid {
  border: 2px solid #FF4301;
    color: #FF4301;
  + span{
    color: #FF4301;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}
</style>