<template >
    <p>
        <slot />
    </p>
</template>
<script lang="ts">
import {  Vue } from 'vue-class-component';

export default class NkParagraph extends Vue{
    
}
</script>
<style scoped lang="scss">
    p{
        font-family: 'Helvetica Neue' !important;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 0;
        letter-spacing: 0.02em;
    }
</style>