<template>
  <label class="mt-24" :for="id">
    <input
      @input="updateValue($event.target.value)"
      :type="type"
      :id="id"
      :name="name"
      :value="value"
      v-on:blur="handleBlur"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      v-bind:class="icon == 'calendar' ? 'calendar-icon' : ''"
    />
    <i @click="clearFunction" :class="'icon icon-times-solid-1  p-3 text-link pe-1'"></i>
    <i  :class="'icon icon-search-solid-1'"></i>
  </label>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    handleBlur: {type: Function},
    clearFunction: {type: Function},
    label: String,
    type: String,
    id: String,
    name: String,
    placeholder: String,
    value: String,
    icon: String,
    required: Boolean,
    disabled: Boolean,
  },
  emits: ["input"],
  methods: {
    updateValue: function (value: any) {
      this.$emit("input", value);
    },
  },
})
export default class NkSearchInput extends Vue {
  label!: string;
  type!: string;
  id!: string;
  name!: string;
  placeholder!: string;
  value!: string;
  icon!: string;
  required!: boolean;
  disabled!: boolean;

}
</script>
<style scoped lang="scss">
.calendar-icon::-webkit-calendar-picker-indicator{
  opacity:0;//removes awful triangle indicator
}

.calendar-icon::after{
  z-index:-1;//this unblock the click
  font-family: "Nike";
  content: "\ea77";//your image or whateaver
  display: block;
  font-size:24px;
  color:#000;
  //background: url('') no-repeat;
  //background-size: 10%;
  width: 50px;
  height: 50px;
  position: absolute;
  top:18px;
  right:-13px;

}
.icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  z-index: 90;
}
label {
  display: block;
  text-align: left;
  position: relative;
}
input {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
  padding: 16px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  /* Black */

  color: #000000;
  + span {
    position: absolute;
    top: 10px;
    left: 16px;
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #7d7d7d;
    transition: all 200ms ease-out;
  }

  &:not(:focus):placeholder-shown {
    &::-webkit-input-placeholder {
    }
    + .icon-times-solid-1{
      display: none;
    }

    + span {
      line-height: 24px;
      top: 18px;
      font-size: 20px;
      font-weight: 700;
    }
  }
  &:focus {
    + .icon-times-solid-1 + .icon-search-solid-1{
      display: none;
    }
  }
  &:not(:focus):not(:placeholder-shown){
    + .icon-times-solid-1 + .icon-search-solid-1{
      display: none;
    }

  }
}
input:focus {
  color: #000000;
  box-shadow: none !important;
  border: 2px solid #000 !important;
  outline: none;
  + span {
    color: #000000;
  }
}
input:focus ~ {
  box-shadow: none !important;
  outline: none;
}
input:disabled {
  background: #F2F2F2;
  border: 2px solid #B3B3B3;
    color: #B3B3B3;
  + span{
    color: #B3B3B3;
  }
}
</style>