<template>
  <label class="mt-24" :for="id">
    <select
      v-bind:class="[(currentValue != '') ? 'filled' : '', 'icon-'+icon, invalid && (value == '' || value == null) ? 'invalid' : '', danger ? 'invalid' : '',]"
      @input="updateValue($event.target.value)"
      type="select"
      :disabled="disabled"
      :id="id"
      :value="currentValue"
      :placeholder="placeholder"
      :required="required"
    >
      <slot/>
    </select>
    <span>{{ label }}</span>
    <!-- <i v-bind:class="[icon ? 'icon icon-'+icon : 'icon icon-angle-down-solid']"></i> -->
  </label>
  <nk-p v-if="(invalid && (value == '' || value == null) || danger)" class="text-danger ms-3 mt-1">{{invalidReason[0]}}</nk-p>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import NkParagraph from "./NkParagraph.vue";

export default defineComponent ({
  data() {
      return {
        currentValue: ""
      }
  },
  props: {
    label: String,
    type: String,
    id: String,
    name: String,
    icon: String,
    placeholder: String,
    value: {type: String, default: ""},
    required: Boolean,
    disabled: Boolean,
    invalid: Boolean,
    danger: {
      type: Boolean,
      default: false
    },
    invalidReason: {
      type: Array,
      default: () => ['Este campo é obrigatório']
    },

  },
  emits: ["input"],
  components: {
    "nk-p": NkParagraph
  },
  methods: {
    updateValue(input: any): void {
      this.currentValue = input;
      this.$emit("input", input);
    }
  },
  mounted() {
    console.log("mounted being called");
    this.currentValue = this.value;
    /* console.log(this.currentValue) 
    console.log(this.value) */
  },

})

</script>
<style scoped lang="scss">
.icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
    background-image: url('/icons-svg/angle-down-solid.svg');
    color: #000;
   background-repeat: no-repeat;
   background-position-y: 50%;
   background-position-x: 98%;

}
.icon-down{
  background-image: url('/icons-svg/angle-down-solid.svg') !important;
}

.icon-search{
  background-image: url('/icons-svg/search-solid-1.svg') !important;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}
label {
  display: block;
  text-align: left;
  position: relative;
}
select {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
  padding: 24px 16px 8px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  /* Black */

  color: #000000;
  + span {
    position: absolute;
    top: 10px;
    left: 16px;
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #7d7d7d;
    transition: all 200ms ease-out;
  }

  &:not(:focus):not(.filled) {
    &::-webkit-input-placeholder {
      color: transparent;
    }

    + span {
      line-height: 24px;
      top: 18px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
select:focus {
  color: #000000;
  box-shadow: none !important;
  border: 2px solid #000 !important;
  outline: none;
  + span {
    color: #000000;
  }
}
select:focus ~ {
  box-shadow: none !important;
  outline: none;
}
select.invalid {
  border: 2px solid #FF4301;
    color: #FF4301;
  + span{
    color: #FF4301;
  }
}
select:disabled {
  background: #F2F2F2;
  border: 2px solid #B3B3B3;
    color: #B3B3B3;
  + span{
    color: #B3B3B3;
    z-index: 1;
  }
}

</style>