<template>

  <label class="mt-24" :for="id">
    <textarea
      @input="updateSearchValue($event.target.value)"
      @click="()=>{showingSelect = true;}"
      type="text" 
      :id="id"
      :name="name"
      :value="valueSearch"
      v-on:blur="()=>{outOfInput()}"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      autocomplete="off"
      rows="1"
      v-bind:class="[icon == 'calendar' ? 'calendar-icon' : '', invalid && (value == '' || value == null) ? 'invalid' : '']"
    /><!-- showingSelect = false -->
    <i @click="()=>{valueSearch = ''; resetOptions()}" :class="'icon icon-times-solid-1  p-3 text-link pe-1'"></i>
    <i  :class="'icon icon-search-solid-1'"></i>
  </label>
    <nk-p v-if="invalid && (value == '' || value == null)" class="text-danger ms-3 mt-1">Este campo é obrigatório</nk-p>

  <div  v-if="showingSelect" class="search-select-holder">
    <button type="button" @mousedown="()=>{selectItem(item.value, item.option)}" v-for="item in getFilteredOptions()" :key="item.value" class="btn d-block px-24 py-10 my-2 w-100 text-start">
      <nk-p>{{item.option}}</nk-p>
    </button>
  </div>

</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import NkParagraph from "./NkParagraph.vue";

export default defineComponent ({
  data() {
    return {
      showingSelect: false,
      valueSearch: '',
      selectedValueSearch: '',
      filteredOptions: [{}]
    }
  },
  props: {
    clearFunction: {type: Function},
    label: String,
    options: Object,
    type: String,
    id: String,
    name: String,
    placeholder: String,
    value: String,
    icon: String,
    required: Boolean,
    invalid: Boolean,
    disabled: Boolean,
  },
  components: {
    "nk-p": NkParagraph
  },
  emits: ["input"],
  mounted() {
    this.resetOptions();
  },
  methods: {
    getFilteredOptions: function() {
      if(this.options && this.valueSearch == ''){
        const filtered = [{}];

        this.options?.forEach(function (option: any) {
            filtered?.push(option)
        }); 

        this.filteredOptions = filtered;
      }

      return this.filteredOptions;
    },
    resetOptions: function (){
      const filtered = [{}];
      
      this.options?.forEach(function (option: any) {
          filtered?.push(option)
      }); 

      this.filteredOptions = filtered;

    },
    outOfInput: function (){
      this.valueSearch = this.selectedValueSearch;
      this.showingSelect = false;
    },
    updateSearchValue: function (value: any){
      this.showingSelect = true;
      /* this.$emit("input", value); */
      this.valueSearch = value;

      const filtered = [{}];
      
      this.options?.forEach(function (option: any) {
        if (option.option.toUpperCase().includes(value.toUpperCase())){
          filtered?.push(option)
        }
      }); 

      this.filteredOptions = filtered;
    },
    updateValue: function (value: any, option: string) {
      this.$emit("input", value);
      this.valueSearch = option;
      this.selectedValueSearch = option;


      const filtered = [{}];
      
      this.options?.forEach(function (option: any) {
        if (option.option.toUpperCase().includes(value.toUpperCase())){
          filtered?.push(option)
        }
      }); 

      this.filteredOptions = filtered;
    },
    selectItem: function(value: string, option: string){
      this.updateValue(value, option);
      this.showingSelect = false;
    }
  },

})
</script>
<style scoped lang="scss">

.search-select-holder{
  position: absolute;
  background: #fff;
  max-height: 250px;
  overflow: auto;
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 2.5px 7px rgba(0, 0, 0, 0.02), 0px 3px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.calendar-icon::-webkit-calendar-picker-indicator{
  opacity:0;//removes awful triangle indicator
}
.btn{
  box-shadow: none !important;
  outline: none !important;
}
.calendar-icon::after{
  z-index:-1;//this unblock the click
  font-family: "Nike";
  content: "\ea77";//your image or whateaver
  display: block;
  font-size:24px;
  color:#000;
  //background: url('') no-repeat;
  //background-size: 10%;
  width: 50px;
  height: 50px;
  position: absolute;
  top:18px;
  right:-13px;

}
.icon{
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  right: 13px;
  z-index: 90;
}
label {
  display: block;
  text-align: left;
  position: relative;
}
textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
  padding: 16px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  /* Black */

  color: #000000;
  + span {
    position: absolute;
    top: 10px;
    left: 16px;
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #7d7d7d;
    transition: all 200ms ease-out;
  }

  &:not(:focus):placeholder-shown {
    &::-webkit-input-placeholder {
    }
    + .icon-times-solid-1{
      display: none;
    }

    + span {
      line-height: 24px;
      top: 18px;
      font-size: 20px;
      font-weight: 700;
    }
  }
  &:focus {
    + .icon-times-solid-1 + .icon-search-solid-1{
      display: none;
    }
  }
  &:not(:focus):not(:placeholder-shown){
    + .icon-times-solid-1 + .icon-search-solid-1{
      display: none;
    }

  }
}
textarea:focus {
  color: #000000;
  box-shadow: none !important;
  border: 2px solid #000 !important;
  outline: none;
  + span {
    color: #000000;
  }
}
textarea:focus ~ {
  box-shadow: none !important;
  outline: none;
}
textarea:disabled {
  background: #F2F2F2;
  border: 2px solid #B3B3B3;
    color: #B3B3B3;
  + span{
    color: #B3B3B3;
  }
}
textarea {
  resize: none;
}

</style>