<template>
  <label class="mt-24" :for="id">
    <textarea
      @input="updateValue($event.target.value)"
      :id="id"
      :name="name"
      :placeholder="placeholder"
      :required="required"
      :disabled="disabled"
      :value="value"
      :rows="rows"
    />
    <span>{{ label }}</span>
  </label>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    label: String,
    id: String,
    name: String,
    placeholder: String,
    value: String,
    required: Boolean,
    disabled: Boolean,
    rows: String,
  },
  emits: ["input"],
  methods: {
    updateValue: function (value: any) {
      this.$emit("input", value);
    },
  },
})
export default class NkTextarea extends Vue {
  label!: string;
  id!: string;
  name!: string;
  placeholder!: string;
  value!: string;
  required!: boolean;
  disabled!: boolean;
  rows!: string;

}
</script>
<style scoped lang="scss">
label {
  display: block;
  text-align: left;
  position: relative;
}
textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
  padding: 24px 16px 8px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  /* Black */

  color: #000000;
  + span {
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 16px;
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #7d7d7d;
    transition: all 200ms ease-out;
  }

  &:not(:focus):placeholder-shown {
    &::-webkit-input-placeholder {
      color: transparent;
    }

    + span {
      line-height: 24px;
      top: 18px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
textarea:focus {
  color: #000000;
  box-shadow: none !important;
  border: 2px solid #000 !important;
  outline: none;
  + span {
    color: #000000;
  }
}
textarea:focus ~ {
  box-shadow: none !important;
  outline: none;
}
</style>