<template>
  <div class="post-card mb-24">
    <div class="d-flex card-action-header" v-if="post.likedBy && post.likedBy !== '' && post.likedBy !== null">
      <nk-user-info 
        :onClick="()=>{goToUser(0)}"
        :picture="post.likedBy.author.picture" 
        :date_publish="post.likedBy.author.date_publish" 
        :city="post.likedBy.author.city"
        :state="post.likedBy.author.state"
        styling="liked"
        :username="post.likedBy.author.name">
      </nk-user-info>
    </div>
    <div v-bind:class="['card', post.news ? 'mt-48' : '']">
      <div
        class="d-flex justify-content-center txt-top justify-content-between mt-16 mx-24"
      >
        <span v-if="post.news" class="new-post">Novidade</span>

        <div class="d-flex justify-content-between w-100">
          <div>
            <div v-if="!post.author || (post.author && (post.author.id === null || post.author.id === ''))" class="d-flex align-items-center">
              <nk-h5 class=" txt-top-card ">
                {{ post.date_publish }}
              </nk-h5>
              <span class="vertical-divider"></span>
              <nk-h5 class="txt-top-card ">{{ post.station }}</nk-h5>
            </div>
            <div v-if="!post.author || (post.author && (post.author.id === null || post.author.id === ''))" class="text-start">
              <template v-for="(item, index) in post.categories" :key="index" >
                <span v-if="index != 0" class="vertical-divider-category d-inline-block"></span>
                <nk-h5 class="txt-top-card mt-0 d-inline-block" >
                  {{ item }}
                </nk-h5>
              </template>
            </div>
            <div class="d-flex" v-if="post.author && post.author.id !== null && post.author.id !== ''">
              <nk-user-info 
                :onClick="()=>{goToUser(0)}"
                v-if="post.author.id !== appdata.user.id"
                :picture="post.author.picture" 
                :date_publish="post.date_publish" 
                :city="post.author.city"
                :state="post.author.state"
                :username="post.author.name">
              </nk-user-info>
              <nk-user-info 
                :onClick="()=>{goToUser(0)}"
                v-if="post.author.id === appdata.user.id"
                :picture="getUserImage(appdata.user.avatar_id)" 
                :date_publish="post.date_publish"
                styling="dark" 
                :username="'Você'">
              </nk-user-info>
            </div>
          </div>
          <div>
            <div class="txt-top-right">
              <div class="dropdown dropdown-feed-card">
                <button
                  class="btn btn-feed dropdown-toggle p-0"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <img src="/icons-svg/vert_dots.svg" alt="" />
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button
                    @click="sharePost(post)"
                    data-bs-toggle="modal"
                    :data-bs-target="'#share'+post.slug"
                    class="dropdown-item d-flex justify-content-between"
                  >
                    Enviar <img src="/icons-svg/share-variant.svg" alt="Enviar" />
                  </button>
                  <router-link
                    :to="'/ajuda/Dúvida/'+post.id"
                    class="dropdown-item d-flex justify-content-between"
                    active-class="active"
                  >
                    Dúvidas
                    <img src="/icons-svg/question-solid.svg" alt="Dúvidas" />
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body d-flex justify-content-start">
        <a    
          class="decoration-none text-start c-pointer"     
          @click="showPost(post.slug)"
        >
          <nk-h2 class="card-text text-start mt-14 post-card-title font-weight-700">{{ post.title }}</nk-h2>
        </a>
      </div>
      <a
        v-if="!post.video"
        :id="'postcard_' + post.slug"
        @click="showPost(post.slug)"
        class="feed-card-link transition c-pointer"
      >
        <div class="d-flex justify-content-center ">
          <img
            :src="post.img"
            class="card-img-top img-fluid"
            height="auto"
            alt="..."
          />
          <div class="background-overlay transition"></div>
        </div>
      </a>
      <a
        v-if="post.video"
        :id="'postcard_' + post.slug"
        style="cursor: pointer"
        @click="showPost(post.slug)"
        class="feed-card-link transition"
      >
        <div class="d-flex justify-content-center">
          <img
            :src="post.video[0].img"
            class="card-img-top img-fluid"
            height="auto"
            alt="..."
          /> 
          <!-- <img
            src="/img/play.png"
            
            class="img-fluid play-icon"
            alt="..."
          />  -->
          <div class="background-overlay transition"></div>

        </div>
      </a>
    </div>
    <nk-tip v-if="getTipStatus('tip4') && tip4 && hasTip" :onClick="()=>hideTips()" class="mt-24 animate__animated animate__fadeInUp" :position="'center'" verticalPosition="down" horizontalPosition="center">
      <nk-h4 class="text-white text-start">Interaja conosco ao curtir, comentar, favoritar ou avaliar cada post.</nk-h4>
    </nk-tip>
    <div v-if="post.author && post.author.id === appdata.user.id" class="">
      <div class="mt-16 mb-24 d-flex justify-content-center post-buttons">
        <div class="d-flex me-24">
          <i class="icon icon-thumbs-up-1"></i>
          <nk-h4 class="ms-2 mt-1">{{ likesQtd }}</nk-h4>
        </div>
        <div class="d-flex">
          <i class="icon icon-star-empty"></i>
          <nk-h4 class="ms-2 mt-1">{{ post.stars }}</nk-h4>
        </div>
      </div>
      <div class="card-comments-holder">
          <div v-for="(comment, index) in post.commentsList" :key="'card-comments-'+index+comment.id">
            <div class="mx-24" v-if="index < 3">
              <hr>
              <nk-user-info 
                :onClick="()=>{goToUser(0)}"
                :picture="comment.authorImg" 
                :date_publish="comment.date_publish" 
                :city="comment.authorCity"
                :state="comment.authorState"
                :username="comment.authorName">
              </nk-user-info>
              <nk-p class="mt-2 ms-58 text-start">
                {{comment.comment}}
              </nk-p>
            </div>
          </div>
          <div class="pb-16">
            <nk-icon-button
              styling="dark"
              :round="true"
              @click="showPostComments(post.slug)"
              :data-bs-target="'#post' + post.id + post.slug"
              data-bs-toggle="modal"
              class="mx-auto  mt-12"
              size="sm"
              :position="'center'"
            >
              <nk-h4 class="ms-2 mt-1">Ver mais 5 comentários</nk-h4>
              <i class="icon icon-angle-down-solid"></i>
            </nk-icon-button>
          </div>
      </div>
    </div>

    <div v-if="!post.author || post.author && post.author.id !== appdata.user.id" class="mt-16 d-flex justify-content-center post-buttons">
      <nk-icon-button
        styling="white"
        :round="true"
        @click="likePost(post.id, liked)"
        v-bind:class="[liked ? 'active' : '', 'mx-2']"
        size="sm"
        :position="'none'"
        
      >
        <i class="icon icon-thumbs-up-1"></i>
        <nk-h4 class="ms-2 mt-1">{{ likesQtd }}</nk-h4>
      </nk-icon-button>
      <nk-icon-button
        styling="white"
        :round="true"
        size="sm"
        :position="'none'"
        v-bind:class="[hasComment ? 'active' : '', 'mx-2']"
        @click="showPostComments(post.slug)"
        :data-bs-target="'#post' + post.id + post.slug"
        data-bs-toggle="modal"
      >
        <i class="icon icon-comment-1"></i>
        <nk-h4 class="ms-2 mt-1">{{ commentsQtd }}</nk-h4>
      </nk-icon-button>
      <nk-icon-button
        styling="white"
        :round="true"
        @click="favPost(post.id, favorited)"
        v-bind:class="[favorited ? 'active' : '', 'mx-2']"
        size="sm"
        :position="'none'"
      >
        <i class="icon icon-bookmark"></i>
      </nk-icon-button>
      <!-- <nk-icon-button
        styling="white"
        :round="true"
        @click="()=>{goToShare()}"
        size="sm"
        :position="'none'"
      >
        <i class="icon icon-share-square-1"></i>
      </nk-icon-button> -->
    </div>
    <div v-if="!post.author || post.author && post.author.id !== appdata.user.id" class="mt-26 rating pb-27 d-flex justify-content-center">
      <input
        @click="starPost(post.id, 0)"
        hidden
        type="radio"
        name="star"
        :id="'star0' + post.slug"
      /><label
        hidden
        v-bind:class="[stars >= 5 ? 'active' : '']"
        :for="'star0' + post.slug"
      ></label>
      <input
        @click="starPost(post.id, 5)"
        type="radio"
        name="star"
        :id="'star1' + post.slug"
      /><label
        v-bind:class="[stars >= 4 ? 'active' : '']"
        :for="'star1' + post.slug"
      ></label>
      <input
        @click="starPost(post.id, 4)"
        type="radio"
        name="star"
        :id="'star2' + post.slug"
      /><label
        v-bind:class="[stars >= 3 ? 'active' : '']"
        :for="'star2' + post.slug"
      ></label>
      <input
        @click="starPost(post.id, 3)"
        type="radio"
        name="star"
        :id="'star3' + post.slug"
      /><label
        v-bind:class="[stars >= 2 ? 'active' : '']"
        :for="'star3' + post.slug"
      ></label>
      <input
        @click="starPost(post.id, 2)"
        type="radio"
        name="star"
        :id="'star4' + post.slug"
      /><label
        v-bind:class="[stars >= 1 ? 'active' : '']"
        :for="'star4' + post.slug"
      ></label>
      <input
        @click="starPost(post.id, 1)"
        type="radio"
        name="star"
        :id="'star5' + post.slug"
      /><label
        v-bind:class="[stars >= 0 ? 'active' : '']"
        :for="'star5' + post.slug"
      ></label>
    </div>
  </div>
</template>

<script lang="ts">
import authService from "@/services/modules/authService";
import tipsService from "@/services/modules/tipsService";
import { useStore } from "@/store";
import { defineComponent, ref} from "vue";
import NkHeading2 from "../atoms/NkHeading2.vue";
import NkHeading4 from "../atoms/NkHeading4.vue";
import NkHeading5 from "../atoms/NkHeading5.vue";
import NkIconButton from "../atoms/NkIconButton.vue";
import NkParagraph from "../atoms/NkParagraph.vue";
import NkTipVue from "./NkTip.vue";
import NkUserInfoVue from "./NkUserInfo.vue";
import router from "@/router";

export default defineComponent({
    setup() {
      const store = useStore();
      const appdata = ref(store.state);

      return {
        appdata,
      };
    },
    name: "NkCardFeatured",
    components: {
      "nk-icon-button": NkIconButton,
      "nk-user-info": NkUserInfoVue,
      "nk-h2": NkHeading2,
      "nk-h4":NkHeading4,
      "nk-h5":NkHeading5,
      "nk-p":NkParagraph,
      "nk-tip": NkTipVue
    },
    data(){
      return{
        tip4: true
      }
    },
    props: {
        hasTip: null,
        post: null,
        // eslint-disable-next-line
        liked: null,
        likesQtd: null,
        hasComment: null,
        commentsQtd: null,
        favorited: null,
        stars: null,
        station: null,

        favPost: {
            type: Function
        },
        starPost: {
            type: Function
        },
        likePost: {
            type: Function
        },
        sharePost: {
            type: Function
        },
        showVideo: {
            type: Function
        },
        showPostComments: {
            type: Function
        },
        showPost: {
            type: Function
        }
    },
    methods:{
      getTipStatus(id: string){
        /* checking for tips */
        return tipsService.getTipsStatus(id);
      },
      getUserImage(id: any): string{
        return authService.getUserImage(id);
      },
      hideTips(){
        this.tip4 = false;
        tipsService.hideTips('tip4')
      },
      goToShare(){
        router.push('/share')
      },
      goToUser(id: number){
        router.push('/colaborator')
      }
    }
})

</script>
<style lang="scss" scoped>
.card-action-header{
  background: #F2F2F2;
  padding: 16px;
  padding-bottom: 32px;
  border-radius: 10px;
}
.img-author{
  width: 42px !important;
  height: 42px !important;
  object-fit: cover;
  border-radius: 42px;
}
.feed-card-link{
  position: relative;
  .background-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    opacity: 0;
    border-radius: 10px;
  }

}
.feed-card-link:hover{
  .background-overlay{
    opacity: 1;
  }

}
.decoration-none{
  text-decoration: none !important;
}
.play-icon{
  width: 89px;
  height: 93px;
  position: absolute;
  top: 50%;
}
.btn-feed {
  box-shadow: none !important;
}
.galerry-img-zoom {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  top: 40vh;
  transform: translateY(-50%);
  position: relative;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));
}
.galerry-img {
  width: 174px;
  height: 174px;
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));
  cursor: pointer;
}
.post-content {
  p {
    text-align: left !important;
  }
}
.card-img-top {
  object-fit: cover;
  height: 89vw;
  object-fit: cover;
  border-radius: 10px;
  @include smd{
    height: 576px;
  }
}
.post-card,
.post-card .card {
  background-color: #fff;
  border-radius: 10px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
}

.post-card-title {
  margin: 20px 24px 16px 24px;
  font-family: "Helvetica Neue";
  font-size: 26px;
  line-height: 31px;
  color: #000;
}

.txt-top-card {
  /* font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 13px; */
  color: #7D7D7D;
  margin-bottom: 0;
}

/* .txt-top-left {
  margin-left: 18px;
} */

.dropdown-toggle::after {
  display: none;
}

.dropdown-feed-card {
  box-shadow: none;
  /* margin-top: 4px; */
  border: 0;
  background-color: transparent;
}

.dropdown-menu {
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 2.5px 7px rgba(0, 0, 0, 0.08);
  border: none;
}

.dropdown-item {
  margin-bottom: 25px;
  padding-left: 0;
  padding-right: 0;

  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.dropdown-item:nth-child(2) {
  margin-bottom: 0;
}

.vertical-divider {
  width: 0px;
  height: 24px;
  border: 1px solid #f2f2f2;
  margin-left: 8px;
  margin-right: 8px;
}
.vertical-divider-category {
  width: 16px;
  height: 0px;
  border: 1px solid #f2f2f2;
  transform: rotate(90deg);
  top: -5px;
  position: relative;
}

.new-post {
  background-color: #ff4301;
  position: absolute;
  right: 24px;
  top: -21px;
  padding: 1px 6px 1px 8px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
  z-index: -1;

  font-family: "Helvetica Neue";
  font-size: 13px;
  color: #fff;
}

.rating {
  position: relative;
  display: flex;
  justify-content: center;
  transform: rotateY(180deg);

  input {
    display: none;
  }
  label {
    display: block;
    cursor: pointer;
    margin-right: 28px;
  }
  label:last-child {
    margin-right: 0;
  }
  label::before {
    content: "\ea29";
    font-family: "Nike";
    position: relative;
    display: block;
    font-size: 25px;
    color: #b3b3b3;
  }
  label::after {
    content: "\ea29";
    font-family: "Nike";
    position: absolute;
    top: 0;
    display: block;
    color: #ff4301;
    opacity: 0;
    transition: 0.5s;
    font-size: 25px;
  }
  label:hover::after,
  label:hover ~ label::after,
  label.active ~ label::after {
    opacity: 1;
  }
  /* label:hover::after,
  label:hover ~ label::after,
  input:checked ~ label::after {
    opacity: 1 !important;
  } */
}

</style>