<template>
<div  id="accordionCat">
  <div class="position-relative">
    <ul id="categoryList" class="list-group list-group-horizontal scrolling-wrapper d-flex mt-32 mb-32">
      <li
        class="list-group-item ml-0  cursor-pointer"
        :class="black"
        v-for="categorie in categories"
        :key="categorie.icon"
      >
      <div
        class="categories-btn"
        @click="()=>{selectCategoryEvent(categorie.id)}"
        data-bs-toggle="collapse"
        :data-bs-target="'#sub' + categorie.id"
      >

        <div class="d-flex justify-content-center align-items-center flex-column">
          <div class="svg transition d-flex justify-content-center align-items-center">
            <i :class="categorie.icon"></i>
            <span class="not-read" v-if="categorie.news"></span>
          </div>
          <p style="margin-top: 4px" class="category-txt text-gray1">
            <span>{{ categorie.name }}</span>
          </p>
        </div>
      </div>
      </li>
    </ul>
    <div id="categoryRightHolder" v-if="currentScroll < maxScroll" class="side-button-holder f-width-50">
      <button @click="scrollCategoryRight()" class="btn btn-next-category transition d-none d-md-inline-block">
        <i class="icon icon-angle-right-solid p-12 transition"></i>
      </button>
    </div>
    <div id="categoryLeftHolder" v-if="currentScroll != 0" :class="['side-button-holder-left', 'f-width-50']">
      <button @click="scrollCategoryLeft()" class="btn btn-next-category transition d-none d-md-inline-block">
        <i class="icon icon-angle-right-solid p-12 transition"></i>
      </button>
    </div>
  </div>

  <div class="sub-category-holder  tab-content">
    <div
      v-for="categorie in categories"
      :key="'catCol' + categorie.id"
      class="accordion-collapse collapse text-start"
      data-bs-parent="#accordionCat"
      role="tabpanel"
      :id="'sub' + categorie.id"
    >
          <nk-button 
            v-for="(item, index) in categorie.subcategories" 
            :inline="true" 
            :key="index" 
            @click="selectSubcategoryEvent(item.id)" 
            v-bind:class="[item.id === selectedSubcategory ? 'active' : '']"
            class="me-12 mb-12" 
            styling="dark" 
            position="initial" 
            size="sm" 
            :round="true">
            <nk-h4>{{item.name}}</nk-h4>
          </nk-button>
    </div>
  </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import NkButton from "@/components/atoms/NkButton.vue";
import NkHeading4 from "@/components/atoms/NkHeading4.vue";

export default defineComponent({
  props: {
    selectSubcategoryEvent: {type: Function},
    selectCategoryEvent: {type: Function},
    selectedSubcategory: {type: Number},
    theme: {
      type: String,
      default: "black",
    },
    categories: [],
  },
  components: {
    "nk-button": NkButton,
    "nk-h4": NkHeading4,
  },
  data() {
    return {
      maxScroll: 1,
      currentScroll: 0,

      form: {
        subCategory: "teste ok"
      }
    };
  },
  mounted() {
    const catList = document.getElementById("categoryList");
    if(catList != null){
      this.maxScroll = catList.scrollWidth - catList.clientWidth;
    }
  },
  computed: {
    black: function (): string {
      return this.theme == "black" ? "black" : "light";
    },
  },
  methods: {
    clamp(number: number, min: number, max: number) {
      return Math.max(min, Math.min(number, max));
    },

    scrollCategoryRight(){

      const catList = document.getElementById("categoryList");


      if(catList != null){
        this.maxScroll = catList.scrollWidth - catList.clientWidth;
        this.currentScroll += catList.scrollWidth - 50;
        catList.scrollLeft += catList.scrollWidth - 50;
        this.currentScroll = this.clamp(this.currentScroll, 0, this.maxScroll)
      }

    },
    scrollCategoryLeft(){

      const catList = document.getElementById("categoryList");
      if(catList != null){
        this.maxScroll = catList.scrollWidth - catList.clientWidth;
        this.currentScroll -= catList.scrollWidth - 50;
        catList.scrollLeft -= catList.scrollWidth - 50;
        this.currentScroll = this.clamp(this.currentScroll, 0, this.maxScroll)
      }
    }
  }

})
</script>

<style scoped lang="scss">
.f-width-50{
  width: 50px;
}
#categoryList{
  scroll-behavior: smooth;
}
.side-button-holder{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0086472) 6.67%, rgba(255, 255, 255, 0.03551) 13.33%, rgba(255, 255, 255, 0.0816599) 20%, rgba(255, 255, 255, 0.147411) 26.67%, rgba(255, 255, 255, 0.231775) 33.33%, rgba(255, 255, 255, 0.331884) 40%, rgba(255, 255, 255, 0.442691) 46.67%, rgba(255, 255, 255, 0.557309) 53.33%, rgba(255, 255, 255, 0.668116) 60%, rgba(255, 255, 255, 0.768225) 66.67%, rgba(255, 255, 255, 0.852589) 73.33%, rgba(255, 255, 255, 0.91834) 80%, rgba(255, 255, 255, 0.96449) 86.67%, rgba(255, 255, 255, 0.991353) 93.33%, #FFFFFF 100%);
    button{
      padding: 0;
      top: 40%;
      position: relative;
      background: #fff;
      border-radius: 32px;
      transform: translateY(-50%);
      *{
        color: #000000;
      }
      box-shadow: 0px 2.5px 7px rgba(0, 0, 0, 0.02), 0px 3px 20px rgba(0, 0, 0, 0.08);
    }
    button:hover{
      *{
        color: #7D7D7D;
      }
      background: #F2F2F2;

    }
}
.side-button-holder-left{
  transform: rotate(180deg);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0086472) 6.67%, rgba(255, 255, 255, 0.03551) 13.33%, rgba(255, 255, 255, 0.0816599) 20%, rgba(255, 255, 255, 0.147411) 26.67%, rgba(255, 255, 255, 0.231775) 33.33%, rgba(255, 255, 255, 0.331884) 40%, rgba(255, 255, 255, 0.442691) 46.67%, rgba(255, 255, 255, 0.557309) 53.33%, rgba(255, 255, 255, 0.668116) 60%, rgba(255, 255, 255, 0.768225) 66.67%, rgba(255, 255, 255, 0.852589) 73.33%, rgba(255, 255, 255, 0.91834) 80%, rgba(255, 255, 255, 0.96449) 86.67%, rgba(255, 255, 255, 0.991353) 93.33%, #FFFFFF 100%);
    button{
      padding: 0;
      top: 60%;
      position: relative;
      background: #fff;
      border-radius: 32px;
      transform: translateY(-50%);
      *{
        color: #000000;
      }
      box-shadow: 0px 2.5px 7px rgba(0, 0, 0, 0.02), 0px 3px 20px rgba(0, 0, 0, 0.08);
    }
    button:hover{
      *{
        color: #7D7D7D;
      }
      background: #F2F2F2;

    }
}
#accordionCat{
  width: 100vw;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  @include smd{
    position: initial;
    width: initial;
    transform: translateX(0);

  }
}
.sub-category-holder{
  padding-left: 24px;
  padding-right: 24px;
    @include smd{
      padding-left: 0;
      padding-right: 0;
  }
}
.accordion-collapse{
  border: none !important;
}
.cursor-pointer {
  cursor: pointer;
}
.list-group-item a {
  min-width: 70px;
}
.list-group-item{
  min-width: 87px;
}
.list-group-item.black  {
  .svg{

    width: 48px;
    height: 48px;
    background-color: #000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
    border-radius: 40px;
    position: relative;
  }
  .svg:hover{
      background-color: #7D7D7D;
  }
}
.list-group-item:focus .black .svg{
    background-color: #B3B3B3;
}

.list-group-item.black i {
  color: #fff;
}

.list-group-item.light  {

  .svg{
    width: 55px;
    height: 55px;
    background-color: #ddd;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
    border-radius: 40px;
  }
  .svg:hover{
    background-color: #F2F2F2;
  }

}

.list-group-item.light i {
  color: #000;
}
.list-group-item{
  .categories-btn[aria-expanded="true"]{
    .svg{
      background-color: #FF4301;
    }
    .svg:hover{
      opacity: 0.6;
    }
  }
}

.icon {
  color: #fff;
  font-size: 24px;
}

.not-read {
  width: 16px;
  height: 16px;
  background-color: #ff4301;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 15px;
}
.category-txt{
  font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.51px;


    text-align: center;

    color: #7d7d7d !important;

    text-decoration: none !important;
}

</style>