<template>
<a :id="'postcard_'+slug" @click="onClick(slug)" class="mb-24 c-pointer">
    <div  class="card-feed-item transition">
      <img :src="img" class="img-fluid" height="auto" alt="...">
      <div class="img-overlay transition"></div>
      <div class="card-img-overlay transition">
        <p class="card-text-destaque">{{ title }}</p>
      </div>
    </div>
  </a>

</template>

<script lang="ts">
import { defineComponent} from "vue";

export default defineComponent({
    name: "NkCardFeatured",
    props: {
        id: null,
        img: null,
        title: null,
        slug: null,
        onClick: {
            type: Function
        }
    },
})

</script>
<style lang="scss" scoped>
.card-text-destaque{
    /* min-width: 265px; */
    max-width: 363px;

    // height: 126px;

    font-family: 'Biennale';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    // line-height: 42px;
    color: #FFFFFF;
}

.post-card-title {
  margin: 20px 24px 16px 24px;
  font-family: "Helvetica Neue";
  font-size: 26px;
  line-height: 31px;
  color: #000;
}

.card-feed-item{
  cursor: pointer;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.card-feed-item img {
  border-radius: 10px;
  width: 100%;
  height: 89vw;
  object-fit: cover;
  @include smd{
    height: 576px;
  }
  
}

.card-feed-item .img-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  /* background-color: #000; */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.17%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  z-index: 0;
  transition: .2s ease-in-out;
  
}
.card-feed-item .img-overlay:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.17%, rgba(0, 0, 0, 0.5) 100%);
}

.card-feed-item p {
  font-family: 'Nike Futura ND';
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  padding: 8px;
  line-height: 122%;
}

</style>