<template  >
  <div v-if="showing" class="popup-cookie">
    <div class="popup-cookie-content">
      <nk-container class=" py-4 px-md-2">
        <div class="d-flex justify-content-between">
          <nk-h4 class="text-white">
            Essa página deseja salvar cookies
          </nk-h4>
          <nk-button @click="showing = false" :size="'sm'" :styling="'white'" :round="true" :position="'right'">Aceitar</nk-button>
        </div>
      </nk-container>
    </div>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ContainerSmall from '@/components/atoms/ContainerSmall.vue';
import NkHeading4 from "../atoms/NkHeading4.vue";
import NkButton from "../atoms/NkButton.vue";

@Options({
  data() {
    return {
      showing: true,
    };
  },
  components: {
    "nk-container": ContainerSmall,
    "nk-h4": NkHeading4,
    "nk-button": NkButton,
  },
})
export default class NkCookie extends Vue {
}
</script>
<style scoped lang="scss">
.popup-cookie{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.685);
  z-index: 20;

}
.popup-cookie-content{
    display: block !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
}
</style>