<template>
  <div class="pb-100"></div>
  <div class="footer-copy">
    <nk-h5
      class="mt-16 text-gray2 text-link"
      data-bs-toggle="modal"
      data-bs-target="#termsmodal"
    >Política de Privacidade. Termos de Uso.</nk-h5
    >
    <nk-h5 class="mt-8 text-gray2"
    >© 2020 Fisia, Ltda. All Rights Reserved.</nk-h5
    >
  </div>
</template>

<script>

import { Vue } from 'vue-class-component';

export default class NkFooterCopy extends Vue {

}

</script>

<style lang="scss" scoped>

.footer-copy {
  width: 100%;
  position: absolute;
  left: 50%;
  right: 50%;
  /* top: 90px; */
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  bottom: 24px;
          margin-top: 120px;

}


</style>