<template>
  <div id="navbar" class="navbar menu transition">
    <div class="d-flex justify-content-between align-items-center navbar-container">
      <router-link to="/inicio" active-class="active">
        <i class="icon icon-nike"></i>
        <nk-h5><span>Home</span></nk-h5>
      </router-link>
      <!-- <router-link to="/feed" active-class="active">
        <i class="icon icon-comment-account"></i>
        <nk-h5><span>Feed</span></nk-h5>
      </router-link> -->
      <router-link to="/pesquisar" active-class="active"><i class="icon icon-search-solid-1"></i>
        <nk-h5><span>Busca</span></nk-h5>
      </router-link>
      <router-link to="/ajuda" active-class="active"><i class="icon icon-question-solid"></i>
        <nk-h5><span>Ajuda</span></nk-h5>
      </router-link>
      <router-link to="/perfil" active-class="active"><i class="icon icon-user-1"></i>
        <nk-h5><span>Perfil</span></nk-h5>
      </router-link>
    </div>
  </div>
  <div class="content-spacing"></div>
  <div id="btnToTop" class="to-top-btn-holder to-top-hidden transition">
    <button @click="topFunction" class="btn to-top-btn p-0">
      <i class="icon icon-arrow-up p-2 text-white"></i>
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import NkHeading5 from "../atoms/NkHeading5.vue";

export default defineComponent ({
  /* data() {
    return {
    }
  },
  setup() {
  }, */
  name:"NkMenu",
  components: {
    "nk-h5": NkHeading5
  },
  mounted(){
    let prevScrollpos = window.pageYOffset;
    /* const navbar = ref<HTMLElement | null>(null) */

    window.onscroll = function() {
      const currentScrollPos = window.pageYOffset;
      const nav = document.getElementById("navbar");
      const btnToTop = document.getElementById("btnToTop");

      if (prevScrollpos > currentScrollPos) {
        nav?.classList.add("show-nav");
        nav?.classList.remove("hide-nav");
        btnToTop?.classList.remove("to-top-hidden");

        /* navbar.style.top = "0"; */
      } else {
        nav?.classList.remove("show-nav");
        nav?.classList.add("hide-nav");
        btnToTop?.classList.remove("to-top-hidden");

      }
      if(currentScrollPos <= 5){
        btnToTop?.classList.add("to-top-hidden");
      }

      prevScrollpos = currentScrollPos;
    }
  },
  methods: {
    topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  }
})
</script>

<style lang="scss" scoped>
.navbar-container{
  max-width: 624px !important;
}
.to-top-btn-holder{
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 11 !important;
  @include lg{
    bottom: 16px;
  }

}
.to-top-btn{
  /* Orange */
  background: #FF4301;
  /* Dark components / Large */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  z-index: 10 !important;
  outline: none !important;
  box-shadow: none !important;
}
.to-top-hidden{
  bottom: -46px;
}
.icon-nike{
  font-size: 48px !important;
  position: relative;
  height: 16px;
  width: 48px;
  margin: 4px 7px;
}
.icon-nike::before{
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translate(-50%, -82%);
  height: 24px;
}
.menu{
    position: fixed;
    width: 100vw;
    height: 64px;
    // left: calc(50% - 411px/2);
    bottom: 0px;
    justify-content: center;

    background: #FFFFFF;

    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 10px 10px 0px 0px;

    z-index: 10;

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 16px;
        width: 100%;
        @include lg {
            max-width: 900px;

            a {
              h5{
                -webkit-transition: all ease-in-out 200ms;
                -moz-transition: all ease-in-out 200ms;
                -o-transition: all ease-in-out 200ms;
                transition: all ease-in-out 200ms;
              }

              display: flex;
              flex-direction: row;
              align-items: center;
            }
            a:hover{
              h5{
                color: #7D7D7D !important;
              }
            }
            a .icon {
                margin-right: 5px;
                font-size: 25px;
            }

        }
    }

    a{
        text-decoration: none !important;
        color: #000000 !important;
        &.active {
          color: #FF4301 !important;
        }
    }

    @include lg {
        //display: none;
        top: 0;
        
    }
}
.hide-nav{
  bottom: -65px;

  @include lg{
    top: -65px;
  }
}
.show-nav{
  bottom: 0px;

  @include lg{
    top: 0px;
  }
}
.content-spacing{
  @include lg {
      margin-top: 120px;
    }
}

</style>