<template >
  <div class="modal px-0" :id="id" tabindex="-1" v-bind:class="[open ? 'show-modal' : '']">
    <nk-container class="modal-dialog px-0 px-md-2">
      <div class="modal-content">
        <div :id="id+'header'" class="modal-header desktop-header px-24 pb-24 pt-24 transition">
          <nk-h2 class="text-dark mb-0">{{ title }}</nk-h2>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
            v-if="!blockClose"
            v-on:click="onClose"
          >
           <i class="icon icon-times"></i> 
          </button>
        </div>
        <div v-on:scroll.passive="scrollModal" :id="id+'_content'" class="modal-body desktop-body smooth-scroll">
            <div class="mt-16">
              <nk-container>

                <nk-h3 class="text-start text-dark">{{subTitle}}</nk-h3>
                <slot/>
              </nk-container>
            </div>
        </div>
      </div>
    </nk-container>
    <div :id="id+'btnToTopModal'" class="to-top-btn-holder to-top-hidden transition">
      <button @click="topFunction" class="btn to-top-btn p-0">
        <i class="icon icon-arrow-up p-2 text-white"></i>
      </button>
    </div>

  </div>

</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import ContainerSmall from '@/components/atoms/ContainerSmall.vue';
import NkHeading2 from "../atoms/NkHeading2.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";

export default defineComponent ({
  name: "NkModal",
  props: {
    title: String,
    subTitle: String,
    id: String,
    open: Boolean,
    onClose: Function,
    blockClose: Boolean,
  },
  components: {
    "nk-container": ContainerSmall,
    "nk-h2": NkHeading2,
    "nk-h3": NkHeading3,
  },
  methods: {
    scrollModal(){
      const id = this.id+"_content";
      const modalContainer = document.getElementById(id);
      const currentScrollPos = modalContainer?.scrollTop;
      const btnToTop = document.getElementById(this.id+"btnToTopModal");
      const header = document.getElementById(this.id+"header");

      btnToTop?.classList.remove("to-top-hidden");


      if(currentScrollPos != null && currentScrollPos <= 5){
        btnToTop?.classList.add("to-top-hidden");
        header?.classList.remove("header-fade");
      }else {
        header?.classList.add("header-fade");
      }


    },
    topFunction() {
      const id = this.id+"_content";
      const modalContainer = document.getElementById(id);
      if(modalContainer){
        modalContainer.scrollTop = 0;
      }
    }
  }


})
</script>
<style scoped lang="scss">
.header-fade{
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.desktop-header{
  @include lg{
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.desktop-body{
  @include lg{
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.to-top-btn-holder{
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 9999 !important;
  @include lg{
    bottom: 16px;
  }

}
.to-top-btn{
  /* Orange */
  background: #FF4301;
  /* Dark components / Large */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  z-index: 9999 !important;
  outline: none !important;
  box-shadow: none !important;
}
.to-top-hidden{
  bottom: -46px;
}

.show-modal{
    display: block !important;
}
.modal-body{
  height: calc(100vh - 90px);
  overflow: auto;
}
.modal-header{
    border-bottom: 0;
}
.close{
    background: none;
    border: none;
    outline: none;
}
.modal-content {
    min-height: 100vh;
  border: none;
  border-radius: 0;
  background: transparent !important;

}
.modal {
  background: #fff !important;
  height: 100vh !important;
}

.modal-input {
  width: 270px;
  height: 60px;
  border: 2px solid #000000;
  border-radius: 11px;
}

.btn-modal {
  width: 270px;
  height: 60px;
  background: #000000;
  border-radius: 10px;

  .txt {
    width: 75px;
    height: 28px;
    font-family: 'Biennale';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}
.modal-backdrop{
  z-index: 0 !important;
}
.modal-bottom {
  width: 230px;
  height: 28px;
  font-family: 'Biennale';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.close {
  width: 32px;
  height: 32px;

  font-family: "la-solid-900";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.modal-small {
  height: 84px;
  font-family: 'Biennale';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}
</style>