<template >
<div class="overlay-bg pt-4" :id="id">
    <nk-container class=" px-md-2">
        <div :id="id+'header'" class="header-content d-flex justify-content-between ">
            <nk-h2 class="text-dark mb-0">{{ title }}</nk-h2>
            <router-link :to="from">
                <button
                    type="button"
                    class="close"
                >
                    <i class="icon icon-times"></i> 
                </button>
            </router-link>

        </div>
        <div class="mt-80" v-on:scroll.passive="scrollModal" :id="id+'_content'">
            <slot/>
        </div>
    </nk-container>
    <div :id="id+'btnToTopMContainer'" class="to-top-btn-holder to-top-hidden transition">
        <button @click="topFunction" class="btn to-top-btn p-0">
            <i class="icon icon-arrow-up p-2 text-white"></i>
        </button>
    </div>

</div>


</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import ContainerSmall from '@/components/atoms/ContainerSmall.vue';
import NkHeading2 from "../atoms/NkHeading2.vue";

export default defineComponent ({
  name: "NkModalContainer",
  props: {
    id: String,
    title: String,
    from: String,
  },
  components: {
    "nk-container": ContainerSmall,
    "nk-h2": NkHeading2,
  },
  methods: {
    scrollModal(){
      const id = this.id+"_content";
      const modalContainer = document.getElementById(id);
      const currentScrollPos = modalContainer?.scrollTop;
      const btnToTop = document.getElementById(this.id+"btnToTopMContainer");
      const header = document.getElementById(this.id+"header");

      btnToTop?.classList.remove("to-top-hidden");


      if(currentScrollPos != null && currentScrollPos <= 5){
        btnToTop?.classList.add("to-top-hidden");
        header?.classList.remove("header-fade");
      }else {
        header?.classList.add("header-fade");
      }


    },
    topFunction() {
      const id = this.id+"_content";
      const modalContainer = document.getElementById(id);
      if(modalContainer){
        modalContainer.scrollTop = 0;
      }
    }
  }


})
</script>
<style scoped lang="scss">
.header-content{
  position: fixed;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 24px;
  padding-right: 24px;
  background: #fff;
  z-index: 90;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.overlay-bg{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #fff;
}
.header-fade{
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.to-top-btn-holder{
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 9999 !important;
  @include lg{
    bottom: 16px;
  }

}
.to-top-btn{
  /* Orange */
  background: #FF4301;
  /* Dark components / Large */
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  z-index: 9999 !important;
  outline: none !important;
  box-shadow: none !important;
}
.to-top-hidden{
  bottom: -46px;
}
.close{
    background: none;
    border: none;
    outline: none;
}
.close {
  width: 32px;
  height: 32px;

  font-family: "la-solid-900";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}
</style>