<template >
  <div class="modal  px-0" v-bind:class="[open ? 'show' : '']" :id="id">
    <nk-container class="modal-dialog px-4 px-md-5">
      <div class="modal-content">
        <div class="modal-header px-24 pb-0 pt-24">
          <nk-h2 class="text-dark mb-0">{{ title }}</nk-h2>

          <button
            v-if="onClose != null || closeBtn"
            type="button"
            class="close"
            v-on:click="onClose"
            data-bs-dismiss="modal"
          >
           <i class="icon icon-times"></i> 
          </button>
        </div>
        <div class="modal-body ">
            <div class="px-24 my-24">
              <nk-p class="text-start text-dark">{{subTitle}}</nk-p>
            </div>
            <div  v-bind:class="[fullScreen ? '' : 'px-24 mt-24 mb-24']">
                <slot/>
            </div>
        </div>
      </div>
    </nk-container>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ContainerSmall from '@/components/atoms/ContainerSmall.vue';
import NkHeading2 from "../atoms/NkHeading2.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkParagraph from "../atoms/NkParagraph.vue";

@Options({
  props: {
    title: String,
    subTitle: String,
    id: String,
    open: Boolean,
    onClose: Function,
    closeBtn: Boolean,
    fullScreen: Boolean,
  },
  components: {
    "nk-container": ContainerSmall,
    "nk-h2": NkHeading2,
    "nk-p": NkParagraph,
  },
})
export default class NkPopup extends Vue {
  title!: string;
  id!: string;
  open!: boolean;
  closeBtn!: boolean;
  fullScreen!: boolean;
}
</script>
<style scoped lang="scss">

.show{
  display: block;
  z-index: 90000;
}
.modal-header{
    border-bottom: 0;
}
.close{
    background: none;
    border: none;
    outline: none;
}
.modal {
  z-index: 9000;
  height: 100vh !important;
      background: #0c000073;
      .modal-dialog{
        transform: translateY(-50%);
        .modal-content {
          border: none;
          margin-top: 50vh;
          transform: translateY(-50%);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
          border-radius: 10px;
        }

      }
}

.modal-input {
  width: 270px;
  height: 60px;
  border: 2px solid #000000;
  border-radius: 11px;
}

.btn-modal {
  width: 270px;
  height: 60px;
  background: #000000;
  border-radius: 10px;

  .txt {
    width: 75px;
    height: 28px;
    font-family: 'Biennale';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}

.modal-bottom {
  width: 230px;
  height: 28px;
  font-family: 'Biennale';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.close {
  width: 32px;
  height: 32px;

  font-family: "la-solid-900";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.modal-small {
  height: 84px;
  font-family: 'Biennale';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}
</style>