<template>
    <div  @input="updateValue($event.target.value)" class="btn-group transition my-24 d-block " v-bind:class="['nbtn-'+styling]" role="group" aria-label="Basic radio toggle button group">
        <template v-for="btn in btns" :key="btn.value">
            <input type="radio" class="btn-check" name="btnradio" :checked="btn.value == value" :id="formId+btn.value" :value="btn.value" autocomplete="off">
            <label v-bind:class="[round ? 'nbtn-round' : '', 'btn btn-outline-primary']" :for="formId+btn.value">
                <nk-h3 v-if="fontStyle === 'h3'">{{btn.title}}</nk-h3>
                <nk-h4 v-if="fontStyle === 'h4'">{{btn.title}}</nk-h4>
            </label>
        </template>
    </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkHeading4 from "../atoms/NkHeading4.vue";

export default defineComponent({
    name: "NkRadioButton",
    props: {
        btns: {type: Object},
        fontStyle: {type: String, default: "h3"},
        styling: {type: String},
        round: {type: Boolean},
        value: {type: Number},
        formId: {type: String},
    },
    components: {
        "nk-h3": NkHeading3,
        "nk-h4": NkHeading4,
    },
    emits: ["input"],
    methods: {
        updateValue: function (value: any) {
            console.log("emiting in btn radio");
            console.log(value);
            this.$emit("input", value);
        },
    },


})
</script>
<style scoped lang="scss">
    .btn{
        border-radius: 10px;
    }
    .nbtn-round{
        border-radius: 100px ;
    }

    .nbtn-light{
        box-shadow: 0px 2.5px 7px rgba(0, 0, 0, 0.02), 0px 3px 20px rgba(0, 0, 0, 0.08);
        border-radius: 100px ;

        .btn{
            padding: 7px 18.5px;
            background: transparent;
            width: initial;
            color: #000;
            &:hover{
                background: #DDDDDD;
            }
            outline: none !important;
            box-shadow: none !important;
        }
        .btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show{
            background: #FF4301;
            color: #fff;
        }
    }
    .nbtn-dark{
        .btn{
            padding: 16px 24px;
            background: transparent;
            width: initial;
            border: 2px solid #B3B3B3 !important;
            color: #000;
            &:hover{
                background: #DDDDDD;
            }
            outline: none !important;
            box-shadow: none !important;
        }
        .btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show{
            background: #FF4301;
            color: #fff;
            border: 2px solid #B3B3B3 !important;

        }
    }

</style>