<template>
    <div :class="'dica-card-holder dica-'+position">

  <div :class="'dica-holder holder-vertical-'+verticalPosition+'  p-16'">
    <slot/>
    <nk-button
        class="mt-16"
        styling="white"
        size="sm"
        :round="true"
        :position="'end'"
        @click="onClick"
    >
        <nk-h4>Entendi</nk-h4> <i class="icon icon-check-solid-1 ms-2"></i>
    </nk-button>
    <img :class="['vertical-'+verticalPosition, 'horizontal-'+horizontalPosition, 'arrow']" src="/img/help-arrow.png" >
  </div>
    </div>

</template>

<script>
import { defineComponent, ref } from "vue";
import NkButton from "../atoms/NkButton.vue";
import NkHeading4 from "../atoms/NkHeading4.vue";

export default defineComponent({
    name:'NkTip',
    components: {
        "nk-button": NkButton,
        "nk-h4": NkHeading4
    },
    props: {
        position: {
            type: String,
            default: "start"
        },
        verticalPosition: String,
        horizontalPosition: String,
        onClick: {
            type: Function
        }
    }
})
</script>

<style lang="scss" scoped>
.dica-card-holder{
    position: absolute;
    max-width: 246px;
    z-index: 9;
}
.dica-holder{
    background: #000000;
    z-index: 9;
    border-radius: 10px;
    filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.2));
}
.dica-center{
    right: 28%;
    
}
.dica-end{
    right: 24px;
}
.icon{
    font-size: 16px !important;
}
.arrow{
    position: absolute;
    transform: translateX(-50%);
}

.horizontal-center{
    filter: brightness(0);

    left: 50%;
}
.horizontal-start{
    filter: brightness(0);

    left: 58px;
}
.horizontal-end{
    filter: brightness(0);
    right: 58px;
}
.holder-vertical-down{
    transform: translateY(-120%) !important;

}
.vertical-down{
    filter: brightness(0);
    bottom: -14px;
}
.vertical-up{
    filter: brightness(0);
    top: -14px;
    transform: rotate(180deg) translateX(50%) ;

}
</style>