<template >
    <div class="notifications-holder">
      <div class="toast-position">
        <div
          class="mt-3 animate__animated animate__fadeInUp"
          v-for="(item, index) in appdata.notifications" 
          :key="'notifications-'+index" 
        >
          <nk-toast 
            :id="item.id"
            :type="item.type"
            :message="item.message">
          </nk-toast>
        </div>
      </div>
    </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore, MutationTypes, ActionTypes } from "../../store";
import NkToastVue from "./NkToast.vue";

export default defineComponent({
  setup() {
    const store = useStore();
    const appdata = ref(store.state);

    return {
      appdata,
    };
  },

  name: "NkToastNotifications",
  components: {
    "nk-toast": NkToastVue
  }
});
</script>
<style scoped lang="scss">
.notifications-holder{
  width: 100%;
      z-index: 0;

}
.notifications-holder{
  .toast-position{
      z-index: 9999999999;

    bottom: 130px;
    position: fixed;

  }
}
</style>