<template >
    <div v-bind:class="['nk-toast', 'nk-toast-'+type]" @click="deleteNotification(id)">
        <div class="d-flex justify-content-end">
            <nk-h4 class="text-white text-start w-100 me-24 mt-1">{{message}}</nk-h4>
            <i v-if="type=='warning'" class="icon icon-information text-white"></i>
            <i v-if="type=='danger'" class="icon icon-alert text-white"></i>
            <i v-if="type=='success'" class="icon icon-check-solid-1 text-white"></i>
        </div>
    </div>
</template>
<script lang="ts">
import notificationsService from "@/services/modules/notificationsService";
import { defineComponent, ref } from "vue";
import { useStore, MutationTypes, ActionTypes } from "../../store";
import NkHeading4 from "../atoms/NkHeading4.vue";

export default defineComponent({
  setup() {
    const store = useStore();
    const appdata = ref(store.state);

    return {
      appdata,
    };
  },
  name: "NkToast",
  components: {
      "nk-h4": NkHeading4
  },
  props:{
      message: String,
      type: String,
      id: {
        type: String,
        default: ""
      }
  },
  mounted() {
    setTimeout(()=>{ this.deleteNotification(this.id) }, 3000);
  },
  methods: {
    deleteNotification(id: string){
      notificationsService.remove(id);

    }
  }
});
</script>
<style scoped lang="scss">
.nk-toast{
    cursor: pointer;

    background: #000000;
    border-radius: 10px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    padding: 11px 16px;

    left: 50vw;
    transform: translateX(-50%);
    position: relative;
}
.nk-toast-danger{
    background: #FF4301;
}
</style>