<template>
    <div v-bind:class="[selected?'selected':'', 'p-16', 'user-card', 'position-relative']">
        <nk-user-info 
            :onClick="onClick" 
            :picture="picture" 
            :date_publish="date_publish" 
            :username="username" 
            :notification="notification"
            :city="city"
            :group="group"
            :styling="styling"
            :points="points"
            :state="state"
        ></nk-user-info>
        <i v-if="selected" class="close-icon icon text-gray2 icon-times-solid-1"></i>
        <i v-if="goToIcon" class="goto-icon icon text-gray2 icon-chevron-right"></i>

    </div>
</template>

<script>
import { defineComponent } from "vue";
import NkHeading4 from "../atoms/NkHeading4.vue";
import NkHeading5 from "../atoms/NkHeading5.vue";
import NkUserInfoVue from "./NkUserInfo.vue";

export default defineComponent({
    name: "NkUserCard",
    components: {
        "nk-user-info": NkUserInfoVue
    },
    props: {
        /* eslint-disable */
        picture: String,
        date_publish: String,
        notification: String,
        username: String,
        city: String,
        state: String,
        group: String,
        styling: String,
        points: Number,
        onClick: Function,
        selected: Boolean,
        goToIcon: Boolean,
        /* eslint-enable */
    },

})
</script>
<style lang="scss" scoped>
.close-icon{
    position: absolute;
    top: 16px;
    right: 16px;
}
.goto-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}

    .user-card{
        background: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
    }
    .selected{
        background: #F2F2F2;
        box-shadow: none;

    }
</style>