<template>
        <div @click="onClick" class="d-flex c-pointer">
    <!-- <router-link style="text-decoration: none;" to="/colaborator"> -->
            <img class="header-img" :src="picture" alt="">
            <div class="notification-holder text-start position-relative">
                <nk-h5 v-if="date_publish" class="text-gray1 mb-1">{{date_publish}}</nk-h5>
                <nk-h4 v-if="!styling || styling === 'orange'" class="text-orange mb-1">{{username}}</nk-h4>
                <nk-h4 v-if="styling && styling === 'dark'" class="text-dark mb-1">{{username}}</nk-h4>
                <nk-p v-if="styling && styling === 'title'" class="text-dark mb-1">{{username}}</nk-p>
                <nk-h4 v-if="styling && styling === 'liked'" class="text-orange mb-1">{{username}} <span class="text-gray1">curtiu <i class="icon text-gray2 icon-thumbs-up-1 icon-sm"></i></span></nk-h4>
                <nk-h4 class="text-gray1">{{notification}}</nk-h4>
                <div v-if="city && state" class="d-flex mb-1">
                    <nk-h5 class="text-gray1">{{city}}</nk-h5>
                    <span style="top: 9px" class="vertical-divider-category d-inline-block"></span>
                    <nk-h5 class="text-gray1">{{state}}</nk-h5>
                    <span v-if="points" style="top: 9px" class="vertical-divider-category d-inline-block"></span>
                    <nk-h5 v-if="points" class="text-orange"><i class="icon icon-medal icon-sm" aria-hidden="true"></i> {{points}}</nk-h5>
                </div>
                <nk-h5 class="text-gray1 mb-1">{{group}}</nk-h5>
            </div>
    <!-- </router-link> -->
        </div>
</template>

<script>
import { defineComponent } from "vue";
import NkHeading4 from "../atoms/NkHeading4.vue";
import NkHeading5 from "../atoms/NkHeading5.vue";
import NkParagraph from "../atoms/NkParagraph.vue";

export default defineComponent({
    name: "NkUserInfo",
    components: {
        "nk-h4": NkHeading4,
        "nk-h5": NkHeading5,
        "nk-p": NkParagraph,
    },
    props: {
        /* eslint-disable */
        picture: String,
        date_publish: String,
        notification: String,
        username: String,
        city: String,
        state: String,
        group: String,
        styling: String,
        points: Number,
        onClick: Function,
        /* eslint-enable */
    },

    
})
</script>
<style lang="scss" scoped>
.icon-sm{
  font-size: 16px !important;
  position: relative !important;
  top: 2px !important;
}

    .header-img{
        width: 42px !important;
        height: 42px !important;
        border-radius: 42px;
        object-fit: cover;
        margin-right: 16px;
    }
    .vertical-divider-category {
        width: 16px;
        height: 0px;
        border: 1px solid #f2f2f2;
        transform: rotate(90deg);
        top: -5px;
        position: relative;
    }

</style>