<template >
  <div class="modal px-0" :id="id" tabindex="-1" v-bind:class="[open ? 'show-modal' : '']">
    <nk-container class="modal-dialog px-0 px-md-2">
      <div class="modal-content">
        <div class="modal-header px-24">
          <nk-h2 class="text-dark">{{ title }}</nk-h2>
          <button
            type="button"
            class="close text-white"
            data-bs-dismiss="modal"
            aria-label="Close"
            v-if="!blockClose"
            v-on:click="onClose"

          >
           <i class="icon icon-times"></i> 
          </button>
        </div>
        <div class="modal-body ">
            <div class="px-24 mt-24">
                <nk-h3>{{subTitle}}</nk-h3>
                <iframe v-if="open" width="100%" height="500px" :src="urlFixed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <slot/>
            </div>
        </div>
      </div>
    </nk-container>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import ContainerSmall from '@/components/atoms/ContainerSmall.vue';
import NkHeading2 from "../atoms/NkHeading2.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";

export default defineComponent({
  name: "NkVideoModal",
  props:{
    title: String,
    subTitle: String,
    id: String,
    open: Boolean,
    onClose: Function,
    blockClose: Boolean,
    video: Object,
  },
  components: {
    "nk-container": ContainerSmall,
    "nk-h2": NkHeading2,
    "nk-h3": NkHeading3,
  },
  data() {
    return {
      urlFixed: "",
    };
  },
  mounted() {
    if(this.video?.url.includes("watch")){
        const arrayOfStrings = this.video?.url.split("watch?v=");
        const urlCode = arrayOfStrings[1].split("&")[0];
        this.urlFixed = `https://www.youtube.com/embed/${urlCode}?autoplay=1`
    }else { 
        const arrayOfStrings = this.video?.url.split("be/");
        const urlCode = arrayOfStrings[1];
        this.urlFixed = `https://www.youtube.com/embed/${urlCode}?autoplay=1`
    }


  },

})
</script>
<style scoped lang="scss">
.show-modal{
    display: block !important;
}
.modal-body{
  height: calc(100vh - 70px);
  overflow: auto;
}
.modal-header{
    border-bottom: 0;
}
.close{
    background: none;
    border: none;
    outline: none;
}
.modal-content {
    min-height: 100vh;
  border: none;
  border-radius: 0;
      background-color: transparent !important;
}
.modal {
  background: #000000bc !important;
  height: 100vh !important;
}

.modal-input {
  width: 270px;
  height: 60px;
  border: 2px solid #000000;
  border-radius: 11px;
}

.btn-modal {
  width: 270px;
  height: 60px;
  background: #000000;
  border-radius: 10px;

  .txt {
    width: 75px;
    height: 28px;
    font-family: 'Biennale';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}

.modal-bottom {
  width: 230px;
  height: 28px;
  font-family: 'Biennale';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.close {
  width: 32px;
  height: 32px;

  font-family: "la-solid-900";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.modal-small {
  height: 84px;
  font-family: 'Biennale';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
}
</style>