body{
    color: #000000;
}
.smooth-scroll{
    scroll-behavior: smooth;
}
.modal-dialog{
    margin: 0;
    border: none;
    border-radius: 0;
    margin-left:auto ;
    margin-right:auto ;
}

.modal-body{
    padding: 0;
}

.form-control{
    display: inline;
}

p{
    margin-bottom: 0;
}

.list-group-item{
    padding: 0;
    border: none;
}

.search-box{
    border: 2px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 10px;
}

.badge{
    color: #000000;
    padding: 0;
}

.card-body{
    padding: 0;
}

.btn-outline-primary{
    outline: none !important;
    border-color: transparent !important;

}

.btn-check:checked + .btn-outline-primary{
    outline: none !important;
    border-color: transparent !important;
    background-color: #FF4301 !important;
}

.card-img-overlay{
    top: auto;
}

.card{
    border:hidden;
    border-radius: 10px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    .img {
        display: inline-block;
    }
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.feed-page {
    @include lg {
        margin-top: 90px;
    }
}

.top-buttons {
    display: flex;
    justify-content: center;

    @include lg {
        justify-content: space-between;
    }
}


.text-area{
    border: 2px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 10px;
}

/* .footer{
    margin-bottom: 64px;
} */


.ekin-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;

    // position: static;
    width: 114px;
    height: 54px;
    // left: 0px;
    // top: 0px;


    border: 2px solid #B3B3B3;
    border-radius: 10px 0px 0px 10px;


    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
}

.vm-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;

    // position: static;
    width: 114px;
    height: 54px;
    // left: 114px;
    // top: 0px;

    /* Grey 2 */

    border: 2px solid #B3B3B3;
    border-radius: 0px 10px 10px 0px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;
}

.a-decoration{
    text-decoration: none;
    color: #000000;
}



.mini-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 8px;
    bottom: 0px;
    right: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2.5px 7px rgba(0, 0, 0, 0.02), 0px 3px 20px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

// .profile{
//     display: inline-block;
//     position: relative;
//     transform: translateX(-50%);
//     left: 50%;

// }

.profile-modal{
    display: inline-block;
    position: relative;
    /* transform: translateX(-50%);
    left: 50%; */

}


.profile-title{
    // width: 363px;
    height: 16px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #B3B3B3;


    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.profile-content{
    width: 363px;
    height: 24px;
    // left: calc(50% - 363px/2);
    // top: 16px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;


    color: #000000;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.bg-dark{
    background-color: #000000;
}

.form-check{
    padding-left: 0;
    margin-right: 0;
}

//404 Start

//404 End

  //style-end

.text-dark{
    color: #000 !important;
}
.text-danger{
    color: #FF4301 !important;
}
.dropdown-item{
    color: #000;

}
.icon{
    font-size: 24px !important;
}

.modal-backdrop{
    z-index: 0 !important;
}

.form-check-input:checked {
    background-color: #FF4301;
    border-color: #FF4301;
    box-shadow: none !important;
    outline: none im !important;
}
body{
    p{
        font-family: 'Helvetica Neue';
    }
    h1{
        font-family: 'Nike Futura ND';
    }
    h2{
        font-family: 'Helvetica Neue';
    }
    h3{
        font-family: 'Helvetica Neue';
    }
    h4{
        font-family: 'Helvetica Neue';
    }
    h5{
        font-family: 'Helvetica Neue';
    }
}

:root{
    --vdp-hover-bg-color: #000000;
    --vdp-selected-bg-color: #000000;

}
.datepick{

    .full{
        position: absolute;
        top: 45%;
        left: 16px;
        font-family: 'Helvetica Neue';
        color: #7d7d7d;
        font-size: 20px;
        font-weight: 700;
    }
    .small{
        position: absolute;
        top: 30px;
        left: 16px;
        font-family: 'Helvetica Neue';
        color: #7d7d7d;
        font-size: 15px;
        font-weight: normal;
    }
    .calendar-icon::-webkit-calendar-picker-indicator{
      opacity:0;//removes awful triangle indicator
    }
    
    .calendar-icon::after{
      z-index:-1;//this unblock the click
      font-family: "Nike";
      content: "\ea77";//your image or whateaver
      display: block;
      font-size:24px;
      color:#000;
      //background: url('') no-repeat;
      //background-size: 10%;
      width: 50px;
      height: 50px;
      position: absolute;
      top:28px;
      right:-13px;
    
    }
    .icon{
      position: absolute;
      top: 50%;
      /* transform: translateY(-0%); */
      right: 15px;
      z-index: 90;
    }
    label {
      display: block;
      text-align: left;
      position: relative;
    }
    input {
      width: 100%;
      background-color: transparent;
      border-radius: 10px;
      border: 2px solid #b3b3b3;
      padding: 24px 16px 8px;
    
      font-family: 'Helvetica Neue';
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
    
      /* Black */
    
      color: #000000;
      + span {
        z-index: -1;
        position: absolute;
        top: 10px;
        left: 16px;
        font-family: 'Helvetica Neue';
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #7d7d7d;
        transition: all 200ms ease-out;
      }
    
      &:not(:focus):placeholder-shown {
        &::-webkit-input-placeholder {
          color: transparent;
        }
    
        + span {
          line-height: 24px;
          top: 18px;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
    input:focus {
      color: #000000;
      box-shadow: none !important;
      border: 2px solid #000 !important;
      outline: none;
      + span {
        color: #000000;
      }
    }
    input:focus ~ {
      box-shadow: none !important;
      outline: none;
    }
    input:disabled {
      background: #F2F2F2;
      border: 2px solid #B3B3B3;
        color: #B3B3B3;
      + span{
        color: #B3B3B3;
        z-index: 1;
      }
    }
    input.invalid {
      border: 2px solid #FF4301;
        color: #FF4301;
      + span{
        color: #FF4301;
      }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-animation: autofill 0s forwards;
        animation: autofill 0s forwards;
    }
    
    @keyframes autofill {
        100% {
            background: transparent;
            color: inherit;
        }
    }
    
    @-webkit-keyframes autofill {
        100% {
            background: transparent;
            color: inherit;
        }
    }

    }
    
    
