@font-face {
    font-family: 'Biennale';
    src: url("/fonts/Biennale/Biennale\ Hair.ttf") format('truetype');
    font-weight: normal;
    font-style: 100;
}
@font-face {
    font-family: 'Biennale';
    src: url("/fonts/Biennale/Biennale\ Thin.ttf") format('truetype');
    font-weight: normal;
    font-style: 200;
}
@font-face {
    font-family: 'Biennale';
    src: url("/fonts/Biennale/Biennale\ Ultra\ Light.ttf") format('truetype');
    font-weight: normal;
    font-style: 300;
}
@font-face {
    font-family: 'Biennale';
    src: url("/fonts/Biennale/Biennale\ Light.ttf") format('truetype');
    font-weight: normal;
    font-style: 400;
}
@font-face {
    font-family: 'Biennale';
    src: url("/fonts/Biennale/Biennale\ Book.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Biennale';
    src: url("/fonts/Biennale/Biennale\ Regular.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Biennale';
    src: url("/fonts/Biennale/Biennale\ Medium.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Biennale';
    src: url("/fonts/Biennale/Biennale\ SemiBold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Biennale';
    src: url("/fonts/Biennale/Biennale\ Bold.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Biennale'; 
    src: url("/fonts/Biennale/Biennale_Black.ttf") format('truetype');
    font-weight: 1000;
    font-style: normal;
}

/* //********************************* ********* ********************************* */
/* //********************************* Helvetica ********************************* */
/* //********************************* ********* ********************************* */

@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/helvetica_neue/HelveticaNeue-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/helvetica_neue/HelveticaNeue-Roman.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/helvetica_neue/HelveticaNeue-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/helvetica_neue/HelveticaNeue-Bold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/helvetica_neue/HelveticaNeue-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/helvetica_neue/HelveticaNeue-Heavy.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/helvetica_neue/HelveticaNeue-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url("/fonts/helvetica_neue/HelveticaNeue-Black.ttf") format('truetype');
    font-weight: 1000;
    font-style: normal;
}

/* //********************************* ********* ********************************* */
/* //*********************************   futura  ********************************* */
/* //********************************* ********* ********************************* */

/* @font-face {
    font-family: 'Nike Futura ND';
    src: url("/fonts/futura/FuturaNDCnLightSCOsF.ttf") format('truetype');
    font-weight: normal;
    font-style: 400;
}
@font-face {
    font-family: 'Nike Futura ND';
    src: url("/fonts/futura/FuturaNDCnSCOsF-Medium.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Nike Futura ND';
    src: url("/fonts/futura/FuturaNDCnSCOsF-Bold.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Nike Futura ND';
    src: url("/fonts/futura/FuturaNDCnExtrabold.ttf") format('truetype');
    font-weight: 1000;
    font-style: normal;
} */
@font-face {
    font-family: 'Nike Futura ND';
    src: url("/fonts/futura/NIKE_FUTURA_CN-XB.ttf") format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Nike Futura ND2';
    src: url("/fonts/futura/FuturaNDCnExtrabold.ttf") format('truetype');
    font-style: normal;
}
