.text-link{
    cursor: pointer;
}
.text-white{
    color: #fff;
}
.text-dark{
    color: #000000;
}
.text-gray1{
    color: #7D7D7D;
}
.text-gray2{
    color: #B3B3B3;
}
.text-gray3{
    color: #DDDDDD;
}
.text-gray4{
    color: #F2F2F2;
}
.text-orange{
    color: #FF4301;
}
.bg-gray1{
    background-color: #7D7D7D;
}
.bg-gray2{
    background-color: #B3B3B3;
}
.bg-gray3{
    background-color: #DDDDDD;
}
.bg-gray4{
    background-color: #F2F2F2;
}
.bg-orange{
    background-color: #FF4301;
}

.font-weight-100{
    font-weight: 100 !important;
}
.font-weight-200{
    font-weight: 200 !important;
}
.font-weight-300{
    font-weight: 300 !important;
}
.font-weight-400{
    font-weight: 400 !important;
}
.font-weight-500{
    font-weight: 500 !important;
}
.font-weight-600{
    font-weight: 600 !important;
}
.font-weight-700{
    font-weight: 700 !important;
}
.font-weight-800{
    font-weight: 800 !important;
}
.font-weight-900{
    font-weight: 900 !important;
}