<template>
  <div class="card text-white card-feed">
    <nk-feed-item
      v-for="(item, index) in featured" 
      :key="item.slug + '' + index"
      :featured="true"
      :post="item"
    />
  </div>
  <nk-feed-item
    v-for="(item, index) in posts" 
    :hasTip="index == 0"
    :key="item.slug + '' + index"
    :post="item"
  />
</template>

<script lang="ts">

import { Options, Vue } from 'vue-class-component';
import NkFeedItem from '../organisms/NkFeedItem.vue'

@Options({
  props: {
    image: String,
    title: String,
    featured: [],
    posts: [],
  },
  components: {
    "nk-feed-item": NkFeedItem
  }
})

export default class NkFeed extends Vue {
  image!: string;
  title!: string;
  featured!: string;
}

</script>

<style scoped>

.card-feed{
  width: 100%;
}

</style>