<template>
  <form
    :id="'feedPostForm'"
    class="text-start mb-3"
    @submit.prevent="
      () => {
        validade();
      }
    "
  >
    <nk-textarea
      label="O que você q uer postar hoje?"
      id="text"
      name="text"
      placeholder=" "
      rows="6"
      :value="form.text"
      @input="(e) => (form.text = e)"
    />
    <div class="position-relative">
      <ul
        id="hashtagList"
        class="list-group list-group-horizontal scrolling-wrapper d-flex py-3"
      >
        <li class="list-group-item ml-0 cursor-pointer me-2" v-for="hashtag in hashtags" :key="hashtag">
          <nk-button
            class="d-flex align-items-center justify-content-center"
            styling="dark"
            :round="true"
            size="sm"
            :position="'end'"
            @click="() => {}"
          >
            <nk-h4>{{hashtag}}</nk-h4>
          </nk-button>
        </li>
      </ul>
      <div
        id="hashtagRightHolder"
        v-if="currentScroll < maxScroll"
        class="side-button-holder f-width-50 mt-1"
      >
        <button
          @click="scrollHashtagRight()"
          class="btn btn-next-category transition d-none d-md-inline-block"
        >
          <i class="icon icon-angle-right-solid p-1 transition"></i>
        </button>
      </div>
      <div
        id="hashtagLeftHolder"
        v-if="currentScroll != 0"
        :class="['side-button-holder-left', 'f-width-50', 'mt-1']"
      >
        <button
          @click="scrollHashtagLeft()"
          class="btn btn-next-category transition d-none d-md-inline-block"
        >
          <i class="icon icon-angle-right-solid p-1 transition"></i>
        </button>
      </div>
    </div>

    <nk-h4 class="text-center text-gray1 mb-3">Adicionar foto ou vídeo:</nk-h4>
    <div class="row mb-32">
      <div class="col-6">
        <nk-button
          class="d-flex align-items-center justify-content-center"
          styling="white"
          :round="true"
          size="sm"
          :position="'end'"
          @click="() => {}"
        >
          <nk-h4>Galeria</nk-h4><i class="icon icon-image-plus mt-0 ms-2"></i>
        </nk-button>
      </div>
      <div class="col-6">
        <nk-button
          class="d-flex align-items-center justify-content-center"
          styling="white"
          :round="true"
          size="sm"
          :position="'start'"
          @click="() => {}"
        >
          <nk-h4>Câmera</nk-h4><i class="icon icon-camera-plus mt-0 ms-2"></i>
        </nk-button>
      </div>
    </div>
    <nk-button
      :disabled="form.text == ''"
      :round="true"
      :styling="'dark'"
      class="mt-2"
      type="submit"
      ><nk-h3 class="font-weight-700">Publicar</nk-h3
      ><i class="icon icon-send mt-0 ms-2"></i>
    </nk-button>
  </form>
</template>

<script lang="ts">
import notificationsService from "@/services/modules/notificationsService";
import { defineComponent } from "vue";
import NkButton from "../atoms/NkButton.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkHeading4 from "../atoms/NkHeading4.vue";
import NkTextarea from "../atoms/NkTextarea.vue";

export default defineComponent({
  name: "NkFeedPostForm",
  components: {
    "nk-textarea": NkTextarea,
    "nk-h3": NkHeading3,
    "nk-h4": NkHeading4,
    "nk-button": NkButton,
  },
  props: {
    hashtags: { type: Array},
    submit: { type: Function, default: () => 1 },
  },
  data() {
    return {
      maxScroll: 1,
      currentScroll: 0,
      form: {
        content: null,
      },
      formValidade: {
        content: false,
      },
      /* eslint-enable */
    };
  },
  mounted() {
    const catList = document.getElementById("hashtagList");
    if (catList != null) {
      this.maxScroll = catList.scrollWidth - catList.clientWidth;
    }
  },
  methods: {
    validade() {
      console.log("validade being called");
      /* eslint-disable */
      this.formValidade.content =
        this.form.content === "" || this.form.content === null;

      if (this.formValidade.content) {
        notificationsService.add({
          type: "danger",
          message: "preencha todos os dados necessarios",
        });
        return;
      }

      this.submit(this.form);
      /* eslint-enable */
    },
    clamp(number: number, min: number, max: number) {
      return Math.max(min, Math.min(number, max));
    },

    scrollHashtagRight() {
      const catList = document.getElementById("hashtagList");

      if (catList != null) {
        this.maxScroll = catList.scrollWidth - catList.clientWidth;
        this.currentScroll += catList.scrollWidth - 50;
        catList.scrollLeft += catList.scrollWidth - 50;
        this.currentScroll = this.clamp(this.currentScroll, 0, this.maxScroll);
      }
    },
    scrollHashtagLeft() {
      const catList = document.getElementById("hashtagList");
      if (catList != null) {
        this.maxScroll = catList.scrollWidth - catList.clientWidth;
        this.currentScroll -= catList.scrollWidth - 50;
        catList.scrollLeft -= catList.scrollWidth - 50;
        this.currentScroll = this.clamp(this.currentScroll, 0, this.maxScroll);
      }
    },
  },
});
</script>
<style scoped lang="scss">
#hashtagList{
  scroll-behavior: smooth;
}
.side-button-holder{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0086472) 6.67%, rgba(255, 255, 255, 0.03551) 13.33%, rgba(255, 255, 255, 0.0816599) 20%, rgba(255, 255, 255, 0.147411) 26.67%, rgba(255, 255, 255, 0.231775) 33.33%, rgba(255, 255, 255, 0.331884) 40%, rgba(255, 255, 255, 0.442691) 46.67%, rgba(255, 255, 255, 0.557309) 53.33%, rgba(255, 255, 255, 0.668116) 60%, rgba(255, 255, 255, 0.768225) 66.67%, rgba(255, 255, 255, 0.852589) 73.33%, rgba(255, 255, 255, 0.91834) 80%, rgba(255, 255, 255, 0.96449) 86.67%, rgba(255, 255, 255, 0.991353) 93.33%, #FFFFFF 100%);
    button{
      padding: 0;
      top: 40%;
      position: relative;
      background: #fff;
      border-radius: 32px;
      transform: translateY(-50%);
      *{
        color: #000000;
      }
      box-shadow: 0px 2.5px 7px rgba(0, 0, 0, 0.02), 0px 3px 20px rgba(0, 0, 0, 0.08);
    }
    button:hover{
      *{
        color: #7D7D7D;
      }
      background: #F2F2F2;

    }
}
.side-button-holder-left{
  transform: rotate(180deg);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0086472) 6.67%, rgba(255, 255, 255, 0.03551) 13.33%, rgba(255, 255, 255, 0.0816599) 20%, rgba(255, 255, 255, 0.147411) 26.67%, rgba(255, 255, 255, 0.231775) 33.33%, rgba(255, 255, 255, 0.331884) 40%, rgba(255, 255, 255, 0.442691) 46.67%, rgba(255, 255, 255, 0.557309) 53.33%, rgba(255, 255, 255, 0.668116) 60%, rgba(255, 255, 255, 0.768225) 66.67%, rgba(255, 255, 255, 0.852589) 73.33%, rgba(255, 255, 255, 0.91834) 80%, rgba(255, 255, 255, 0.96449) 86.67%, rgba(255, 255, 255, 0.991353) 93.33%, #FFFFFF 100%);
    button{
      padding: 0;
      top: 60%;
      position: relative;
      background: #fff;
      border-radius: 32px;
      transform: translateY(-50%);
      *{
        color: #000000;
      }
      box-shadow: 0px 2.5px 7px rgba(0, 0, 0, 0.02), 0px 3px 20px rgba(0, 0, 0, 0.08);
    }
    button:hover{
      *{
        color: #7D7D7D;
      }
      background: #F2F2F2;

    }
}

</style>