<template>
<div :id="post.slug">
  <nk-card-featured 
    v-if="featured && !directPostLink"
    :id="post.id" 
    :img="post.img" 
    :title="post.title" 
    :slug="post.slug" 
    :onClick="showPost" >
  </nk-card-featured>

  <nk-card-post 
    v-if="!featured && !directPostLink"
    :hasTip="hasTip"
    :post="post" 
    :liked="likes.liked"
    :likesQtd="likes.qtd"
    :hasComment="hasComment"
    :commentsQtd="commentsQtd"
    :favorited="favorited"
    :stars="stars"
    :favPost="favPost"
    :starPost="starPost"
    :likePost="likePost"
    :sharePost="(thePost)=>{postBeingShare = thePost}"
    :showVideo="()=>showingVideo = true"
    :showPostComments="showPostComments"
    :showPost="showPost" >
  </nk-card-post>
</div>

  <nk-popup
    :id="'share'+post.slug"
    title="Enviar"
    subTitle="Por qual aplicativo você deseja enviar a postagem?"
    :onClose="() => {}"
  >
    <nk-a
      target="_blank"
      :href="
        `whatsapp://send?text=Olha%20essa%20notícia,%20que%20legal!%20${currentPath()}/post/${postBeingShare?.slug}`"
      class="mb-32"
      @click="sharePost(postBeingShare.id)"
      :round="true"
      :styling="'whatsapp'"
      ><nk-h3 class="font-weight-700">WhatsApp</nk-h3>
      <i class="icon ms-2 icon-whatsapp"></i
    ></nk-a>
    <nk-a
      target="_blank"
      :href="
        `https://t.me/share/url?url=${currentPath()}/post/${postBeingShare?.slug}` +
        '&text=Olha%20essa%20notícia,%20que%20legal!'
      "
      @click="sharePost(postBeingShare.id)"
      class="mb-32"
      :round="true"
      :styling="'telegran'"
      ><nk-h3 class="font-weight-700">Telegram</nk-h3>
      <i class="icon ms-2 icon-telegram"></i
    ></nk-a>
    <nk-a
      :href="
        `mailto:?subject=Olha essa notícia, que legal!&amp;body=Da uma olhada nesse post! ${currentPath()}/post/${postBeingShare?.slug}`"
      @click="sharePost(postBeingShare.id)"
      class="mb-32"
      :round="true"
      :styling="'dark'"
      ><nk-h3 class="font-weight-700">Email</nk-h3>
      <i class="icon ms-2 icon-email"></i
    ></nk-a>
  </nk-popup>

</template>

<script lang="ts">

import { defineComponent, ref } from "vue";
import NkModal from "../molecules/NkModal.vue";
import NkPopup from "../molecules/NkPopup.vue";
import { useStore } from "../../store";
import postsService from "@/services/modules/postsService";
/* import dayjs  from 'dayjs' */
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkA from "../atoms/NkA.vue";
import NkCardFeaturedVue from "../molecules/NkCardFeatured.vue";
import NkCardPostVue from "../molecules/NkCardPost.vue";
import notificationsService from "@/services/modules/notificationsService";
import router from "@/router";

export default defineComponent({
  setup() {
    const store = useStore();
    const appdata = ref(store.state);

    return {
      appdata,
    };
  },

  props: {
    hasTip: null,
    directPostLink:{
      type: Boolean,
      default: false
    },
    featured: {
      type: Boolean,
      default: false
    },
    post: {
      type: Object,
      default: null
    },
  },
  components: {
    "nk-popup": NkPopup,
    "nk-card-featured": NkCardFeaturedVue,
    "nk-card-post": NkCardPostVue,
    "nk-h3": NkHeading3,
    "nk-a": NkA,

  },
  data() {
    return {
      showingVideo: false,
      postBeingShare: null,
      likes:{
        liked: false,
        qtd: 0
      },
      favorited: false,
      comments: [],
      hasComment: false,
      commentsQtd: 0,
      stars: 0,
      successModalOpen: false,
      form: {
        thread: null,
        text: ""
      },
      selectedPost: {}
    };
  },
  async mounted() {
    this.likes.liked = this.post?.user_like;
    this.likes.qtd = this.post?.likes;
    this.favorited = this.post?.user_favorite;
    this.hasComment = this.post?.user_comment;
    this.commentsQtd = this.post?.comments;
    this.stars = +this.post?.user_star;
    if(this.directPostLink){
      const pElement = document.getElementById(`directPostLink_${this.post?.slug}`);
      pElement?.click();

      console.log("end of reference logic");
      console.log(this.post);
      console.log(`directPostLink_${this.post?.slug}`)
      console.log(pElement)

    }
  },
  methods: {
    currentPath(){
      const local = window.location.href.split('/inicio');
      return local[0]
    },
    async showPost(slug: string){
      router.push({path: `/post/${slug}`});
    },
    async showPostComments(slug: string){
      router.push({path: `/post/${slug}`});
    },
    /* LIKE METHODS */
    async likePost(postId: any, hasLiked: boolean) {
      if(!hasLiked)
        await postsService.likePost(postId);
      else
        await postsService.dislikePost(postId);

      this.setLikes(postId);
    },
    async setLikes(postId: any){
      const likes = await postsService.getLikes(postId);
      this.likes.liked = this.userHasAct(likes, this.appdata.user);
      this.likes.qtd = likes.length;
    },

    /* FAV METHODS */
    async favPost(postId: any, hasFav: boolean) {
      if(!hasFav)
        await postsService.favPost(postId);
      else
        await postsService.unfavPost(postId);

      this.setFavs(postId)
    },
    async setFavs(postId: any){
      const favs = await postsService.getFavs(postId);
      this.favorited = this.userHasAct(favs, this.appdata.user);
    },

    /* STAR METHODS */
    async starPost(postId: any, star: number) {
      await postsService.starsPost(postId, star);
      this.setStars(postId)
    },
    async setStars(postId: any){
      const stars = await postsService.getStars(postId);
      this.stars = this.getStars(stars, this.appdata.user);
    },
    getStars(stars: any, user: any): number{
      let starsQtd = 0;
      stars.forEach(function (e: any) {
        if(e.pivot.user_id == user.id){
          starsQtd = +e.pivot.stars;
        }
      });
      return starsQtd;
    },

    /* SHARE METHODS */
    sharePost(postId: any) {
      postsService.sharePost(postId);
    },


    /* *************** */
    /* Utils functions for quantity */
    userHasAct(likes: any, user: any): boolean{
      
      let hasLiked = false;
      likes.forEach(function (e: any) {
        if(e.pivot.user_id == user.id){
          hasLiked = true;
        }
      });
      return hasLiked;
    },

    /* POST UTIL METHODS */
    formattedDate(date: Date){
      return date;
      /* return dayjs(date).format("DD/MM/YYYY"); */
    },
    formattedCommentDate(date: string){
      /* return dayjs(date).format("DD/MM/YYYY"); */
      const splittedDate = date.split(" ");
      const splittedTime = splittedDate[1].split(":");
      const formattedDate = splittedDate[0] + " " + splittedTime[0] + "h " + splittedTime[1];
      return formattedDate;
    },
  },

})


</script>

<style lang="scss" scoped>
.play-icon{
  width: 89px;
  height: 93px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btn-feed {
  box-shadow: none !important;
}
.galerry-img-zoom {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  top: 40vh;
  transform: translateY(-50%);
  position: relative;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));
}
.galerry-img {
  width: 174px;
  height: 174px;
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));
  cursor: pointer;
}
.post-content {
  p {
    text-align: left !important;
  }
}
.card-img-top {
  object-fit: cover;
  height: 400px;
}
.post-card,
.post-card .card {
  background-color: #fff;
  border-radius: 10px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
}

.post-card-title {
  margin: 20px 24px 16px 24px;
  font-family: "Helvetica Neue";
  font-size: 26px;
  line-height: 31px;
  color: #000;
}

.txt-top-card {
  /* font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 13px; */
  color: #7d7d7d;
  margin-bottom: 0;
}
.vertical-divider {
  width: 0px;
  height: 24px;
  border: 1px solid #f2f2f2;
  margin-left: 8px;
  margin-right: 8px;
}
.vertical-divider-category {
  width: 16px;
  height: 0px;
  border: 1px solid #f2f2f2;
  transform: rotate(90deg);
  top: -5px;
  position: relative;
}

.btn-feed{
  box-shadow: none !important;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-feed-card {
  box-shadow: none;
  border: 0;
  background-color: transparent;
  transform: translateY(-25%);
}

.dropdown-menu {
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 2.5px 7px rgba(0, 0, 0, 0.08);
  border: none;
}

.dropdown-item {
  margin-bottom: 25px;
  padding-left: 0;
  padding-right: 0;

  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.dropdown-item:nth-child(2) {
  margin-bottom: 0;
}


.galerry-img-zoom{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  top: 40vh;
  transform: translateY(-50%);
  position: relative;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));

}
.galerry-img{
  width: 174px;
  height: 174px;
  object-fit: cover;
  border-radius: 10px;
  filter: drop-shadow(0px 2.5px 7px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.08));
  cursor: pointer;

}

.post-content{
  *{
    color: #000000 !important;

  }

  p{
    text-align: left !important;
    margin-bottom: 10px !important;
  }
}
.post-buttons {
  font-family: "Helvetica Neue";
  font-size: 1.2rem;

  button {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 16px;
    width: 77px;
    height: 40px;

    i {
      font-size: 20px;
    }

    .badge {
      display: flex !important;
      align-items: center;
      justify-content: center;
      line-height: 18px;
      font-size: 1rem;
      color: inherit !important;
    }
  }

  button:nth-child(3) {
    width: 40px;
    height: 40px;
  }

}
.rating {
  position: relative;
  display: flex;
  justify-content: center;
  transform: rotateY(180deg);

  input {
    display: none;
  }
  label {
    display: block;
    cursor: pointer;
    margin-right: 28px;
  }
  label:last-child {
    margin-right: 0;
  }
  label::before {
    content: "\ea29";
    font-family: "Nike";
    position: relative;
    display: block;
    font-size: 25px;
    color: #b3b3b3;
  }
  label::after {
    content: "\ea29";
    font-family: "Nike";
    position: absolute;
    top: 0;
    display: block;
    color: #ff4301;
    opacity: 0;
    transition: 0.5s;
    font-size: 25px;
  }
  label:hover::after,
  label:hover ~ label::after,
  label.active ~ label::after,
  input:checked ~ label::after {
    opacity: 1;
  }
}

</style>