<template>
  <form  @submit.prevent="onSubmit(form)">
      <nk-input
        label="Seu email"
        type="email"
        id="email"
        name="email"
        placeholder="exemplo@email.com"
        @input="e => form.email=e"
        
      />

      <nk-input
        label="Senha"
        type="password"
        id="password"
        name="password"
        placeholder="****"
         @input="e => form.password=e"
      />
    <nk-button type="submit" class="mt-24" styling="dark" :round="true">
      <nk-h3>Entrar</nk-h3>
    </nk-button>
  </form>
  <div class="mt-40">
      <nk-button styling="none" data-bs-toggle="modal" data-bs-target="#recoverpassmodal">
          <nk-h3 class="text-dark">Esqueceu a senha?</nk-h3>
      </nk-button>
  </div>
</template>
<script lang="ts">
import { Options, Vue } from "vue-class-component";
import NkButton from "../atoms/NkButton.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkInput from "../atoms/NkInput.vue";

@Options({
  data() {
      return {
          form:{
              email: "",
              password: ""
          }
      }
  },
  components: {
    "nk-button": NkButton,
    "nk-input": NkInput,
    "nk-h3": NkHeading3,
  },
  props: {
    onSubmit: {type: Function},
  },
})
export default class NkLoginForm extends Vue {
}
</script>
