<template>
  <form class="text-start" @submit.prevent="onSubmit(form)">
      <nk-input
        label="Email cadastrado"
        type="email"
        id="email"
        name="email"
        placeholder="exemplo@email.com"
        @input="e => form.email=e"
      />
    <nk-button type="submit" class="my-24" styling="dark" :round="true">
      <nk-h3>Enviar</nk-h3>
    </nk-button>
  </form>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import NkButton from "../atoms/NkButton.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkInput from "../atoms/NkInput.vue";


export default defineComponent ({
  /* NkProfileForm */
  name: "NkPasswordResetForm",
  components: {
    "nk-button": NkButton,
    "nk-input": NkInput,
    "nk-h3": NkHeading3,
  },
  data() {
      return {
          form:{
              email: "",
          }
      }
  },
  props: {
    onSubmit: {type: Function},
  },

})
</script>
