<template>
  <form class="text-start" @submit.prevent="onSubmit(form)">
      <nk-input
        v-if="hasEmail"
        label="E-mail"
        type="email"
        id="email"
        name="email"
        placeholder="Repita aqui seu email"
        @input="e => form.email=e"
      />
      <nk-input
        label="Senha"
        type="password"
        id="password"
        name="password"
        placeholder="*******"
        @input="e => form.password=e"
      />
      <nk-input
        label="Confirme a senha"
        type="password"
        id="password"
        name="password"
        placeholder="*******"
        @input="e => form.password_confirmation=e"
      />
    <nk-button type="submit" class="my-24" styling="dark" :round="true">
      <nk-h3>Salvar</nk-h3>
    </nk-button>
  </form>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import NkButton from "../atoms/NkButton.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkInput from "../atoms/NkInput.vue";


export default defineComponent ({
  /* NkProfileForm */
  name: "NkPasswordRegisterForm",
  components: {
    "nk-button": NkButton,
    "nk-h3": NkHeading3,
    "nk-input": NkInput,
  },
  data() {
      return {
          form:{
              password: "",
              // eslint-disable-next-line
              password_confirmation: "",
          }
      }
  },
  props: {
    onSubmit: {type: Function},
    hasEmail: {type: Boolean, default: false}
  },

})
</script>
