<template >
  <form class="text-start" @submit.prevent="onSubmit(form)">
      <nk-h3 class="text-dark font-weight-700 text-start">Bem-vindo! Por favor complete seus dados para acessar nossa plataforma.</nk-h3>
      <nk-input
        label="Data de nascimento"
        type="email"
        id="email"
        name="email"
        placeholder="Data de nascimento"
        @input="e => form.nasc=e"
      />
      <nk-select
          label="Gênero"
          id="gender"
          name="gender"
          placeholder="Genero"
          :value="form.genero"
          @input="e => form.genero=e"
      >
          <option value=""></option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
          <option value="Prefiro">Prefiro não informar</option>
      </nk-select>
      <nk-select
          label="Estado"
          id="state"
          name="state"
          placeholder="Estado"
          :value="form.estado"
          @input="e => {form.estado=e; setCities(e)}"
      >
          <option value=""></option>  
          <option v-for="state in appdata.countryState" :key="state.nome" :value="state.sigla">{{state.nome}}</option>
      </nk-select>
      <nk-select
          label="Cidade"
          id="city"
          name="city"
          placeholder="Cidade"
          :value="form.cidade"
          @input="e => form.cidade=e"
      >
          <option value=""></option>  
          <option v-for="city in appdata.city" :key="city.nome" :value="city.nome">{{city.nome}}</option>
      </nk-select>
      <nk-select
          label="Local"
          id="place"
          name="place"
          placeholder="Local"
          :value="form.local"
          @input="e => form.local=e"
      >
          <option value=""></option>  
          <option value="Local1">Local1</option>
          <option value="Local2">Local2</option>
          <option value="Local3">Local3</option>
      </nk-select>
    <nk-h3 class="text-dark font-weight-700 text-start">Que tipo de conteúdo você mais quer ver?</nk-h3>

      <nk-btn-radio styling="dark" :btns="[{title:'Ekin', value: 'Ekin'}, {title:'Vm', value: 'Vm'}]"></nk-btn-radio>
    <nk-button type="submit" class="mt-24" styling="dark" :round="true">Salvar</nk-button>
  </form>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import NkButton from "../atoms/NkButton.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkInput from "../atoms/NkInput.vue";
import NkSelect from "../atoms/NkSelect.vue";
import NkRadioButton from "../molecules/NkRadioButton.vue";
import { useStore, MutationTypes, ActionTypes } from "../../store"

export default defineComponent({
    setup() {
        const store = useStore();
        const appdata = ref(store.state);

        
        return {
        appdata,
        }
    },
    name: "NkProfileForm",
    props: {
        onSubmit: {type: Function},
    },
    components: {
        "nk-button": NkButton,
        "nk-input": NkInput,
        "nk-select": NkSelect,
        "nk-h3": NkHeading3,
        "nk-btn-radio": NkRadioButton,
    },
    data() {
        return {
            form:{
                nasc: "",
                genero: "",
                estado: "",
                cidade: "",
                local: "",
            }
        }
    },

})
</script>
<style scoped lang="scss">
    
</style>