<template>
  <form class="text-start" @submit.prevent="onSubmit(form)">
      <div class="profile-modal">
        <img class="profile-pic" :src="getAvatarSrc(appdata.user.avatar_id, appdata.avatars)" alt="">
          <nk-button
            class="mini-img"
            styling="white"
            :round="true"
            size="sm"
            data-bs-dismiss="modal"
            data-bs-toggle="modal" 
            data-bs-target="#profilepic">
            <i class="icon icon-pencil"></i>
          </nk-button>
      </div>

        <div class="mt-24 d-flex justify-content-center">
            <nk-h2>{{appdata.user.name}} {{appdata.user.last_name}}</nk-h2>
        </div>

      <nk-input
        :label="appdata.user.email"
        type="email"
        id="email"
        name="email"
        :placeholder="appdata.user.email"
        :disabled="true"
        @input="e => form.email=e"
      />
      <nk-input
        label="Nome"
        type="text"
        id="name"
        name="name"
        placeholder="Nome"
        :value="values.name"
        @input="e => form.name=e"
      />
      <nk-input
        :label="appdata.user.last_name"
        type="text"
        id="lastname"
        name="lastname"
        placeholder="Sobrenome"
        @input="e => form.last_name=e"
      />
      <nk-input
        :label="appdata.user.birthday"
        type="date"
        id="birth"
        name="birth"
        placeholder="Nascimento"
        @input="e => form.birthday=e"
      />
      <nk-select
          :label="appdata.user.genre"
          id="gender"
          name="gender"
          placeholder="Genero"
          :value="form.genero"
          @input="e => form.genre=e"
      >
          <option value=""></option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
          <option value="Prefiro">Prefiro não informar</option>
      </nk-select>
      <nk-select
          label="Estado"
          id="state"
          name="state"
          placeholder="Estado"
          :value="form.estado"
          @input="e => {form.estado=e; setCities(e)}"
      >
          <option value=""></option>  
          <option v-for="state in appdata.countryState" :key="state.uf" :value="state.uf">{{state.uf}}</option>
      </nk-select>
      <nk-select
          label="Cidade"
          id="city"
          name="city"
          placeholder="Cidade"
          :value="form.cidade"
          @input="e => {form.cidade=e; setLocais(e)}"
      >
          <option value=""></option>  
          <option v-for="city in appdata.city" :key="city.city" :value="city.city">{{city.city}}</option>
      </nk-select>
      <nk-select
          label="Local"
          id="place"
          name="place"
          placeholder="Local"
          :value="form.local"
          @input="e => {form.local_id= +e; setStores(e)}"
      >
          <option value=""></option>  
          <option v-for="local in appdata.locals" :key="local.name" :value="local.id">{{local.name}}</option>
      </nk-select>
      <nk-select
          label="Loja"
          id="store"
          name="store"
          placeholder="Loja"
          :value="form.store"
          @input="e => form.store_id= +e"
      >
          <option value=""></option>  
          <option v-for="store in appdata.stores" :key="store.name" :value="store.id">{{store.name}}</option>
      </nk-select>
      <nk-btn-radio  @input="e => form.content_id= +e" styling="dark" :btns="[{title:'Ekin', value: 1}, {title:'Vm', value: 2}]"></nk-btn-radio><!-- @input="e => form.content_id= +e" -->
    <nk-button type="submit" position="center" class="mt-24" styling="dark" :round="true">Salvar</nk-button>
  </form>
  <div class="mt-40">
      <nk-button styling="none"  data-bs-toggle="modal" data-bs-target="#recoverpassmodal">
          <nk-h3 class="text-dark">Mudar Senha</nk-h3>
      </nk-button>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore, MutationTypes, ActionTypes } from "../../store"
import NkButton from "../atoms/NkButton.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkHeading2 from "../atoms/NkHeading2.vue";
import NkInput from "../atoms/NkInput.vue";
import NkSelect from "../atoms/NkSelect.vue";

import api from "@/services/api";
import NkRadioButtonVue from "../molecules/NkRadioButton.vue";
import locationService from "@/services/modules/locationService";

export default defineComponent ({
  /* NkProfileEdit */
  setup() {
    const store = useStore();
    const appdata = ref(store.state);

    
    return {
      appdata,
    }
  },
  name: "NkProfileEdit",
  components: {
    "nk-button": NkButton,
    "nk-input": NkInput,
    "nk-select": NkSelect,
    "nk-h2": NkHeading2,
    "nk-h3": NkHeading3,
    "nk-btn-radio": NkRadioButtonVue,
  },
  data() {
      return {
          form:{
              // eslint-disable-next-line
              name: "teste",
              // eslint-disable-next-line
              last_name: "",
              // eslint-disable-next-line
              email: "",
              // eslint-disable-next-line
              birthday: "",
              // eslint-disable-next-line
              genre: "",
              // eslint-disable-next-line
              store_id: "",
              // eslint-disable-next-line
              content_id: "",
              // eslint-disable-next-line
              avatar_id: 1,
          }
      }
  },
  props: {
    onSubmit: {type: Function},
    values: {type: Object},
  },
  mounted() {
    console.log("inside form edit");
    console.log(this.values?.name);
        locationService.getUf();
  },
  methods: {
    getAvatarSrc(id: any, avatars: any[]): string{
      let src = "";
      avatars.forEach(e => {
        if(e.id == id){
          src = e.url;
        }
      });
      return src;
    },
    setCities(e: string){
      locationService.getCities(e);
    },
    setLocais(e: string){
      locationService.getLocals(e);
    },
    setStores(e: string){
      locationService.getStores(e);
    }
  }

})
</script>
<style lang="scss" scoped>
.profile-pic {
      border-radius: 100%;
  min-height: 150px;
  min-width: 150px;
}
</style>