<template>
  <form class="text-start" @submit.prevent="onSubmit(form)">
    <!-- <nk-button ref="close" data-bs-dismiss="modal" v-on:click="onUpdate" ></nk-button> -->
      <nk-file
        label="Escolha uma image"
        id="pic"
        name="pic"
        placeholder="Escolha uma imagem"
        @input="e => {onSubmit(e)}"
      />
      <!-- <nk-input
        label="Escolha uma image"
        type="file"
        id="pic"
        name="pic"
        placeholder="Escolha uma imagem"
        @input="e => form.nasc=e"
      /> -->

      <div class="my-32 text-center">
        <nk-h3>Ou escolha um avatar abaixo:</nk-h3>
      </div>
      <div class="row">
        <div v-for="(item, index) in avatars" :key="index+'userAvatars'" class="col-4 mb-32">
          <button type="button" @click="updateProfilePic(item.id)" class="btn w-100 p-0 bs-none">
            <img class="profile-pic me-2" :src="item.url">
          </button>
        </div>
      </div>
  </form>

  <nk-popup id="popupGeneral" :subTitle="popupGeneralMessage" :onClose="()=>{popupGeneral = false}" :open="popupGeneral" :title="popupGeneralTitle">
  </nk-popup>

</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore, MutationTypes, ActionTypes } from "../../store"
import NkFile from "../atoms/NkFile.vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import authService from "@/services/modules/authService";
import NkPopup from "../molecules/NkPopup.vue";


export default defineComponent ({
  /* NkProfileEdit */
  setup() {
    const store = useStore();
    const appdata = ref(store.state);

    
    return {
      appdata,
    }
  },
  name: "NkProfileEdit",
  components: {
    "nk-file": NkFile,
    "nk-h3": NkHeading3,
    "nk-popup": NkPopup,
  },
  data() {
      return {
        popupGeneral: false,
        popupGeneralTitle: '',
        popupGeneralMessage: '',

        form:{
            file: null,
        }
      }
  },
  props: {
    onUpdate: {type: Function, default: ()=>{console.error("onUpdate method is empity")}},
    
    avatars: [],
  },
  mounted() {
    console.log("mounting the user edit pics");
  },
  methods: {
    updateProfilePic(avatarId: number){
      console.log("profile selected");
      console.log(avatarId)
      // eslint-disable-next-line
      authService.updateAvatar({avatar_id: avatarId}, ()=>{
        this.popupGeneral = true;
        this.popupGeneralTitle = "Sucesso!";
        this.popupGeneralMessage = "Avatar alterado com sucesso!";
        this.onUpdate();
      });
    },
    onSubmit(files: any){
      console.log("submiting a new profile pic");
      console.log(files);
      const formData = new FormData()
      formData.append('img', files[0])
      authService.uploadAvatar(formData, ()=>{
        this.popupGeneral = true;
        this.popupGeneralTitle = "Sucesso!";
        this.popupGeneralMessage = "Avatar alterado com sucesso!";
        this.onUpdate();
      })

    }
  }

})
</script>
<style lang="scss" scoped>
.bs-none{
  box-shadow: none !important;
}
.profile-pic {
  border-radius: 100%;
  width: 100%;
  max-width: 100px;
  height: auto;
}
</style>