<template lang="">
  <div class="text-start">
    <nk-h3>Para prosseguir com o uso de nossa plataforma você precisa ler e concordar com nossa Política de Privacidade e Termos de Uso. Por favor, leia-os abaixo:</nk-h3>
    <nk-h2 class="modal-title text-left mt-56">TERMOS DE USO - EKIN | VM&amp;S</nk-h2>
    <nk-h3 class="modal-title text-left mt-18">LEIA OS TERMOS DE SERVIÇO (&quot;TERMOS&quot;) CUIDADOSAMENTE ANTES
DE UTILIZAR NOSSA PLATAFORMA.</nk-h3>
    <nk-h3 class="modal-title text-left mt-18">1. PRIVACIDADE DE DADOS</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18">
A <b>FISIA Comércio de Produtos Esportivos Ltda</b> é licenciada para operar
produtos e serviços da marca Nike Inc. no Brasil. Portanto, ao se cadastrar em
qualquer plataforma da Família Nike em domínios do Brasil, terá seus dados
pessoais tratados pela <b>FISIA</b> de acordo com a Política de Privacidade da Nike
e as leis e regulamentos de privacidade aplicáveis, não se limitando à Lei nº.
13.709/2018 ou &quot;LGPD&quot;.    </nk-h4>
    <nk-h4 class="politics-txt text-left mt-18">
A Política de Privacidade da Nike está disponível em: <a href="https://www.nike.com.br">Nike.com.br</a>
    </nk-h4>
    <nk-h3 class="modal-title text-left mt-18">1.1. ACESSO À PLATAFORMA</nk-h3>

    <nk-h4 class="politics-txt text-left mt-18">
O acesso à plataforma é restrito apenas para logins de colaboradores FISIA e
de canais parceiros pré-selecionados. O site está disponível em: <a href="https://www.nike.com.br">Nike.com.br</a>
    </nk-h4>
    <nk-h3 class="modal-title text-left mt-18">1.2. DADOS SOLICITADOS</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18">
Os dados solicitados para tratamento incluem:
    </nk-h4>
    <ul>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Dados de identificação;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Dados para login (e-mail e senha);
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Dados de contato para comunicação via aplicativos de mensagens
instantâneas;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Dados de localização para vincular o funcionário à região de atuação.
        </nk-h4>
      </li>
    </ul>
    <nk-h4 class="politics-txt text-left mt-18">
      <b>Obs.:</b> a opção de escolher a área (EKIN ou VM&amp;S) é limitada a apenas uma
opção, sendo a prioritária. Após o término do cadastro é possível acessar as
duas áreas.
    </nk-h4>
    <nk-h3 class="modal-title text-left mt-18">1.3. TRATAMENTO DOS DADOS</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18 ">
      O tratamento dos dados será apenas para os fins de utilização da plataforma,
adicionalmente, não compartilhamos os dados com terceiros ou parceiros.
    </nk-h4>
    <nk-h4 class="politics-txt text-left mt-18 ">
      Em muitos casos, para usar recursos específicos da plataforma, poderemos
solicitar o consentimento adicional para utilização de dados específicos de uma
determinada forma como, por exemplo, acesso à câmera para publicação de
fotos.
    </nk-h4>
    <nk-h4 class="politics-txt text-left mt-18 ">
      Embora qualquer pessoa possa pedir o cadastro, apenas trataremos e
manteremos os dados dos colaboradores que estiverem pré-cadastrados em
nossas bases que permitem o acesso à plataforma. Todo dado que não for
referente à essas pessoas autorizadas serão descartados.
    </nk-h4>
    <nk-h3 class="modal-title text-left mt-18">1.4. PROTEÇÃO E DIREITO DE DADOS</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18 ">
      Utilizamos uma variedade de medidas de segurança técnicas e
organizacionais, incluindo ferramentas de criptografia e autenticação, para
manter a segurança de seus dados pessoais.
    </nk-h4>
    <nk-h4 class="politics-txt text-left mt-18 ">
      Embora os dados sejam fornecidos de livre e espontânea vontade, você tem o
direito como titular de exercer seus direitos previstos na legislação de Proteção
de Dados (lei nº 13.709/2018).
    </nk-h4>
    <nk-h4 class="politics-txt text-left mt-18 ">
      Se desejar solicitar uma cópia de seus dados pessoais ou exercer algum de
seus outros direitos, entre em contato juridico@gruposbf.com.br.
    </nk-h4>
    <nk-h3 class="modal-title text-left mt-18">2. POLÍTICA DE COOKIES</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18 ">
      A plataforma coleta informações do navegador, que podem incluir dados
pessoais. Utilizamos os cookies para coleta de informações como: seu (i) data
e hora de login; (ii) usuário de login (sem a captura de senha); (iii) informações
sobre sua interação na plataforma tais como visualizações de posts,
comentários em publicações, conteúdos favoritados, recorrência de conteúdos
acessados e avaliações de produtos.
    </nk-h4>
    <nk-h4 class="politics-txt text-left mt-18 ">
      A Política de Cookies da Nike está disponível em: <a href="https://www.nike.com.br">Nike.com.br</a>
    </nk-h4>
    <nk-h3 class="modal-title text-left mt-18">3. SOBRE A PLATAFORMA</nk-h3>
    <nk-h3 class="modal-title text-left mt-18">A RESPONSABILIDADE DAS POSTAGENS É DO USUÁRIO QUE POSTA,
ISENTANDO A RESPONSABILIZAÇÃO DA FISIA EM CASOS DE
QUALQUER TIPO DE VIOLAÇÃO.</nk-h3>
    <nk-h3 class="modal-title text-left mt-18">3.1. UTILIZAÇÃO PELO USUÁRIO</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18 ">
      Para uma boa utilização da plataforma, é necessário:
    </nk-h4>
    <ul>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Manter seu nome de usuário, senha e outras credenciais de login
seguras e não permita que ninguém use sua conta;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Informe imediatamente sobre qualquer uso não autorizado da sua conta;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Entender que o conteúdo publicado tem objetivo de comunicação e será
exibido para todos os usuários que possuem acesso à plataforma.
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Se comprometer a não disponibilizar os conteúdos da plataforma em
mídias sociais ou com pessoas que não sejam cadastradas.
        </nk-h4>
      </li>
    </ul>
    <nk-h4 class="politics-txt text-left mt-18">
<b>Obs.:</b> toda solicitação enviada pelo usuário será respondida em até 48h.
    </nk-h4>
    <nk-h3 class="modal-title text-left mt-18">3.2. SOBRE O FEED</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18">
Para o bom uso do Feed dentro da plataforma é necessário:
    </nk-h4>
    <ul>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Entender que todo conteúdo publicado é sigiloso e apenas pessoas
autorizadas a acessar a plataforma podem ter acesso. Qualquer
disponibilização dos conteúdos em mídias sociais ou por qualquer outro
canal estará sujeito à penalidades.
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Entender que a plataforma é de uso exclusivo para publicação e
discussão de assuntos e temas relacionados à Nike, esportes,
treinamentos e afins. Devem ser evitados assuntos com temas sensíveis
e que podem trazer qualquer tipo de discriminação como, por exemplo,
assuntos de religião, política, filiação à qualquer tipo de organização,
entre outros.
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Garantir que o conteúdo publicado não viola direitos de terceiros,
incluindo direitos de propriedade intelectual.
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Publicar apenas conteúdos que tiver todas as permissões e direitos
necessários para disponibilizar na plataforma (incluindo a autorização de
imagem de terceiros no caso de fotos e vídeos publicados);
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Não publicar qualquer conteúdo que possa expor a FISIA ou seus
usuários a qualquer tipo de dano;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Não publicar nenhum conteúdo que contenha algum tipo de malware ou
modificação de qualquer tecnologia da empresa;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Não expor dados pessoais e de terceiros na plataforma, bem como não
solicitar informações pessoais de outros usuários;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Não fazer publicidade ou inserir conteúdo comercial na plataforma;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Não publicar conteúdos que façam link para outro site ou aplicativo que
envolva qualquer prática ilegal, enganosa, maliciosa, assediadora,
imprecisa e discriminatória, ou que viole quaisquer leis aplicáveis.
        </nk-h4>
      </li>
    </ul>
    <nk-h3 class="modal-title text-left mt-18">3.3. BLOQUEIOS</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18">
A plataforma possui um controle de bloqueios de palavras ofensivas, impedindo
a postagem se houver qualquer uma das palavras desta lista.
    </nk-h4>
    <nk-h4 class="politics-txt text-left mt-18">
Entretanto, o conteúdo no momento da postagem não é analisado. Em casos
de denúncias ou de problemas no fórum, a FISIA pode ser acionada para
seguir com a exclusão de qualquer postagem sem aviso prévio.
    </nk-h4>
    <nk-h3 class="modal-title text-left mt-18">4. PENALIDADES PREVISTAS</nk-h3>
    <nk-h3 class="modal-title text-left mt-18">4.1. GRUPO SBF</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18">
Em caso de qualquer infração e, de acordo com a gravidade e o impacto
causado por ela, poderão ser aplicadas as seguintes penalidades:
    </nk-h4>
    <ul>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Suspensão de utilização na plataforma;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Advertência formal e escrita, aplicada pelo departamento de Recursos
Humanos;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Processo civil ou criminal;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Ressarcimento dos prejuízos, conforme previsto em contrato ou apurado
pelo órgão competente;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Dispensa por justa causa;
        </nk-h4>
      </li>
      <li>
        <nk-h4 class="politics-txt text-left mt-18">
    Encerramento do contrato de prestação de serviços.
        </nk-h4>
      </li>
    </ul>
    <nk-h3 class="modal-title text-left mt-18">4.2. PARCEIROS</nk-h3>
    <nk-h4 class="politics-txt text-left mt-18">
No caso de qualquer infração pela utilização de colaboradores de parceiros
será feita uma notificação formal e as penalidades seguirão as normas
estabelecidas nas políticas da empresa em questão.
    </nk-h4>
    <nk-h4 class="politics-txt text-left mt-18">
Obrigado por ler. Aproveite nossa comunidade!
    </nk-h4>



    <div class="mt-56">
      <nk-checkbox label="Li e concordo com a Política de Privacidade" id="privacidade"></nk-checkbox>
      <nk-checkbox label="Li e concordo com os Termos de Uso" id="termos"></nk-checkbox>
    </div>
    <div class="justify-content-center mt-42 mb-50">
      <nk-button :round="true" styling="dark">Concordo</nk-button>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkHeading2 from "../atoms/NkHeading2.vue";
import NkHeading4 from "../atoms/NkHeading4.vue";
import NkButton from "../atoms/NkButton.vue";
import NkCheckbox from "../atoms/NkCheckbox.vue";

export default defineComponent({
  name: "NkTermsForm",
  components: {
    "nk-h2": NkHeading2,
    "nk-h3": NkHeading3,
    "nk-h4": NkHeading4,
    "nk-button": NkButton,
    "nk-checkbox": NkCheckbox,
  },
});
</script>
<style lang="">
</style>