<template>
  <form  v-if="formReady" class="text-start position-relative" :id="formId" @submit.prevent="()=>{validade()}">
    <br>
      <nk-input
        label="Email"
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        :invalid="formValidade.email"
        :danger="errors?.email?.length >= 1"
        :invalidReason="errors?.email"
        :disabled="disableEmail"
        :hidden="hideNameAndEmail"
        :value="form.email"
        @input="e => form.email=e"
      />
      <nk-input
        label="Nome"
        type="text"
        id="name"
        name="name"
        placeholder="Nome"
        :invalid="formValidade.name"
        :hidden="hideNameAndEmail"
        :danger="errors?.name?.length >= 1"
        :invalidReason="errors?.name"
        :value="form.name"
        @input="e => form.name=e"
      />
      <nk-input
        label="Sobrenome"
        type="text"
        id="lastname"
        name="lastname"
        placeholder="Sobrenome"
        :invalid="formValidade.last_name"
        :hidden="hideNameAndEmail"
        :danger="errors?.last_name?.length >= 1"
        :invalidReason="errors?.last_name"

        :value="form.last_name"
        @input="e => form.last_name=e"
      />
      <nk-input
        label="Cpf"
        type="text"
        id="cpf"
        name="cpf"
        placeholder="000.000.000-00"
        inputmode="numeric"
        mask="cpf"
        :disabled="disableEmail"
        :invalid="formValidade.cpf"
        :danger="errors?.cpf?.length >= 1"
        :invalidReason="errors?.cpf"

        :value="form.cpf"
        @input="e => form.cpf=e"
      />
      <!-- <div class="datepick position-relative">
        <label v-bind:class="[(form.birthday == null || form.birthday == '')?'full':'small', 'transition']">Data de Nascimento</label>
        <datepicker
          :locale="pt"
          v-model="form.birthday"
          inputFormat="dd/MM/yyyy"
          v-bind:class="[(form.birthday == null && formValidade.birthday) ? 'invalid' : '',  'calendar-icon', 'mt-4']"
        />
        <i :class="'icon icon-calendar calendar'"></i>
        <nk-p v-if="form.birthday == null && formValidade.birthday" class="text-danger ms-3 mt-1">Este campo é obrigatório</nk-p>
      </div> -->

      <!-- <nk-datepicker 
        label="Data de Nascimento"
        type="date"
        id="birth"
        name="birth"
        placeholder="Nascimento"
        icon="calendar"
        :invalid="formValidade.birthday"
        :danger="errors?.birthday?.length >= 1"
        :invalidReason="errors?.birthday"

        :value="form.birthday"
        @input="e => form.birthday=e"
      /> -->

      <nk-input
        label="Data de Nascimento"
        type="text"
        inputmode="numeric"
        id="birth"
        name="birth"
        placeholder="dd/mm/aaaa"
        icon="calendar"
        mask="date"
        :invalid="formValidade.birthday"
        :danger="errors?.birthday?.length >= 1"
        :invalidReason="errors?.birthday"

        :value="form.birthday"
        @input="e => form.birthday=e"
      />
      <nk-input
        label="Telefone / Whatsapp"
        type="text"
        id="phone"
        inputmode="numeric"
        name="phone"
        mask="phone"
        placeholder="00 00000 0000"
        :danger="errors?.phone?.length >= 1"
        :invalidReason="errors?.phone"
        :value="form.phone"
        @input="e => form.phone=e"
      />
      <nk-select
          label="Gênero"
          id="gender"
          name="gender"
          placeholder="Genero"
          :invalid="formValidade.genre"
          :danger="errors?.genre?.length >= 1"
          :invalidReason="errors?.genre"
          :value="form.genre"
          @input="e => form.genre=e"
      >
          <option value=""></option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
          <option value="Outro">Outro</option>
      </nk-select>
      <nk-select
          label="Estado"
          id="state"
          name="state"
          placeholder="Estado"
          :invalid="formValidade.uf"
          :danger="errors?.uf?.length >= 1"
          :invalidReason="errors?.uf"
          :value="form.uf"
          @input="e => {form.uf=e; setCities(e)}"
      >
          <option value=""></option>  
          <option v-for="state in appdata.countryState" :key="state.uf" :value="state.uf">{{state.uf}}</option>
      </nk-select>
      <!-- appdata.city -->
      <nk-search-select
          label=""
          id="search"
          name="search"
          :disabled="cityOptions.length<=0"
          placeholder="Cidade "
          :invalid="formValidade.city"
          :options="cityOptions"
          :value="form.city"
          :clearFunction="()=>{form.city = ''}"
          @input="e => {form.city=e; setLocais(e)}"
      >
      </nk-search-select>
      <nk-select
        label="Local"
        id="place"
        name="place"
        placeholder="Local"
        :invalid="formValidade.local_id"
        :value="form.local_id"
        @input="e => {form.local_id= +e; setStores(e)}"
      >
          <option value=""></option>  
          <option v-for="local in appdata.locals" :key="local.name" :value="local.id">{{local.name}}</option>
      </nk-select>
      <nk-search-select
        label=""
        id="store"
        name="store"
        placeholder="Loja "
        :invalid="formValidade.store_id"
        :disabled="storeOptions.length<=0"
        :options="storeOptions"
        :value="form.store_id"
        :clearFunction="()=>{form.store_id = ''}"
        @input="e => {form.store_id= +e;}"
      >
      </nk-search-select>

      <!-- <nk-select
          label="Loja"
          id="store"
          name="store"
          placeholder="Loja"
          icon="search"
          :value="form.store_id"
          @input="e => form.store_id= +e"
      >
          <option value=""></option>  
          <option v-for="store in appdata.stores" :key="store.name" :value="store.id">{{store.name}}</option>
      </nk-select> -->
      <nk-btn-radio 
        :value="form.content_id" 
        :formId="formId"  
        @input="e => form.content_id= +e" 
        :invalid="formValidade.content_id"
        styling="dark" 
        :btns="[{title:'EKIN', value: 1}, {title:'VM&S', value: 2}]">
      </nk-btn-radio>
      <nk-checkbox  :required="true" class="mx-4" id="agree">
        <nk-h4 class="pt-1">Li e concordo com os <a class="text-dark " href="#termsmodal" data-bs-toggle="modal">Politica de Privacidade e Termos de Uso</a></nk-h4>
      </nk-checkbox>
    <nk-button type="submit" position="center" class="mt-24" styling="dark" :round="true">
      <nk-h3>Salvar</nk-h3>
    </nk-button>
  </form>
  <div class="mt-40 mb-100">
      <slot/>
  </div>

</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore, MutationTypes, ActionTypes } from "../../store"
import NkButton from "../atoms/NkButton.vue";
import NkInput from "../atoms/NkInput.vue";
import NkSelect from "../atoms/NkSelect.vue";

import api from "@/services/api";
import NkRadioButtonVue from "../molecules/NkRadioButton.vue";
import locationService from "@/services/modules/locationService";
import NkHeading3 from "../atoms/NkHeading3.vue";
import NkSearchSelectVue from "../atoms/NkSearchSelect.vue";
import notificationsService from "@/services/modules/notificationsService";
import NkCheckbox from "../atoms/NkCheckbox.vue";
import NkHeading4 from "../atoms/NkHeading4.vue";
import NkDatePickerVue from "../atoms/NkDatePicker.vue";
import Datepicker from 'vue3-datepicker'
import { pt } from 'date-fns/locale'
import NkParagraph from "../atoms/NkParagraph.vue";

export default defineComponent ({
  /* NkProfileForm */
  setup() {
    const store = useStore();
    const appdata = ref(store.state);
    
    return {
      appdata,
    }
  },
  name: "NkUserForm",
  components: {
    "nk-button": NkButton,
    /* "nk-p": NkParagraph, */
    /* "datepicker": Datepicker, */
    "nk-input": NkInput,
    "nk-h3": NkHeading3,
    "nk-h4": NkHeading4,
    "nk-select": NkSelect,
    "nk-search-select": NkSearchSelectVue,
    "nk-btn-radio": NkRadioButtonVue,
    "nk-checkbox": NkCheckbox,
  },
  data() {
    return {
      pt,
      /* eslint-disable */

      formReady: false,
      cityOptions: [{}],
      storeOptions: [{}],
      form:{
        name: null,
        last_name: null,
        cpf: "",
        email: null,
        birthday: "",
        genre: "",
        phone: null,
        uf: "",
        city: "",
        local_id: "",
        store_id: "",
        content_id: null,
        avatar_id: 1,
      },
      formValidade:{
        name: false,
        last_name: false,
        cpf: false,
        email: false,
        birthday: false,
        genre: false,
        uf: false,
        city: false,
        local_id: false,
        store_id: false,
        content_id: false,
      }
      /* eslint-enable */
    }
  },
  props: {
    formId: String,
    submit: {type: Function, default: () => 1},
    values: {type: Object},
    errors: {type: Object},
    hideNameAndEmail: {type: Boolean},
    disableEmail: {type: Boolean},
  },
  async mounted() {
    this.cityOptions = [];
    this.storeOptions = [];
    await locationService.getUf();
    console.log("being called after FETCH_COUNTRY_STATE")
    if(this.values){
      /* eslint-disable */
      this.form.name = this.values.name;
      this.form.last_name = this.values.last_name;
      this.form.cpf = this.values.cpf;
      this.form.email = this.values.email;
      this.form.birthday = this.values.birthday;
      this.form.phone = this.values.phone;
      this.form.genre = this.values.genre;
      this.form.uf = this.values.store?.uf;
      this.form.city = this.values.store?.city;
      this.form.local_id = this.values.store?.local_id;

      this.form.store_id = this.values.store_id;
      this.form.content_id = this.values.content_id;
      this.form.avatar_id = this.values.avatar_id;
      /* eslint-enable */

      await this.setCities(this.values.store?.uf);
      await this.setLocais(this.values.store?.city);
      await this.setStores(this.values.store?.local_id);
    }
    console.log("form ->")
    console.log(this.form)
    console.log("values ->")
    console.log(this.values)

    this.formReady = true;
  },
  methods: {
    async setCities(e: string){
      await locationService.getCities(e);
      /* [{option: 'João Pessoa'}, {option: 'Campina Grande'}, {option: 'Bayeux'}, {option: 'Santa Rita'}, {option: 'Cabedelo'}] */
      this.cityOptions = [];
      this.appdata.city?.forEach(city => {
        this.cityOptions.push({option: ""+city.city, value: ""+city.city})
      });
      
    },
    setLocais(e: string){
      locationService.getLocals(e);
    },
    async setStores(e: string){
      await locationService.getStores(e);

      this.storeOptions = [];
      this.appdata.stores?.forEach(store => {
        this.storeOptions.push({option: ""+store.name, value: ""+store.id})
      });
    },
    validade(){
      console.log("validade being called")
      /* eslint-disable */
      this.formValidade.name = (this.form.name === '' || this.form.name === null);
      this.formValidade.last_name = (this.form.last_name === '' || this.form.last_name === null);
      this.formValidade.cpf = (this.form.cpf === '' || this.form.cpf === null);
      this.formValidade.email = (this.form.email === '' || this.form.email === null);
      this.formValidade.birthday = (this.form.birthday === '' || this.form.birthday === null || this.form.birthday === ' ');
      this.formValidade.genre = (this.form.genre === '' || this.form.genre === null);
      this.formValidade.uf = (this.form.uf === '' || this.form.uf === null);
      this.formValidade.city = (this.form.city === '' || this.form.city === null);
      this.formValidade.local_id = (this.form.local_id === '' || this.form.local_id === null);
      this.formValidade.store_id = (this.form.store_id === '' || this.form.store_id === null);
      this.formValidade.content_id = (this.form.content_id === '' || this.form.content_id === null);

      if(this.formValidade.name || 
        this.formValidade.last_name || 
        this.formValidade.cpf || 
        this.formValidade.email || 
        this.formValidade.store_id || 
        this.formValidade.content_id || 
        this.formValidade.birthday){
        notificationsService.add({type: "danger", message: "preencha todos os dados necessarios"})
        return;
      }
      let payload = Object.assign({}, this.form)
      
      payload.cpf = (payload.cpf+'').replace('.', '')
      payload.cpf = (payload.cpf+'').replace('.', '')
      payload.cpf = (payload.cpf+'').replace('-', '')
      payload.birthday = (payload.birthday+'').replace('/', '-')
      payload.birthday = (payload.birthday+'').replace('/', '-')
      payload.birthday = (payload.birthday+'').replace('/', '-')

      this.submit(payload);
      /* eslint-enable */

    }
}

})
</script>
