<template>

  <!-- <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/helloworld">Hello World</router-link> |
    <router-link to="/sobre">Sobre</router-link>
  </div> -->
  <nk-menu v-if="showingMenu()" />
  <nk-toast-notifications />
  <router-view/>
  <!-- <accept-cookie/> -->

</template>
<script>
  import { defineComponent, computed, reactive } from 'vue'
  import NkMenu from "@/components/molecules/NkMenu.vue";
  import router from "@/router";
  import NkToastNotificationsVue from "./components/molecules/NkToastNotifications.vue";
/*import NkCookie from "./components/molecules/NkCookie.vue"; */
import { useHead } from '@vueuse/head'

  export default defineComponent({
    setup() {
      /* const siteData = reactive({
        description: `Plataforma de treinamento nike`,
        title: `Nike - Ekin`
      })
      useHead({
        title: computed(() => siteData.title),
        meta: [
          {
            name: `description`,
            content: computed(() => siteData.description),
          },
        ],
      }) */
    },
    components: {
      "nk-menu": NkMenu,
      "nk-toast-notifications": NkToastNotificationsVue,
      /* "accept-cookie": NkCookie, */

    },
    mounted() {
      console.log("router.currentRoute.value");
      console.log(router.currentRoute.value);
    },
    methods: {
      showingMenu(){
        const n = router.currentRoute.value.fullPath.includes("/#");

        if(n){
          router.push({path: "/home"});

        }
        if(router.currentRoute.value.fullPath === "/#/home"){
          router.push({path: "/home"});

        }
        return !(router.currentRoute.value.fullPath === "/" || router.currentRoute.value.fullPath === "/home" || router.currentRoute.value.name === "newPassword" || router.currentRoute.value.name === "Reset" || router.currentRoute.value.fullPath === "/404");
      }
    },
  })
</script>

<style lang="scss">

/* @import "@/assets/layout/typeface";  */
@import "@/assets/layout/styles.scss";
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
